In [1]:
%load_ext kedro.extras.extensions.ipython

The kedro.extras.extensions.ipython extension is already loaded. To reload it, use:
  %reload_ext kedro.extras.extensions.ipython

In [2]:
%reload_kedro

2022-08-01 11:29:37,105 - kedro.framework.hooks.manager - INFO - Registered hooks from 1 installed plugin(s): kedro-mlflow-0.8.1
2022-08-01 11:29:37,152 - kedro.framework.session.store - INFO - `read()` not implemented for `BaseSessionStore`. Assuming empty store.
2022-08-01 11:29:37,672 - root - INFO - ** Kedro project GetInData ML Framework
2022-08-01 11:29:37,672 - root - INFO - Defined global variable `context`, `session`, `catalog` and `pipelines`
2022-08-01 11:29:37,683 - root - INFO - Registered line magic `run_viz`
2022-08-01 11:29:37,683 - root - INFO - Registered line magic `reload_kedro_mlflow`

In [3]:
import pandas as pd
import numpy as np

In [4]:
pd.set_option('display.float_format', lambda x: '%.4f' % x)

In [5]:
catalog.list()

['articles',
 'customers',
 'transactions',
 'customers_sample',
 'transactions_sample',
 'articles_sample',
 'input_images',
 'resized_images',
 'image_embeddings',
 'text_embeddings',
 'candidates',
 'parameters',
 'params:image_embeddings_inference',
 'params:image_embeddings_inference.run_id',
 'params:image_embeddings_inference.image_path',
 'params:image_embeddings_inference.batch_size',
 'params:candidate_generation',
 'params:candidate_generation.global_articles',
 'params:candidate_generation.global_articles.n_days',
 'params:candidate_generation.global_articles.top_n',
 'params:candidate_generation.segment_articles',
 'params:candidate_generation.segment_articles.no_segments',
 'params:candidate_generation.segment_articles.n_days',
 'params:candidate_generation.segment_articles.top_n',
 'params:candidate_generation.image_embeddings',
 'params:candidate_generation.image_embeddings.n_last_bought',
 'params:candidate_generation.image_embeddings.k_closest',
 'params:candidate_generation.image_embeddings.name',
 'params:candidate_generation.text_embeddings',
 'params:candidate_generation.text_embeddings.n_last_bought',
 'params:candidate_generation.text_embeddings.k_closest',
 'params:candidate_generation.text_embeddings.name',
 'params:customers',
 'params:transactions',
 'params:articles',
 'params:image_embeddings',
 'params:image_embeddings.image_path',
 'params:image_embeddings.encoder',
 'params:image_embeddings.decoder',
 'params:image_embeddings.batch_size',
 'params:image_embeddings.image_size',
 'params:image_embeddings.embedding_size',
 'params:image_embeddings.num_epochs',
 'params:image_embeddings.shuffle_reconstructions',
 'params:image_embeddings.save_model',
 'params:image_embeddings.model_name',
 'params:image_embeddings.seed',
 'params:image_resizer',
 'params:image_resizer.output_size',
 'params:image_resizer.method',
 'params:sampling',
 'params:sampling.cutoff_date',
 'params:sampling.customers_sample_size',
 'params:sampling.articles_sample_size',
 'params:sampling.article_img_dir',
 'params:sampling.article_img_sample_dir',
 'params:text_embeddings',
 'params:text_embeddings.transformer_model']

In [44]:
transactions = context.catalog.load('transactions_sample')

2022-07-29 15:42:26,775 - kedro.io.data_catalog - INFO - Loading data from `transactions_sample` (CSVDataSet)...

In [45]:
customers = context.catalog.load('customers_sample')

2022-07-29 15:42:27,150 - kedro.io.data_catalog - INFO - Loading data from `customers_sample` (CSVDataSet)...

In [46]:
articles = context.catalog.load('articles_sample')

2022-07-29 15:42:27,534 - kedro.io.data_catalog - INFO - Loading data from `articles_sample` (CSVDataSet)...

In [47]:
candidates = context.catalog.load('candidates')

2022-07-29 15:42:28,073 - kedro.io.data_catalog - INFO - Loading data from `candidates` (ParquetDataSet)...

In [48]:
candidates.shape

(137198, 5)

In [50]:
candidates[candidates.isna().any(axis=1)]

,customer_id,global_articles,segment_articles,previously_bought,previously_bought_prod_name
0,ff18c106287931d170618b59fd402ed0ecc292869aad5f...,0915526001,"[0915526001, 0854193002, 0714790020, 081656300...",None,None
1,136601b1d1f36b13b9a4bbe185f164f24f522c5d476d09...,0854193002,"[0915526001, 0854193002, 0714790020, 081656300...",None,None
2,247a3ee3fe8a153bbf14e41f18c8bb5ebc9d53fe83830d...,0714790020,"[0915526001, 0851780001, 0714790020, 081711000...",None,None
3,d1e601dc9ea370b6dee95cbb983adf7fe5294386410be9...,0778745010,"[0915526001, 0854193002, 0816563002, 071479002...",None,None
4,abc428504037054226353c4194380c7f16aff32b0633ac...,0822115004,"[0915526001, 0854193002, 0816563002, 071479002...",None,None
...,...,...,...,...,...
137191,062be3be34073fa66d5cf0c3bea79c0216e0bd1a3733ef...,0832481001,"[0915526001, 0854193002, 0714790020, 077874501...",None,None
137192,671925f22ea9e96c81a4cda602b2015149e20889b99cda...,0720125001,"[0915526001, 0851780001, 0714790020, 081711000...",None,None
137194,c321175e12787427aa6d00985519c41650614b362e206f...,0803757019,"[0915526001, 0854193002, 0714790020, 077874501...",None,None
137196,dc066cb0d1be0a395c472b1a31679fcd64035db1a42121...,0797988001,"[0915526001, 0854193002, 0816563002, 071479002...",None,None
137197,4bb1952ea5ae562246737b4904e5db79ee65ec732f7c31...,0908081003,"[0915526001, 0854193002, 0714790020, 077874501...",None,None

In [52]:
transactions[transactions.customer_id.isin(['ff18c106287931d170618b59fd402ed0ecc292869aad5f'])]

Empty DataFrame
Columns: [t_dat, customer_id, article_id, price, sales_channel_id]
Index: []

In [55]:
transactions[transactions.customer_id.isin(candidates[candidates.isna().any(axis=1)].customer_id.to_list())]

Empty DataFrame
Columns: [t_dat, customer_id, article_id, price, sales_channel_id]
Index: []

In [56]:
transactions[~(transactions.customer_id.isin(candidates[candidates.isna().any(axis=1)].customer_id.to_list()))].shape

(157785, 5)

In [57]:
transactions.shape, customers.shape, articles.shape

((157785, 5), (137198, 7), (21108, 25))

In [13]:
my_dict = {'01': {'0101', '02020', '03030'}, '02': {'02032', '32131', '321321', '32131321'}}

In [14]:
my_dict

{'01': {'0101', '02020', '03030'},
 '02': {'02032', '32131', '32131321', '321321'}}

In [31]:
my_df = pd.DataFrame(my_dict.keys(), columns=['blasda'])

In [32]:
my_df

  blasda
0     01
1     02

In [33]:
my_df['blabla'] = my_df.loc[:, 'blasda'].map(my_dict)

In [34]:
my_df

  blasda                            blabla
0     01              {02020, 0101, 03030}
1     02  {32131, 32131321, 02032, 321321}

In [15]:
pd.DataFrame.from_dict(my_dict, orient='index')

        0         1      2       3
01  02020      0101  03030    None
02  32131  32131321  02032  321321

### Popularity items

- recent popular items (1, 3, 7, 30, 90 days), most popular products (overall)
- products purchased previously (all)
- popular items by SEGMENTS (age, gender) (1, 3, 7, 30, 90 days)
- items which have the same `prod_name`
<br><br>
- IMAGE/TEXT EMBEDDINGS
- BASKET MARKET ANALYSIS
<br><br>
- just choose the `N` that maximizes recall for EACH METHOD

In [10]:
transactions.t_dat = pd.to_datetime(transactions.t_dat)

In [11]:
transactions.t_dat.describe(datetime_is_numeric=True)[['min', 'max']]

min    2020-04-01 00:00:00
max    2020-09-22 00:00:00
Name: t_dat, dtype: object

In [12]:
transactions.head()

,t_dat,customer_id,article_id,price,sales_channel_id
0,2020-04-01,0090852ad6a446ccf02a7d57ec7385c360ab33a813b870...,0817352006,0.0508,2
1,2020-04-01,02001d047023157327d7a41fbcb9227dfe589ddccfab3c...,0795790001,0.0339,2
2,2020-04-01,02001d047023157327d7a41fbcb9227dfe589ddccfab3c...,0756347001,0.0305,2
3,2020-04-01,021950aab71ee5b077953803dfa182e04996f69baad474...,0351484002,0.0220,2
4,2020-04-01,026a83da294520e421e709d14b3bcc1da4025bd006d820...,0825318005,0.0163,2

## global articles

In [13]:
articles_bought_by_most_customers = (transactions
    .groupby(['article_id'])['customer_id']
    .nunique()
    .reset_index(name='cd_customer_id')
    .sort_values(by='cd_customer_id', ascending=False)
)

In [14]:
articles_bought_by_most_customers.head(200).article_id.to_list()

['0599580038',
 '0720125001',
 '0599580052',
 '0714790020',
 '0684209013',
 '0827968001',
 '0776237020',
 '0759871001',
 '0351484002',
 '0880839001',
 '0817353008',
 '0833530002',
 '0717490010',
 '0554598003',
 '0879248001',
 '0778064003',
 '0698276009',
 '0832361001',
 '0832473001',
 '0863937003',
 '0853881001',
 '0832453002',
 '0706016015',
 '0841434003',
 '0915526001',
 '0852174001',
 '0759871004',
 '0783346016',
 '0399256005',
 '0768912001',
 '0720125041',
 '0832481002',
 '0860949002',
 '0816423002',
 '0600886011',
 '0748355002',
 '0783346020',
 '0817401002',
 '0860819001',
 '0882888002',
 '0816563002',
 '0832330002',
 '0759469001',
 '0857570001',
 '0824352001',
 '0850244003',
 '0821163003',
 '0832362002',
 '0700701001',
 '0636323001',
 '0688537026',
 '0751471043',
 '0685813001',
 '0811835001',
 '0810557003',
 '0816166001',
 '0571706001',
 '0212629048',
 '0759814009',
 '0852775002',
 '0858052006',
 '0865171002',
 '0803757001',
 '0811907006',
 '0817477001',
 '0817166001',
 '0832361003',
 '0860949001',
 '0843793004',
 '0817110001',
 '0757303012',
 '0832481001',
 '0863565001',
 '0821163008',
 '0212629004',
 '0841260007',
 '0855793001',
 '0783346023',
 '0621381012',
 '0716672003',
 '0714790021',
 '0901607003',
 '0811777007',
 '0854193002',
 '0832298006',
 '0852775004',
 '0811907003',
 '0599580047',
 '0554479001',
 '0153115020',
 '0858052001',
 '0757995009',
 '0832331002',
 '0863565004',
 '0572998001',
 '0832481005',
 '0835008005',
 '0850244001',
 '0821336004',
 '0842607001',
 '0636323002',
 '0854683001',
 '0812658001',
 '0808628002',
 '0624486076',
 '0885710002',
 '0658298007',
 '0832465007',
 '0817069001',
 '0895002004',
 '0811783002',
 '0816521005',
 '0808028001',
 '0823118004',
 '0843685002',
 '0855200007',
 '0878013004',
 '0810838011',
 '0700701002',
 '0820484003',
 '0844160002',
 '0536139006',
 '0867044001',
 '0901955001',
 '0855706004',
 '0621381001',
 '0797078010',
 '0687704022',
 '0816588001',
 '0805510026',
 '0758002011',
 '0810557002',
 '0816841004',
 '0832359006',
 '0884319001',
 '0715624010',
 '0843685001',
 '0845790003',
 '0685811001',
 '0811783001',
 '0762143001',
 '0817110002',
 '0624486069',
 '0721990006',
 '0868762003',
 '0811835009',
 '0792469001',
 '0816563003',
 '0870304001',
 '0599580074',
 '0845032001',
 '0842952001',
 '0841228002',
 '0800389001',
 '0854677004',
 '0868018002',
 '0800691009',
 '0841260013',
 '0832527002',
 '0854193004',
 '0562245100',
 '0552716001',
 '0868164002',
 '0852374005',
 '0868018001',
 '0470789001',
 '0857277001',
 '0690936013',
 '0804992001',
 '0840607001',
 '0850241001',
 '0516859008',
 '0880839002',
 '0490176004',
 '0878794002',
 '0847673001',
 '0809549001',
 '0832036005',
 '0879781004',
 '0767799003',
 '0768921001',
 '0827968003',
 '0812464001',
 '0913030001',
 '0921226001',
 '0832473004',
 '0852498001',
 '0832475002',
 '0753737015',
 '0768759006',
 '0826508002',
 '0797078011',
 '0855706001',
 '0827687001',
 '0600886022',
 '0874320001',
 '0746994001',
 '0456163086',
 '0832479003',
 '0865921001']

In [15]:
articles_sold_most = (transactions
    .groupby(['article_id'])['customer_id']
    .size()
    .reset_index(name='sales_sum_count')
    .sort_values(by='sales_sum_count', ascending=False)
)

In [16]:
articles_sold_most.head()

      article_id  sales_sum_count
576   0599580038              874
1578  0714790020              665
578   0599580052              658
1671  0720125001              619
1134  0684209013              613

### trending articles (nope)

Trending articles seem to much engineered by hand, you can just take popularity items from last 7 days. I suspect result will be comparable

In [92]:
tmp = transactions[['t_dat']].copy()

In [100]:
tmp['day_of_week'] = tmp['t_dat'].dt.dayofweek

In [101]:
tmp['ldbw'] = tmp['t_dat'] - pd.TimedeltaIndex(tmp['day_of_week'] - 1, unit='D')

In [102]:
tmp.loc[tmp['day_of_week'] >=2 , 'ldbw'] = tmp.loc[tmp['day_of_week'] >=2 , 'ldbw'] + pd.TimedeltaIndex(np.ones(len(tmp.loc[tmp['day_of_week'] >=2])) * 7, unit='D')

ldbw - next nearest last day (in our case thursday) or current

## segment articles

In [17]:
transactions.head()

,t_dat,customer_id,article_id,price,sales_channel_id
0,2020-04-01,0090852ad6a446ccf02a7d57ec7385c360ab33a813b870...,0817352006,0.0508,2
1,2020-04-01,02001d047023157327d7a41fbcb9227dfe589ddccfab3c...,0795790001,0.0339,2
2,2020-04-01,02001d047023157327d7a41fbcb9227dfe589ddccfab3c...,0756347001,0.0305,2
3,2020-04-01,021950aab71ee5b077953803dfa182e04996f69baad474...,0351484002,0.0220,2
4,2020-04-01,026a83da294520e421e709d14b3bcc1da4025bd006d820...,0825318005,0.0163,2

In [18]:
customers.head()

,customer_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,ff18c106287931d170618b59fd402ed0ecc292869aad5f...,NaN,NaN,ACTIVE,NONE,31.0000,926144af52424f28ab3fb56d84d77b3c81ecadf337126f...
1,136601b1d1f36b13b9a4bbe185f164f24f522c5d476d09...,1.0000,1.0000,ACTIVE,Regularly,51.0000,3c22277b09bfb33d55eae1cf76a6a7084b03082fc10ed4...
2,247a3ee3fe8a153bbf14e41f18c8bb5ebc9d53fe83830d...,NaN,NaN,PRE-CREATE,NONE,69.0000,7c5c76766ed0879c1f95a0f922a19cd3458bf642014dba...
3,d1e601dc9ea370b6dee95cbb983adf7fe5294386410be9...,NaN,NaN,ACTIVE,NONE,24.0000,39b66dcc48ef29464261279d3e7d911a67867632b851f2...
4,abc428504037054226353c4194380c7f16aff32b0633ac...,NaN,NaN,ACTIVE,NONE,28.0000,4fd351ec2879e063a3b2d3f61c86d09311acfab1b2b9de...

In [144]:
customers['age_bin'] = pd.qcut(customers['age'], q=5, labels=False).astype(str).str.zfill(2)

In [146]:
cols = ['age']

In [145]:
customers.groupby(['age_bin'])['age'].agg(['min', 'max'])

            min     max
age_bin
00      16.0000 23.0000
01      24.0000 28.0000
02      29.0000 38.0000
03      39.0000 51.0000
04      52.0000 98.0000

- first question -> what about age_bin (WHERE to do it)
- second -> filling NA -> it's done in SAMPLING, but nowhere else

In [21]:
articles_sold_most_by_segment = (transactions
    .merge(customers, on='customer_id')
    .groupby(['age_bin', 'article_id'])['customer_id']
    .size()
    .reset_index(name='most_sold_by_segment')
    .sort_values(by='most_sold_by_segment', ascending=False)
)

In [22]:
articles_sold_most_by_segment.query('age_bin=="1"')

     age_bin  article_id  most_sold_by_segment
305        1  0599580038                   229
571        1  0684209013                   224
1199       1  0759871001                   223
307        1  0599580052                   191
787        1  0714790020                   189
...      ...         ...                   ...
2442       1  0849493010                     1
2450       1  0849747001                     1
2461       1  0850541003                     1
2463       1  0850606010                     1
1          1  0123173001                     1

[3787 rows x 3 columns]

In [23]:
articles_sold_most_by_segment.query('age_bin=="5"')

      age_bin  article_id  most_sold_by_segment
18679       5  0783346016                   118
17376       5  0399256005                   110
18680       5  0783346020                   109
19131       5  0817110001                   108
18362       5  0751471043                    92
...       ...         ...                   ...
20244       5  0871869001                     1
18296       5  0745186006                     1
20241       5  0871690007                     1
18046       5  0708516001                     1
21098       5  0949551002                     1

[3784 rows x 3 columns]

check how much they intersect, maybe there is no point in doing for different days?

## Previously bought

### previously bought the same `prod_name`

In [29]:
customers_prod_name = (
    transactions
    .merge(articles[['article_id', 'prod_name']], on='article_id')[['customer_id', 'prod_name']]
    .drop_duplicates()
    .sort_values(by='customer_id')
)

In [31]:
customers_prod_name.shape

(134380, 2)

In [35]:
prev_bought_prod_name = (
    customers_prod_name
    .merge(articles[['article_id', 'prod_name']], on='prod_name')
    .drop(['prod_name'], axis=1)
)

In [36]:
prev_bought_prod_name.shape

(297283, 2)

### previously bought

In [17]:
prev_bought = transactions[['customer_id', 'article_id']].drop_duplicates()

In [22]:
prev_bought.groupby(['customer_id'])['article_id'].apply(list).reset_index(name='previously_bought')

,customer_id,previously_bought
0,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,[0351484002]
1,0000b2f1829e23b24feec422ef13df3ccedaedc85368e6...,"[0715411001, 0706016015]"
2,000346516dd355b40badca0c0f5f37a318ddae31f0e0f7...,"[0816588001, 0854193002, 0816423002]"
3,000531ecd2754a0cf214373cc7b6dbcf7ce9a77c3284a2...,[0688105016]
4,000989f72a2b8e5da2f4abafc86c2e213816fa2ff2a060...,"[0488561003, 0570002002, 0716545008]"
...,...,...
49140,fff4d3a8b1f3b60af93e78c30a7cb4cf75edaf2590d3e5...,"[0826164016, 0832330002, 0913064001, 071479002..."
49141,fff69e3ab1bd701315881c7706c38d5cbcda1f4e0cf213...,[0852174001]
49142,fff94b7e15cd61eaf699f0e7d29e4023d28733119f323d...,"[0824352001, 0817472004]"
49143,fffdd9c81f64c0228a54e1c0240cf40877acec6ce985d4...,"[0832361003, 0832361001, 0915611003]"
49144,ffff61677073258d461e043cc9ed4ed97be5617a920640...,"[0817417002, 0878510001]"

### embeddings search - faiss

In [27]:
emb = context.catalog.load('text_embeddings')

2022-08-01 11:58:31,789 - kedro.io.data_catalog - INFO - Loading data from `text_embeddings` (ParquetDataSet)...

In [28]:
emb

,text_emb_1,text_emb_2,text_emb_3,text_emb_4,text_emb_5,text_emb_6,text_emb_7,text_emb_8,text_emb_9,text_emb_10,...,text_emb_375,text_emb_376,text_emb_377,text_emb_378,text_emb_379,text_emb_380,text_emb_381,text_emb_382,text_emb_383,text_emb_384
0108775015,-0.0218,0.1148,-0.0150,-0.0362,0.0368,0.0204,0.1055,0.1015,-0.0104,0.0448,...,-0.0445,0.0020,-0.0182,0.0077,-0.0302,0.0682,-0.0078,-0.0197,-0.0311,0.0727
0108775044,-0.0218,0.1148,-0.0150,-0.0362,0.0368,0.0204,0.1055,0.1015,-0.0104,0.0448,...,-0.0445,0.0020,-0.0182,0.0077,-0.0302,0.0682,-0.0078,-0.0197,-0.0311,0.0727
0108775051,-0.0218,0.1148,-0.0150,-0.0362,0.0368,0.0204,0.1055,0.1015,-0.0104,0.0448,...,-0.0445,0.0020,-0.0182,0.0077,-0.0302,0.0682,-0.0078,-0.0197,-0.0311,0.0727
0110065001,0.0259,0.0698,0.0166,0.0172,0.0254,0.0177,0.0663,0.0190,-0.0259,0.0316,...,-0.0917,0.0182,0.0068,-0.0295,0.0189,0.0644,-0.0246,-0.0988,0.0177,0.0084
0110065002,0.0259,0.0698,0.0166,0.0172,0.0254,0.0177,0.0663,0.0190,-0.0259,0.0316,...,-0.0917,0.0182,0.0068,-0.0295,0.0189,0.0644,-0.0246,-0.0988,0.0177,0.0084
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0953450001,-0.1085,-0.0589,-0.0188,-0.0351,-0.0013,0.0283,0.0356,0.0196,-0.0329,0.1426,...,-0.0497,-0.0757,-0.0208,0.0098,-0.0153,0.0420,-0.0093,0.0059,0.0091,-0.0431
0953763001,0.0493,0.1013,0.0445,0.0299,0.0354,0.0394,0.0294,0.0154,-0.0091,0.0585,...,-0.0502,0.1095,-0.0508,-0.0426,0.0094,-0.0211,-0.0510,-0.0509,0.0469,0.0501
0956217002,-0.0889,0.0993,0.0162,0.0082,-0.0263,0.0151,-0.0035,-0.0174,-0.0422,0.0371,...,-0.0808,0.0031,0.0255,0.0330,-0.0104,0.0565,-0.0233,-0.0102,-0.0102,-0.0095
0957375001,-0.0944,0.0655,0.0943,0.0067,-0.1008,-0.0675,0.1082,0.0299,0.0044,0.0472,...,-0.0037,0.0549,0.0346,-0.0220,-0.0138,0.0117,0.0359,-0.0853,0.0277,0.1153
0959461001,-0.0185,0.0426,0.0371,-0.0194,0.0065,0.0565,-0.0404,0.0264,-0.0494,0.0543,...,-0.0668,0.0315,-0.0505,-0.0177,0.0589,0.0249,-0.0481,-0.0975,0.0091,-0.0536

In [29]:
from sklearn.neighbors import KDTree

In [30]:
tree = KDTree(emb.values, leaf_size=5)

In [31]:
def find_similar_images(query_article_id, embeddings, tree):
    _, ind = tree.query(embeddings.loc[query_article_id].values.reshape(1, -1), k=5)
    closest_embeddings = embeddings.iloc[ind[0]].index.tolist()
    return closest_embeddings

In [32]:
find_similar_images('0108775015', emb, tree)

['0108775051', '0108775044', '0108775015', '0623522001', '0623522010']

In [33]:
emb.loc[['0108775051', '0108775044', '0108775015', '0623522001', '0623522010'], :]

,text_emb_1,text_emb_2,text_emb_3,text_emb_4,text_emb_5,text_emb_6,text_emb_7,text_emb_8,text_emb_9,text_emb_10,...,text_emb_375,text_emb_376,text_emb_377,text_emb_378,text_emb_379,text_emb_380,text_emb_381,text_emb_382,text_emb_383,text_emb_384
0108775051,-0.0218,0.1148,-0.0150,-0.0362,0.0368,0.0204,0.1055,0.1015,-0.0104,0.0448,...,-0.0445,0.0020,-0.0182,0.0077,-0.0302,0.0682,-0.0078,-0.0197,-0.0311,0.0727
0108775044,-0.0218,0.1148,-0.0150,-0.0362,0.0368,0.0204,0.1055,0.1015,-0.0104,0.0448,...,-0.0445,0.0020,-0.0182,0.0077,-0.0302,0.0682,-0.0078,-0.0197,-0.0311,0.0727
0108775015,-0.0218,0.1148,-0.0150,-0.0362,0.0368,0.0204,0.1055,0.1015,-0.0104,0.0448,...,-0.0445,0.0020,-0.0182,0.0077,-0.0302,0.0682,-0.0078,-0.0197,-0.0311,0.0727
0623522001,-0.0161,0.1139,-0.0026,-0.0216,0.0607,0.0183,0.0810,0.1055,-0.0292,0.0506,...,-0.0537,0.0003,-0.0139,0.0118,-0.0166,0.0754,-0.0416,-0.0397,-0.0344,0.0454
0623522010,-0.0161,0.1139,-0.0026,-0.0216,0.0607,0.0183,0.0810,0.1055,-0.0292,0.0506,...,-0.0537,0.0003,-0.0139,0.0118,-0.0166,0.0754,-0.0416,-0.0397,-0.0344,0.0454

In [16]:
transactions = context.catalog.load('transactions_sample')

2022-08-01 09:34:00,146 - kedro.io.data_catalog - INFO - Loading data from `transactions_sample` (CSVDataSet)...

In [17]:
transactions.sort_values(by='t_dat', ascending=False, inplace=True)

In [25]:
sample = transactions.head(100)

In [29]:
sample['article_id'].apply(lambda x: find_similar_images(x, emb, tree))

157784    [0918485001, 0720812001, 0646660003, 067386200...
157376    [0816598001, 0816598007, 0816598002, 081659800...
157383    [0797527001, 0797527007, 0797527003, 079752700...
157382    [0729860004, 0729860002, 0729860001, 070756900...
157381    [0863937007, 0863937009, 0863937005, 086393700...
                                ...
157462    [0916295001, 0916295002, 0805321001, 065577300...
157443    [0750422006, 0750422024, 0750422018, 075042201...
157463    [0928813001, 0920731001, 0861685002, 086168500...
157478    [0916468003, 0916468001, 0916468002, 086862900...
157477    [0898226001, 0898226002, 0837776002, 083777600...
Name: article_id, Length: 100, dtype: object

In [18]:
transactions

,t_dat,customer_id,article_id,price,sales_channel_id
157784,2020-09-22,ffcd5ff3fd5b9ee6b984c143c973fd2697ca141483d381...,0918485001,0.0678,2
157376,2020-09-22,56a2d8fb956868410043e0c16d6c6ed1c77f24acce637a...,0816598018,0.0424,2
157383,2020-09-22,58ea97c94b0256171d2834afb35eff9458655f04936f26...,0855706009,0.0152,1
157382,2020-09-22,58204e5ed075b4443c02f7c0ffa3f55ee6074e57a6e59e...,0729860001,0.0220,2
157381,2020-09-22,57d1eced5b7d7263682b754438f88ca5b783365770b2e6...,0863937003,0.0118,2
...,...,...,...,...,...
521,2020-04-01,9f3facffe599ab112546c14a2396f9f88aa1240aa50ac3...,0716947008,0.0288,2
520,2020-04-01,9e1084abd4744779897b2d15f0454da6cfa727c6e31490...,0656763007,0.0169,2
519,2020-04-01,9e1084abd4744779897b2d15f0454da6cfa727c6e31490...,0750424017,0.0424,2
518,2020-04-01,9d6d5c49533fbf9a77257a95c7152f15fff796fa80e298...,0724399001,0.0118,2
0,2020-04-01,0090852ad6a446ccf02a7d57ec7385c360ab33a813b870...,0817352006,0.0508,2

In [19]:
transactions.groupby(['customer_id']).head(5)

,t_dat,customer_id,article_id,price,sales_channel_id
157784,2020-09-22,ffcd5ff3fd5b9ee6b984c143c973fd2697ca141483d381...,0918485001,0.0678,2
157376,2020-09-22,56a2d8fb956868410043e0c16d6c6ed1c77f24acce637a...,0816598018,0.0424,2
157383,2020-09-22,58ea97c94b0256171d2834afb35eff9458655f04936f26...,0855706009,0.0152,1
157382,2020-09-22,58204e5ed075b4443c02f7c0ffa3f55ee6074e57a6e59e...,0729860001,0.0220,2
157381,2020-09-22,57d1eced5b7d7263682b754438f88ca5b783365770b2e6...,0863937003,0.0118,2
...,...,...,...,...,...
522,2020-04-01,9f3facffe599ab112546c14a2396f9f88aa1240aa50ac3...,0716947008,0.0288,2
520,2020-04-01,9e1084abd4744779897b2d15f0454da6cfa727c6e31490...,0656763007,0.0169,2
519,2020-04-01,9e1084abd4744779897b2d15f0454da6cfa727c6e31490...,0750424017,0.0424,2
518,2020-04-01,9d6d5c49533fbf9a77257a95c7152f15fff796fa80e298...,0724399001,0.0118,2
0,2020-04-01,0090852ad6a446ccf02a7d57ec7385c360ab33a813b870...,0817352006,0.0508,2

In [23]:
transactions.groupby(['customer_id'])['article_id'].count().reset_index().groupby(['article_id'])['customer_id'].nunique().to_clipboard()

correct sum

In [34]:
candidates = context.catalog.load('candidates')

2022-08-01 12:07:05,265 - kedro.io.data_catalog - INFO - Loading data from `candidates` (ParquetDataSet)...

In [35]:
candidates.shape

(137198, 7)

In [36]:
candidates.customer_id.nunique()

137198

In [37]:
candidates

,customer_id,global_articles,segment_articles,previously_bought,previously_bought_prod_name,closest_image_embeddings,closest_text_embeddings
0,ff18c106287931d170618b59fd402ed0ecc292869aad5f...,"[0554479001, 0904571001, 0869331006, 079246900...","[0904571001, 0869331006, 0792469001, 091093300...",None,None,None,None
1,136601b1d1f36b13b9a4bbe185f164f24f522c5d476d09...,"[0554479001, 0904571001, 0869331006, 079246900...","[0678942058, 0664074039, 0768921001, 080551002...",None,None,None,None
2,247a3ee3fe8a153bbf14e41f18c8bb5ebc9d53fe83830d...,"[0554479001, 0904571001, 0869331006, 079246900...","[0678942058, 0895423005, 0904571001, 089345400...",None,None,None,None
3,d1e601dc9ea370b6dee95cbb983adf7fe5294386410be9...,"[0554479001, 0904571001, 0869331006, 079246900...","[0768921001, 0904571001, 0869331006, 085277500...",None,None,None,None
4,abc428504037054226353c4194380c7f16aff32b0633ac...,"[0554479001, 0904571001, 0869331006, 079246900...","[0768921001, 0904571001, 0869331006, 085277500...",None,None,None,None
...,...,...,...,...,...,...,...
137193,a4092d95d91ec0ff90527962935550346d993a299353c6...,"[0554479001, 0904571001, 0869331006, 079246900...","[0768921001, 0904571001, 0869331006, 085277500...",[0870765002],"[0870765002, 0702933008, 0870765004]","[0721390005, 0607367012, 0547780046, 0737948002]","[0870765004, 0810594001, 0859987001, 0779930001]"
137194,c321175e12787427aa6d00985519c41650614b362e206f...,"[0554479001, 0904571001, 0869331006, 079246900...","[0554479001, 0904571001, 0869331006, 085277500...",None,None,None,None
137195,016a81548c36c010144819354910dc0763b9b10eeeeacf...,"[0554479001, 0904571001, 0869331006, 079246900...","[0678942058, 0664074039, 0768921001, 080551002...",[0904422001],[0904422001],"[0650388001, 0711138001, 0485544020, 0560209005]","[0933032002, 0933032001, 0933032003, 0806735001]"
137196,dc066cb0d1be0a395c472b1a31679fcd64035db1a42121...,"[0554479001, 0904571001, 0869331006, 079246900...","[0768921001, 0904571001, 0869331006, 085277500...",None,None,None,None
137197,4bb1952ea5ae562246737b4904e5db79ee65ec732f7c31...,"[0554479001, 0904571001, 0869331006, 079246900...","[0554479001, 0904571001, 0869331006, 085277500...",None,None,None,None

In [14]:
my_list = ['321312', '123', '3213']

In [17]:
[my_list for i in candidates.index]

[['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],
 ['321312', '123', '3213'],

In [16]:
pd.Series(my_list * 8)

0     321312
1        123
2       3213
3     321312
4        123
5       3213
6     321312
7        123
8       3213
9     321312
10       123
11      3213
12    321312
13       123
14      3213
15    321312
16       123
17      3213
18    321312
19       123
20      3213
21    321312
22       123
23      3213
dtype: object

In [ ]:
all_customers.loc[:, 'global_articles'] = pd.Series(list(articles) * len(all_customers))