In [1]:
%load_ext kedro.extras.extensions.ipython

The kedro.extras.extensions.ipython extension is already loaded. To reload it, use:
  %reload_ext kedro.extras.extensions.ipython

In [2]:
%reload_kedro

2022-08-11 10:58:08,887 - kedro.framework.hooks.manager - INFO - Registered hooks from 1 installed plugin(s): kedro-mlflow-0.8.1
2022-08-11 10:58:08,935 - kedro.framework.session.store - INFO - `read()` not implemented for `BaseSessionStore`. Assuming empty store.
2022-08-11 10:58:09,428 - root - INFO - ** Kedro project GetInData ML Framework
2022-08-11 10:58:09,428 - root - INFO - Defined global variable `context`, `session`, `catalog` and `pipelines`
2022-08-11 10:58:09,438 - root - INFO - Registered line magic `run_viz`
2022-08-11 10:58:09,439 - root - INFO - Registered line magic `reload_kedro_mlflow`

In [3]:
import pandas as pd
import numpy as np

In [4]:
catalog.list()

['articles',
 'customers',
 'transactions',
 'customers_sample',
 'transactions_sample',
 'articles_sample',
 'input_images',
 'resized_images',
 'image_embeddings',
 'text_embeddings',
 'automated_articles_features',
 'automated_customers_features',
 'parameters',
 'params:automated_feature_engineering',
 'params:automated_feature_engineering.articles',
 'params:automated_feature_engineering.articles.feature_selection',
 'params:automated_feature_engineering.articles.feature_selection_params',
 'params:automated_feature_engineering.articles.feature_selection_params.pct_null_threshold',
 'params:automated_feature_engineering.articles.feature_selection_params.corr_threshold',
 'params:automated_feature_engineering.customers',
 'params:automated_feature_engineering.customers.feature_selection',
 'params:automated_feature_engineering.customers.feature_selection_params',
 'params:automated_feature_engineering.customers.feature_selection_params.pct_null_threshold',
 'params:automated_feature_engineering.customers.feature_selection_params.corr_threshold',
 'params:automated_feature_engineering.n_days',
 'params:image_embeddings_inference',
 'params:image_embeddings_inference.run_id',
 'params:image_embeddings_inference.image_path',
 'params:image_embeddings_inference.batch_size',
 'params:customers',
 'params:transactions',
 'params:articles',
 'params:image_embeddings',
 'params:image_embeddings.image_path',
 'params:image_embeddings.encoder',
 'params:image_embeddings.decoder',
 'params:image_embeddings.batch_size',
 'params:image_embeddings.image_size',
 'params:image_embeddings.embedding_size',
 'params:image_embeddings.num_epochs',
 'params:image_embeddings.shuffle_reconstructions',
 'params:image_embeddings.save_model',
 'params:image_embeddings.model_name',
 'params:image_embeddings.seed',
 'params:image_resizer',
 'params:image_resizer.output_size',
 'params:image_resizer.method',
 'params:sampling',
 'params:sampling.cutoff_date',
 'params:sampling.customers_sample_size',
 'params:sampling.articles_sample_size',
 'params:sampling.article_img_dir',
 'params:sampling.article_img_sample_dir',
 'params:text_embeddings',
 'params:text_embeddings.transformer_model']

In [5]:
articles = context.catalog.load('articles_sample')

2022-08-11 10:58:13,218 - kedro.io.data_catalog - INFO - Loading data from `articles_sample` (CSVDataSet)...

In [6]:
customers = context.catalog.load('customers_sample')

2022-08-11 10:58:13,430 - kedro.io.data_catalog - INFO - Loading data from `customers_sample` (CSVDataSet)...

In [7]:
transactions = context.catalog.load('transactions_sample')

2022-08-11 10:58:13,648 - kedro.io.data_catalog - INFO - Loading data from `transactions_sample` (CSVDataSet)...

### check results

In [8]:
auto_articles = context.catalog.load('automated_articles_features')

2022-08-11 10:58:15,867 - kedro.io.data_catalog - INFO - Loading data from `automated_articles_features` (ParquetDataSet)...

In [9]:
auto_customers = context.catalog.load('automated_customers_features')

2022-08-11 10:58:16,620 - kedro.io.data_catalog - INFO - Loading data from `automated_customers_features` (ParquetDataSet)...

In [10]:
auto_articles.head()

,COUNT(transactions)_7,MAX(transactions.price)_7,MIN(transactions.price)_7,SUM(transactions.price)_7,NUM_CHARACTERS(detail_desc)_7,NUM_WORDS(detail_desc)_7,MAX(transactions.customers.age)_7,MEAN(transactions.customers.age)_7,MEDIAN(transactions.customers.age)_7,MIN(transactions.customers.age)_7,...,MIN(transactions.customers.age)_90,COUNT(transactions)_all,MAX(transactions.price)_all,MEAN(transactions.price)_all,MIN(transactions.price)_all,SUM(transactions.price)_all,MAX(transactions.customers.age)_all,MEAN(transactions.customers.age)_all,MEDIAN(transactions.customers.age)_all,MIN(transactions.customers.age)_all
article_id,,,,,,,,,,,,,,,,,,,,,
0927491001,5,0.050831,0.050271,0.253593,274.0,48.0,50.0,32.6,28.0,22.0,...,21.0,60,0.050831,0.048554,0.020339,2.913220,66.0,33.016667,28.0,21.0
0691839001,0,NaN,NaN,0.000000,180.0,27.0,NaN,NaN,NaN,NaN,...,NaN,0,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN
0908924002,1,0.025407,0.025407,0.025407,117.0,19.0,25.0,25.0,25.0,25.0,...,24.0,11,0.025407,0.025407,0.025407,0.279475,73.0,42.000000,45.0,24.0
0679630001,0,NaN,NaN,0.000000,100.0,18.0,NaN,NaN,NaN,NaN,...,52.0,1,0.084729,0.084729,0.084729,0.084729,52.0,52.000000,52.0,52.0
0698899003,0,NaN,NaN,0.000000,147.0,27.0,NaN,NaN,NaN,NaN,...,NaN,0,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN

In [11]:
auto_articles.shape

(21108, 37)

In [12]:
auto_customers.head()

,COUNT(transactions)_7,SUM(transactions.price)_7,COUNT(transactions)_30,MAX(transactions.price)_30,MEAN(transactions.price)_30,MEDIAN(transactions.price)_30,MIN(transactions.price)_30,SUM(transactions.price)_30,COUNT(transactions)_90,MAX(transactions.price)_90,MEAN(transactions.price)_90,MEDIAN(transactions.price)_90,MIN(transactions.price)_90,SUM(transactions.price)_90,COUNT(transactions)_all,MAX(transactions.price)_all,MEAN(transactions.price)_all,MEDIAN(transactions.price)_all,MIN(transactions.price)_all,SUM(transactions.price)_all
customer_id,,,,,,,,,,,,,,,,,,,,
ff18c106287931d170618b59fd402ed0ecc292869aad5f7b2815e43a6fb9dbdf,0,0.0,0,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,0.0
136601b1d1f36b13b9a4bbe185f164f24f522c5d476d096bd00a21dd98e20606,0,0.0,0,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,0.0
247a3ee3fe8a153bbf14e41f18c8bb5ebc9d53fe83830d35558463f3df54be98,0,0.0,0,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,0.0
d1e601dc9ea370b6dee95cbb983adf7fe5294386410be939ed1b91f617d78ae3,0,0.0,0,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,0.0
abc428504037054226353c4194380c7f16aff32b0633ac8f9f5d0f5e3da2ae5a,0,0.0,0,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,0.0

In [13]:
auto_customers.shape

(137198, 20)

In [14]:
auto_articles[sorted(auto_articles.columns.to_list())]

,COUNT(transactions)_30,COUNT(transactions)_7,COUNT(transactions)_90,COUNT(transactions)_all,MAX(transactions.customers.age)_30,MAX(transactions.customers.age)_7,MAX(transactions.customers.age)_90,MAX(transactions.customers.age)_all,MAX(transactions.price)_30,MAX(transactions.price)_7,...,MIN(transactions.price)_7,MIN(transactions.price)_90,MIN(transactions.price)_all,NUM_CHARACTERS(detail_desc)_7,NUM_WORDS(detail_desc)_7,SUM(transactions.customers.age)_7,SUM(transactions.price)_30,SUM(transactions.price)_7,SUM(transactions.price)_90,SUM(transactions.price)_all
article_id,,,,,,,,,,,,,,,,,,,,,
0927491001,36,5,60,60,57.0,50.0,66.0,66.0,0.050831,0.050831,...,0.050271,0.020339,0.020339,274.0,48.0,163.0,1.756678,0.253593,2.913220,2.913220
0691839001,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,180.0,27.0,0.0,0.000000,0.000000,0.000000,0.000000
0908924002,8,1,11,11,73.0,25.0,73.0,73.0,0.025407,0.025407,...,0.025407,0.025407,0.025407,117.0,19.0,25.0,0.203254,0.025407,0.279475,0.279475
0679630001,0,0,1,1,NaN,NaN,52.0,52.0,NaN,NaN,...,NaN,0.084729,0.084729,100.0,18.0,0.0,0.000000,0.000000,0.084729,0.084729
0698899003,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,147.0,27.0,0.0,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0475827011,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,106.0,17.0,0.0,0.000000,0.000000,0.000000,0.000000
0641715002,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,118.0,22.0,0.0,0.000000,0.000000,0.000000,0.000000
0545612001,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,175.0,29.0,0.0,0.000000,0.000000,0.000000,0.000000
0663277003,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,71.0,14.0,0.0,0.000000,0.000000,0.000000,0.000000
0520392001,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,207.0,39.0,0.0,0.000000,0.000000,0.000000,0.000000

In [15]:
auto_customers[sorted(auto_customers.columns.to_list())].sort_values(by='COUNT(transactions)_all', ascending=False)

,COUNT(transactions)_30,COUNT(transactions)_7,COUNT(transactions)_90,COUNT(transactions)_all,MAX(transactions.price)_30,MAX(transactions.price)_90,MAX(transactions.price)_all,MEAN(transactions.price)_30,MEAN(transactions.price)_90,MEAN(transactions.price)_all,MEDIAN(transactions.price)_30,MEDIAN(transactions.price)_90,MEDIAN(transactions.price)_all,MIN(transactions.price)_30,MIN(transactions.price)_90,MIN(transactions.price)_all,SUM(transactions.price)_30,SUM(transactions.price)_7,SUM(transactions.price)_90,SUM(transactions.price)_all
customer_id,,,,,,,,,,,,,,,,,,,,
a3ab708684132c6bbd3dad7aa41f9b9c7d1c95d7d5cb1a3a052905191e858566,27,2,56,82,0.059305,0.084729,0.084729,0.031056,0.033489,0.033841,0.025407,0.027949,0.030492,0.008458,0.006610,0.006610,0.838525,0.101661,1.875407,2.774966
e0c18188150a1b6cf8b54f407c50a63989d7183d3c2ef8cc86acd4ddde5b06bd,10,1,36,63,0.067780,0.067780,0.084729,0.022695,0.021056,0.023657,0.016932,0.018966,0.020322,0.008458,0.008153,0.008153,0.226949,0.033881,0.758034,1.490373
8df45859ccd71ef1e48e2ee9d1c65d5728c31c46ae957d659fa4e5c3af6cc076,7,3,31,62,0.033881,0.050831,0.050831,0.024438,0.025899,0.026512,0.025407,0.025407,0.025407,0.016932,0.008458,0.008458,0.171068,0.077915,0.802864,1.643763
061a3cf96ad12849f75b45a78edea8c5cfb7862eb5eb82d8bf58dfbf7f96a6e2,3,0,39,62,0.022017,0.101678,0.101678,0.016367,0.019748,0.020481,0.013542,0.015237,0.015237,0.013542,0.004220,0.004220,0.049102,0.000000,0.770153,1.269831
60661615c25ef48bae6147f8b5f765f13f9f7c15b3e41c2afc08fbd4d63248ba,3,0,32,59,0.033881,0.061000,0.084729,0.028232,0.026415,0.031735,0.033881,0.025407,0.025407,0.016932,0.005068,0.005068,0.084695,0.000000,0.845271,1.872356
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
c2fd497447ee1bd5b35ceb25282ddf6722fd6c8ece68ca8cd28d498db91a8dad,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000
9df52f557af073f15b3ca07ef78d8494bf674666e61cf93c952e2aba6ba1b0a7,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000
90bf5af75d669256f6f9bee4cb715d879288b5fc46042f4054baa4c763a0a23b,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000
db1456d315d3dc53db71b254d70ea7baf378ffd4fa1a4aead8f10d4477c908bb,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000
4bb1952ea5ae562246737b4904e5db79ee65ec732f7c310f5590ff826e762d11,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000

In [16]:
from featuretools.selection import (
    # remove_highly_correlated_features() does not work with Booleans in current version of featuretools
    #remove_highly_correlated_features,
    remove_highly_null_features,
    remove_single_value_features,
)

### my custom correlation

In [17]:
cor_matrix = auto_articles.corr().abs()

In [18]:
np.fill_diagonal(cor_matrix.values, 0)

In [19]:
cor_matrix

,COUNT(transactions)_7,MAX(transactions.price)_7,MIN(transactions.price)_7,SUM(transactions.price)_7,NUM_CHARACTERS(detail_desc)_7,NUM_WORDS(detail_desc)_7,MAX(transactions.customers.age)_7,MEAN(transactions.customers.age)_7,MEDIAN(transactions.customers.age)_7,MIN(transactions.customers.age)_7,...,MIN(transactions.customers.age)_90,COUNT(transactions)_all,MAX(transactions.price)_all,MEAN(transactions.price)_all,MIN(transactions.price)_all,SUM(transactions.price)_all,MAX(transactions.customers.age)_all,MEAN(transactions.customers.age)_all,MEDIAN(transactions.customers.age)_all,MIN(transactions.customers.age)_all
COUNT(transactions)_7,0.000000,0.045716,0.010264,0.907689,0.033417,0.030604,0.430944,0.003465,0.066935,0.329062,...,0.181736,0.349822,0.034719,0.058154,0.038797,0.401402,0.196821,0.015788,0.053765,0.153682
MAX(transactions.price)_7,0.045716,0.000000,0.987917,0.317520,0.362157,0.355001,0.127697,0.109812,0.093992,0.054421,...,0.197180,0.140057,0.953521,0.982476,0.950811,0.075258,0.015721,0.215997,0.210058,0.212779
MIN(transactions.price)_7,0.010264,0.987917,0.000000,0.255715,0.346774,0.339982,0.091650,0.110740,0.101704,0.087080,...,0.221006,0.166590,0.945601,0.975855,0.957391,0.034703,0.040322,0.222711,0.222442,0.235708
SUM(transactions.price)_7,0.907689,0.317520,0.255715,0.000000,0.061290,0.057849,0.390641,0.029158,0.039587,0.261292,...,0.139112,0.264739,0.146513,0.176747,0.156208,0.389203,0.161936,0.002054,0.029010,0.116404
NUM_CHARACTERS(detail_desc)_7,0.033417,0.362157,0.346774,0.061290,0.000000,0.985485,0.050008,0.002774,0.014458,0.032519,...,0.030710,0.016979,0.419504,0.396313,0.338352,0.079027,0.025879,0.046033,0.044237,0.028525
NUM_WORDS(detail_desc)_7,0.030604,0.355001,0.339982,0.057849,0.985485,0.000000,0.046898,0.005603,0.009279,0.027625,...,0.028773,0.014262,0.412298,0.386928,0.328970,0.075376,0.019241,0.039594,0.038861,0.025086
MAX(transactions.customers.age)_7,0.430944,0.127697,0.091650,0.390641,0.050008,0.046898,0.000000,0.785717,0.691743,0.324962,...,0.110552,0.057623,0.090133,0.107488,0.102387,0.112616,0.322234,0.440027,0.384491,0.113687
MEAN(transactions.customers.age)_7,0.003465,0.109812,0.110740,0.029158,0.002774,0.005603,0.785717,0.000000,0.970579,0.810102,...,0.365394,0.086826,0.108489,0.104343,0.112345,0.061467,0.190671,0.591515,0.572968,0.347346
MEDIAN(transactions.customers.age)_7,0.066935,0.093992,0.101704,0.039587,0.014458,0.009279,0.691743,0.970579,0.000000,0.801939,...,0.361028,0.103406,0.097390,0.090907,0.103149,0.093029,0.156320,0.581427,0.584563,0.342182
MIN(transactions.customers.age)_7,0.329062,0.054421,0.087080,0.261292,0.032519,0.027625,0.324962,0.810102,0.801939,0.000000,...,0.486650,0.170283,0.087727,0.064832,0.077328,0.168767,0.003910,0.483184,0.493004,0.453598
SUM(transactions.customers.age)_7,0.988911,0.057192,0.001942,0.902827,0.033568,0.031103,0.514132,0.114563,0.049872,0.257161,...,0.170075,0.341641,0.039377,0.062850,0.044539,0.394553,0.204397,0.008818,0.025927,0.144036
COUNT(transactions)_30,0.823671,0.016370,0.032587,0.722255,0.032756,0.029055,0.356082,0.011073,0.072128,0.290011,...,0.219230,0.455157,0.028686,0.048278,0.012080,0.500483,0.250649,0.020049,0.064744,0.186723
MAX(transactions.price)_30,0.051432,0.984849,0.974193,0.213474,0.359374,0.352054,0.121151,0.113942,0.099300,0.067190,...,0.132881,0.113014,0.940080,0.976196,0.946449,0.076988,0.036922,0.145961,0.157019,0.151000
MIN(transactions.price)_30,0.001056,0.971058,0.980693,0.158250,0.341425,0.334640,0.081789,0.108532,0.100934,0.092491,...,0.183983,0.160435,0.918778,0.966303,0.968062,0.008065,0.091506,0.153298,0.174515,0.197905
SUM(transactions.price)_30,0.774199,0.253983,0.195768,0.826466,0.065136,0.060280,0.347976,0.013879,0.053491,0.242841,...,0.172295,0.352042,0.171160,0.201249,0.161921,0.494216,0.211083,0.001512,0.039894,0.145500
MAX(transactions.customers.age)_30,0.362722,0.116954,0.082526,0.318769,0.022484,0.019529,0.630805,0.433222,0.370672,0.103774,...,0.042194,0.173127,0.068806,0.087579,0.061863,0.210763,0.502035,0.446533,0.347516,0.040591
MEAN(transactions.customers.age)_30,0.005282,0.169344,0.174177,0.015944,0.017842,0.020317,0.578616,0.752740,0.730858,0.618984,...,0.489576,0.076702,0.111353,0.111200,0.109592,0.036303,0.282246,0.691335,0.643508,0.434792
MEDIAN(transactions.customers.age)_30,0.068784,0.151894,0.163596,0.040077,0.008502,0.011241,0.482294,0.721695,0.729244,0.640278,...,0.496643,0.116701,0.111249,0.108748,0.111955,0.077603,0.212268,0.674701,0.669655,0.440663
MIN(transactions.customers.age)_30,0.266007,0.108704,0.138501,0.211037,0.009547,0.014964,0.136067,0.474541,0.470746,0.641511,...,0.676588,0.218852,0.082918,0.067974,0.085777,0.197066,0.029575,0.524775,0.519018,0.597327
COUNT(transactions)_90,0.539302,0.126298,0.159463,0.420593,0.024541,0.021057,0.157856,0.080406,0.113448,0.241585,...,0.353844,0.857868,0.006449,0.023275,0.110119,0.780826,0.420433,0.042958,0.115684,0.313032
MAX(transactions.price)_90,0.064333,0.972118,0.963085,0.192973,0.388308,0.379909,0.107390,0.111587,0.098312,0.076447,...,0.014883,0.042983,0.925728,0.959567,0.915929,0.147503,0.048586,0.119677,0.122903,0.060925
MEAN(transactions.price)_90,0.074808,0.987680,0.980583,0.206129,0.371676,0.361661,0.119345,0.110627,0.095879,0.064010,...,0.048992,0.068409,0.909941,0.968881,0.953497,0.117608,0.010219,0.119740,0.127314,0.093580
MIN(transactions.price)_90,0.035558,0.956555,0.964041,0.162822,0.336701,0.327326,0.097790,0.115390,0.107001,0.086910,...,0.132268,0.154391,0.861162,0.934122,0.981430,0.000801,0.084957,0.120132,0.143267,0.167798
SUM(transactions.price)_90,0.615165,0.159485,0.109350,0.610377,0.084602,0.079593,0.239545,0.036384,0.089136,0.234465,...,0.310053,0.724201,0.184851,0.183375,0.074936,0.834853,0.389821,0.014131,0.079269,0.272492
MAX(transactions.customers.age)_90,0.242360,0.010068,0.016545,0.203345,0.025819,0.021060,0.384695,0.229516,0.188584,0.008654,...,0.083517,0.396923,0.076416,0.055242,0.034704,0.390385,0.805589,0.469574,0.317010,0.112742
MEAN(transactions.customers.age)_90,0.012937,0.204170,0.210825,0.006041,0.043409,0.040276,0.461092,0.615133,0.602658,0.503763,...,0.698188,0.053074,0.101262,0.105504,0.101665,0.023044,0.408669,0.840320,0.780351,0.529257
MEDIAN(transactions.customers.age)_90,0.057882,0.194357,0.206437,0.031132,0.042738,0.040754,0.387959,0.581008,0.593081,0.503217,...,0.704558,0.126840,0.102370,0.109923,0.119895,0.091863,0.274966,0.806290,0.821521,0.544356
MIN(transactions.customers.age)_90,0.181736,0.197180,0.221006,0.139112,0.030710,0.028773,0.110552,0.365394,0.361028,0.486650,...,0.000000,0.318373,0.033340,0.057206,0.126566,0.291472,0.137260,0.572538,0.577885,0.795991
COUNT(transactions)_all,0.349822,0.140057,0.166590,0.264739,0.016979,0.014262,0.057623,0.086826,0.103406,0.170283,...,0.318373,0.000000,0.020842,0.040764,0.146918,0.899908,0.434787,0.050421,0.122681,0.323337
MAX(transactions.price)_all,0.034719,0.953521,0.945601,0.146513,0.419504,0.412298,0.090133,0.108489,0.097390,0.087727,...,0.033340,0.020842,0.000000,0.968532,0.859528,0.160931,0.123401,0.114435,0.105635,0.003631
MEAN(transactions.price)_all,0.058154,0.982476,0.975855,0.176747,0.396313,0.386928,0.107488,0.104343,0.090907,0.064832,...,0.057206,0.040764,0.968532,0.000000,0.937025,0.141467,0.073774,0.120002,0.119524,0.046895
MIN(transactions.price)_all,0.038797,0.950811,0.957391,0.156208,0.338352,0.328970,0.102387,0.112345,0.103149,0.077328,...,0.126566,0.146918,0.859528,0.937025,0.000000,0.006660,0.069361,0.123176,0.146452,0.168186
SUM(transactions.price)_all,0.401402,0.075258,0.034703,0.389203,0.079027,0.075376,0.112616,0.061467,0.093029,0.168767,...,0.291472,0.899908,0.160931,0.141467,0.006660,0.000000,0.430675,0.023605,0.092503,0.303692
MAX(transactions.customers.age)_all,0.196821,0.015721,0.040322,0.161936,0.025879,0.019241,0.322234,0.190671,0.156320,0.003910,...,0.137260,0.434787,0.123401,0.073774,0.069361,0.430675,0.000000,0.519507,0.339128,0.161718
MEAN(transactions.customers.age)_all,0.015788,0.215997,0.222711,0.002054,0.046033,0.039594,0.440027,0.591515,0.581427,0.483184,...,0.572538,0.050421,0.114435,0.120002,0.123176,0.023605,0.519507,0.000000,0.942314,0.669090
MEDIAN(transactions.customers.age)_all,0.053765,0.210058,0.222442,0.029010,0.044237,0.038861,0.384491,0.572968,0.584563,0.493004,...,0.577885,0.122681,0.105635,0.119524,0.146452,0.092503,0.339128,0.942314,0.000000,0.676035
MIN(transactions.customers.age)_all,0.153682,0.212779,0.235708,0.116404,0.028525,0.025086,0.113687,0.347346,0.342182,0.453598,...,0.795991,0.323337,0.003631,0.046895,0.168186,0.303692,0.161718,0.669090,0.676035,0.000000

upper = cor_matrix.where(np.triu(np.ones(cor_matrix.shape), k=1).astype(np.bool_))

In [20]:
def my_correlation(df):
    col_list = df.columns.to_list()
    correlated_columns = set()
    non_correlated_columns = set()
    for col in col_list:
        if col in correlated_columns:
            print('continue in a loop')
            continue
        non_correlated_columns.add(col)
        
        corr_cols_list = df.index[df.loc[:, col].ge(0.8)].to_list()
        if len(corr_cols_list)>0:
            correlated_columns |= set(corr_cols_list)
    print(f'{len(correlated_columns)=}')
    print(f'{len(non_correlated_columns)=}')
    return correlated_columns

In [21]:
my_correlation(cor_matrix)

continue in a loop
continue in a loop
continue in a loop
continue in a loop
continue in a loop
continue in a loop
continue in a loop
continue in a loop
continue in a loop
continue in a loop
continue in a loop
continue in a loop
continue in a loop
continue in a loop
continue in a loop
continue in a loop
continue in a loop
continue in a loop
continue in a loop
continue in a loop
continue in a loop
len(correlated_columns)=21
len(non_correlated_columns)=16

{'COUNT(transactions)_30',
 'COUNT(transactions)_all',
 'MAX(transactions.customers.age)_all',
 'MAX(transactions.price)_30',
 'MAX(transactions.price)_90',
 'MAX(transactions.price)_all',
 'MEAN(transactions.customers.age)_all',
 'MEAN(transactions.price)_90',
 'MEAN(transactions.price)_all',
 'MEDIAN(transactions.customers.age)_30',
 'MEDIAN(transactions.customers.age)_7',
 'MEDIAN(transactions.customers.age)_90',
 'MIN(transactions.customers.age)_7',
 'MIN(transactions.price)_30',
 'MIN(transactions.price)_7',
 'MIN(transactions.price)_90',
 'MIN(transactions.price)_all',
 'NUM_WORDS(detail_desc)_7',
 'SUM(transactions.customers.age)_7',
 'SUM(transactions.price)_7',
 'SUM(transactions.price)_90'}

In [22]:
pd.set_option('display.max_rows', None)

In [23]:
auto_customers.isna().sum().reset_index().sort_values(by='index')

                             index       0
2           COUNT(transactions)_30       0
0            COUNT(transactions)_7       0
8           COUNT(transactions)_90       0
14         COUNT(transactions)_all       0
3       MAX(transactions.price)_30  125310
9       MAX(transactions.price)_90  105794
15     MAX(transactions.price)_all   88053
4      MEAN(transactions.price)_30  125310
10     MEAN(transactions.price)_90  105794
16    MEAN(transactions.price)_all   88053
5    MEDIAN(transactions.price)_30  125310
11   MEDIAN(transactions.price)_90  105794
17  MEDIAN(transactions.price)_all   88053
6       MIN(transactions.price)_30  125310
12      MIN(transactions.price)_90  105794
18     MIN(transactions.price)_all   88053
7       SUM(transactions.price)_30       0
1        SUM(transactions.price)_7       0
13      SUM(transactions.price)_90       0
19     SUM(transactions.price)_all       0

In [24]:
auto_articles.isna().sum()

COUNT(transactions)_7                         0
MAX(transactions.price)_7                 19694
MIN(transactions.price)_7                 19694
SUM(transactions.price)_7                     0
NUM_CHARACTERS(detail_desc)_7                 0
NUM_WORDS(detail_desc)_7                      0
MAX(transactions.customers.age)_7         19694
MEAN(transactions.customers.age)_7        19694
MEDIAN(transactions.customers.age)_7      19694
MIN(transactions.customers.age)_7         19694
SUM(transactions.customers.age)_7             0
COUNT(transactions)_30                        0
MAX(transactions.price)_30                18075
MIN(transactions.price)_30                18075
SUM(transactions.price)_30                    0
MAX(transactions.customers.age)_30        18075
MEAN(transactions.customers.age)_30       18075
MEDIAN(transactions.customers.age)_30     18075
MIN(transactions.customers.age)_30        18075
COUNT(transactions)_90                        0
MAX(transactions.price)_90                15831
MEAN(transactions.price)_90               15831
MIN(transactions.price)_90                15831
SUM(transactions.price)_90                    0
MAX(transactions.customers.age)_90        15831
MEAN(transactions.customers.age)_90       15831
MEDIAN(transactions.customers.age)_90     15831
MIN(transactions.customers.age)_90        15831
COUNT(transactions)_all                       0
MAX(transactions.price)_all               14328
MEAN(transactions.price)_all              14328
MIN(transactions.price)_all               14328
SUM(transactions.price)_all                   0
MAX(transactions.customers.age)_all       14328
MEAN(transactions.customers.age)_all      14328
MEDIAN(transactions.customers.age)_all    14328
MIN(transactions.customers.age)_all       14328
dtype: int64

In [25]:
pd.set_option('display.max_rows', 30)

In [26]:
articles.shape, customers.shape, transactions.shape

((21108, 25), (137198, 7), (157785, 5))

In [27]:
pd.set_option('display.max_columns', None)

### featuretools

In [28]:
import featuretools as ft

In [29]:
es = ft.EntitySet(id="kaggle_hm_data")

In [30]:
import woodwork as ww

ww.list_logical_types()

,name,type_string,description,physical_type,standard_tags,is_default_type,is_registered,parent_type
0,Address,address,Represents Logical Types that contain address ...,string,{},True,True,None
1,Age,age,Represents Logical Types that contain whole nu...,int64,{numeric},True,True,Integer
2,AgeFractional,age_fractional,Represents Logical Types that contain non-nega...,float64,{numeric},True,True,Double
3,AgeNullable,age_nullable,Represents Logical Types that contain whole nu...,Int64,{numeric},True,True,IntegerNullable
4,Boolean,boolean,Represents Logical Types that contain binary v...,bool,{},True,True,BooleanNullable
5,BooleanNullable,boolean_nullable,Represents Logical Types that contain binary v...,boolean,{},True,True,None
6,Categorical,categorical,Represents Logical Types that contain unordere...,category,{category},True,True,None
7,CountryCode,country_code,Represents Logical Types that use the ISO-3166...,category,{category},True,True,Categorical
8,CurrencyCode,currency_code,Represents Logical Types that use the ISO-4217...,category,{category},True,True,Categorical
9,Datetime,datetime,Represents Logical Types that contain date and...,datetime64[ns],{},True,True,None
10,Double,double,Represents Logical Types that contain positive...,float64,{numeric},True,True,None
11,EmailAddress,email_address,Represents Logical Types that contain email ad...,string,{},True,True,None
12,Filepath,filepath,Represents Logical Types that specify location...,string,{},True,True,None
13,IPAddress,ip_address,Represents Logical Types that contain IP addre...,string,{},True,True,None
14,Integer,integer,Represents Logical Types that contain positive...,int64,{numeric},True,True,IntegerNullable
15,IntegerNullable,integer_nullable,Represents Logical Types that contain positive...,Int64,{numeric},True,True,None
16,LatLong,lat_long,Represents Logical Types that contain latitude...,object,{},True,True,None
17,NaturalLanguage,natural_language,Represents Logical Types that contain text or ...,string,{},True,True,None
18,Ordinal,ordinal,Represents Logical Types that contain ordered ...,category,{category},True,True,Categorical
19,PersonFullName,person_full_name,Represents Logical Types that may contain firs...,string,{},True,True,None
20,PhoneNumber,phone_number,Represents Logical Types that contain numeric ...,string,{},True,True,None
21,PostalCode,postal_code,Represents Logical Types that contain a series...,category,{category},True,True,Categorical
22,SubRegionCode,sub_region_code,Represents Logical Types that use the ISO-3166...,category,{category},True,True,Categorical
23,Timedelta,timedelta,Represents Logical Types that contain values s...,timedelta64[ns],{},True,True,None
24,URL,url,"Represents Logical Types that contain URLs, wh...",string,{},True,True,None
25,Unknown,unknown,Represents Logical Types that cannot be inferr...,string,{},True,True,None

In [31]:
from woodwork.logical_types import Categorical, Boolean, AgeNullable, Double, NaturalLanguage

In [32]:
customers.head()

,customer_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,ff18c106287931d170618b59fd402ed0ecc292869aad5f...,NaN,NaN,ACTIVE,NONE,31.0,926144af52424f28ab3fb56d84d77b3c81ecadf337126f...
1,136601b1d1f36b13b9a4bbe185f164f24f522c5d476d09...,1.0,1.0,ACTIVE,Regularly,51.0,3c22277b09bfb33d55eae1cf76a6a7084b03082fc10ed4...
2,247a3ee3fe8a153bbf14e41f18c8bb5ebc9d53fe83830d...,NaN,NaN,PRE-CREATE,NONE,69.0,7c5c76766ed0879c1f95a0f922a19cd3458bf642014dba...
3,d1e601dc9ea370b6dee95cbb983adf7fe5294386410be9...,NaN,NaN,ACTIVE,NONE,24.0,39b66dcc48ef29464261279d3e7d911a67867632b851f2...
4,abc428504037054226353c4194380c7f16aff32b0633ac...,NaN,NaN,ACTIVE,NONE,28.0,4fd351ec2879e063a3b2d3f61c86d09311acfab1b2b9de...

In [33]:
es = es.add_dataframe(
    dataframe_name="customers",
    dataframe=customers,
    index="customer_id",
    logical_types={
        "customer_id": Categorical,
        "FN": Boolean,
        "Active": Boolean,
        "club_member_status": Categorical,
        "fashion_news_frequency": Categorical,
        "age": AgeNullable
    },
)

In [34]:
transactions['_index'] = transactions.index

In [35]:
es = es.add_dataframe(
    dataframe_name="transactions",
    dataframe=transactions,
    index="_index",
    time_index="t_dat",
    logical_types={
        "customer_id": Categorical,
        "article_id": Categorical,
        "price": Double,
        "sales_channel_id": Categorical,
    },
)

In [36]:
es = es.add_dataframe(
    dataframe_name="articles",
    dataframe=articles,
    index="article_id",
    logical_types={
        "article_id": Categorical,
        "detail_desc": NaturalLanguage,
    },
)

In [37]:
es

Entityset: kaggle_hm_data
  DataFrames:
    customers [Rows: 137198, Columns: 7]
    transactions [Rows: 157785, Columns: 6]
    articles [Rows: 21108, Columns: 25]
  Relationships:
    No relationships

In [38]:
es = es.add_relationship("customers", "customer_id", "transactions", "customer_id")

In [39]:
es = es.add_relationship("articles", "article_id", "transactions", "article_id")

In [40]:
es

Entityset: kaggle_hm_data
  DataFrames:
    customers [Rows: 137198, Columns: 7]
    transactions [Rows: 157785, Columns: 6]
    articles [Rows: 21108, Columns: 25]
  Relationships:
    transactions.customer_id -> customers.customer_id
    transactions.article_id -> articles.article_id

In [41]:
es['articles'].ww.schema

                                 Logical Type Semantic Tag(s)
Column
article_id                        Categorical       ['index']
product_code                          Integer     ['numeric']
prod_name                             Unknown              []
product_type_no                       Integer     ['numeric']
product_type_name                 Categorical    ['category']
product_group_name                Categorical    ['category']
graphical_appearance_no               Integer     ['numeric']
graphical_appearance_name         Categorical    ['category']
colour_group_code                     Integer     ['numeric']
colour_group_name                 Categorical    ['category']
perceived_colour_value_id             Integer     ['numeric']
perceived_colour_value_name       Categorical    ['category']
perceived_colour_master_id            Integer     ['numeric']
perceived_colour_master_name      Categorical    ['category']
department_no                         Integer     ['numeric']
department_name                   Categorical    ['category']
index_code                        Categorical    ['category']
index_name                        Categorical    ['category']
index_group_no                        Integer     ['numeric']
index_group_name                  Categorical    ['category']
section_no                            Integer     ['numeric']
section_name                      Categorical    ['category']
garment_group_no                      Integer     ['numeric']
garment_group_name                Categorical    ['category']
detail_desc                   NaturalLanguage              []

In [42]:
es['articles'].ww.schema

                                 Logical Type Semantic Tag(s)
Column
article_id                        Categorical       ['index']
product_code                          Integer     ['numeric']
prod_name                             Unknown              []
product_type_no                       Integer     ['numeric']
product_type_name                 Categorical    ['category']
product_group_name                Categorical    ['category']
graphical_appearance_no               Integer     ['numeric']
graphical_appearance_name         Categorical    ['category']
colour_group_code                     Integer     ['numeric']
colour_group_name                 Categorical    ['category']
perceived_colour_value_id             Integer     ['numeric']
perceived_colour_value_name       Categorical    ['category']
perceived_colour_master_id            Integer     ['numeric']
perceived_colour_master_name      Categorical    ['category']
department_no                         Integer     ['numeric']
department_name                   Categorical    ['category']
index_code                        Categorical    ['category']
index_name                        Categorical    ['category']
index_group_no                        Integer     ['numeric']
index_group_name                  Categorical    ['category']
section_no                            Integer     ['numeric']
section_name                      Categorical    ['category']
garment_group_no                      Integer     ['numeric']
garment_group_name                Categorical    ['category']
detail_desc                   NaturalLanguage              []

### articles

In [44]:
pd.set_option('display.max_rows', None)

In [45]:
ft.primitives.list_primitives()

,name,type,dask_compatible,spark_compatible,description,valid_inputs,return_type
0,max,aggregation,True,True,"Calculates the highest value, ignoring `NaN` v...",<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Semantic Tags = ['numeric'])>
1,time_since_last,aggregation,False,False,Calculates the time elapsed since the last dat...,<ColumnSchema (Logical Type = Datetime) (Seman...,<ColumnSchema (Logical Type = Double) (Semanti...
2,any,aggregation,True,False,Determines if any value is 'True' in a list.,"<ColumnSchema (Logical Type = Boolean)>, <Colu...",<ColumnSchema (Logical Type = Boolean)>
3,mode,aggregation,False,False,Determines the most commonly repeated value.,<ColumnSchema (Semantic Tags = ['category'])>,None
4,count,aggregation,True,True,"Determines the total number of values, excludi...",<ColumnSchema (Semantic Tags = ['index'])>,<ColumnSchema (Logical Type = IntegerNullable)...
5,first,aggregation,False,False,Determines the first value in a list.,<ColumnSchema>,None
6,skew,aggregation,False,False,Computes the extent to which a distribution di...,<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Semantic Tags = ['numeric'])>
7,n_most_common,aggregation,False,False,Determines the `n` most common elements.,<ColumnSchema (Semantic Tags = ['category'])>,None
8,num_unique,aggregation,True,True,"Determines the number of distinct values, igno...",<ColumnSchema (Semantic Tags = ['category'])>,<ColumnSchema (Logical Type = IntegerNullable)...
9,time_since_first,aggregation,False,False,Calculates the time elapsed since the first da...,<ColumnSchema (Logical Type = Datetime) (Seman...,<ColumnSchema (Logical Type = Double) (Semanti...
10,all,aggregation,True,False,Calculates if all values are 'True' in a list.,"<ColumnSchema (Logical Type = Boolean)>, <Colu...",<ColumnSchema (Logical Type = Boolean)>
11,min,aggregation,True,True,"Calculates the smallest value, ignoring `NaN` ...",<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Semantic Tags = ['numeric'])>
12,last,aggregation,False,False,Determines the last value in a list.,<ColumnSchema>,None
13,mean,aggregation,True,True,Computes the average for a list of values.,<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Semantic Tags = ['numeric'])>
14,percent_true,aggregation,True,False,Determines the percent of `True` values.,"<ColumnSchema (Logical Type = Boolean)>, <Colu...",<ColumnSchema (Logical Type = Double) (Semanti...
15,std,aggregation,True,True,Computes the dispersion relative to the mean v...,<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Semantic Tags = ['numeric'])>
16,entropy,aggregation,False,False,Calculates the entropy for a categorical column,<ColumnSchema (Semantic Tags = ['category'])>,<ColumnSchema (Semantic Tags = ['numeric'])>
17,median,aggregation,False,False,Determines the middlemost number in a list of ...,<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Semantic Tags = ['numeric'])>
18,trend,aggregation,False,False,Calculates the trend of a column over time.,"<ColumnSchema (Semantic Tags = ['numeric'])>, ...",<ColumnSchema (Semantic Tags = ['numeric'])>
19,avg_time_between,aggregation,False,False,Computes the average number of seconds between...,<ColumnSchema (Logical Type = Datetime) (Seman...,<ColumnSchema (Logical Type = Double) (Semanti...
20,sum,aggregation,True,True,"Calculates the total addition, ignoring `NaN`.",<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Semantic Tags = ['numeric'])>
21,num_true,aggregation,True,False,Counts the number of `True` values.,"<ColumnSchema (Logical Type = Boolean)>, <Colu...",<ColumnSchema (Logical Type = IntegerNullable)...
22,date_to_holiday,transform,False,False,Transforms time of an instance into the holida...,<ColumnSchema (Logical Type = Datetime)>,<ColumnSchema (Logical Type = Categorical) (Se...
23,cum_mean,transform,False,False,Calculates the cumulative mean.,<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Semantic Tags = ['numeric'])>
24,week,transform,True,True,Determines the week of the year from a datetime.,<ColumnSchema (Logical Type = Datetime)>,"<ColumnSchema (Logical Type = Ordinal: [1, 2, ..."
25,is_month_start,transform,True,True,Determines the is_month_start attribute of a d...,<ColumnSchema (Logical Type = Datetime)>,<ColumnSchema (Logical Type = BooleanNullable)>
26,modulo_numeric_scalar,transform,True,True,Computes the modulo of each element in the lis...,<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Semantic Tags = ['numeric'])>
27,multiply_boolean,transform,True,False,Performs element-wise multiplication of two li...,"<ColumnSchema (Logical Type = Boolean)>, <Colu...",<ColumnSchema (Logical Type = BooleanNullable)>
28,month,transform,True,True,Determines the month value of a datetime.,<ColumnSchema (Logical Type = Datetime)>,"<ColumnSchema (Logical Type = Ordinal: [1, 2, ..."
29,square_root,transform,True,True,Computes the square root of a number.,<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Logical Type = Double) (Semanti...
30,rolling_std,transform,False,False,Calculates the standard deviation of entries o...,"<ColumnSchema (Semantic Tags = ['numeric'])>, ...",<ColumnSchema (Logical Type = Double) (Semanti...
31,is_free_email_domain,transform,False,False,Determines if an email address is from a free ...,<ColumnSchema (Logical Type = EmailAddress)>,<ColumnSchema (Logical Type = BooleanNullable)>
32,less_than_equal_to_scalar,transform,True,True,Determines if values are less than or equal to...,"<ColumnSchema (Semantic Tags = ['numeric'])>, ...",<ColumnSchema (Logical Type = BooleanNullable)>
33,day,transform,True,True,Determines the day of the month from a datetime.,<ColumnSchema (Logical Type = Datetime)>,"<ColumnSchema (Logical Type = Ordinal: [1, 2, ..."
34,cum_min,transform,False,False,Calculates the cumulative minimum.,<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Semantic Tags = ['numeric'])>
35,weekday,transform,True,True,Determines the day of the week from a datetime.,<ColumnSchema (Logical Type = Datetime)>,"<ColumnSchema (Logical Type = Ordinal: [0, 1, ..."
36,add_numeric_scalar,transform,True,True,Adds a scalar to each value in the list.,<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Semantic Tags = ['numeric'])>
37,is_quarter_end,transform,True,True,Determines the is_quarter_end attribute of a d...,<ColumnSchema (Logical Type = Datetime)>,<ColumnSchema (Logical Type = BooleanNullable)>
38,modulo_by_feature,transform,True,True,Computes the modulo of a scalar by each elemen...,<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Semantic Tags = ['numeric'])>
39,part_of_day,transform,True,True,Determines the part of day of a datetime.,<ColumnSchema (Logical Type = Datetime)>,<ColumnSchema (Logical Type = Categorical) (Se...
40,is_in_geobox,transform,False,False,Determines if coordinates are inside a box def...,<ColumnSchema (Logical Type = LatLong)>,<ColumnSchema (Logical Type = BooleanNullable)>
41,natural_logarithm,transform,True,True,Computes the natural logarithm of a number.,<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Logical Type = Double) (Semanti...
42,rolling_trend,transform,False,False,Calculates the trend of a given window of entr...,"<ColumnSchema (Semantic Tags = ['numeric'])>, ...",<ColumnSchema (Logical Type = Double) (Semanti...
43,diff_datetime,transform,False,False,Computes the timedelta between a datetime in a...,<ColumnSchema (Logical Type = Datetime)>,<ColumnSchema (Logical Type = Timedelta)>
44,day_of_year,transform,True,True,Determines the ordinal day of the year from th...,<ColumnSchema (Logical Type = Datetime)>,"<ColumnSchema (Logical Type = Ordinal: [1, 2, ..."
45,multiply_numeric_boolean,transform,True,False,Performs element-wise multiplication of a nume...,"<ColumnSchema (Logical Type = Boolean)>, <Colu...",<ColumnSchema (Semantic Tags = ['numeric'])>
46,cum_max,transform,False,False,Calculates the cumulative maximum.,<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Semantic Tags = ['numeric'])>
47,year,transform,True,True,Determines the year value of a datetime.,<ColumnSchema (Logical Type = Datetime)>,"<ColumnSchema (Logical Type = Ordinal: [1, 2, ..."
48,subtract_numeric,transform,True,False,Performs element-wise subtraction of two lists.,<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Semantic Tags = ['numeric'])>
49,email_address_to_domain,transform,False,False,Determines the domain of an email,<ColumnSchema (Logical Type = EmailAddress)>,<ColumnSchema (Logical Type = Categorical) (Se...
50,and,transform,True,True,Performs element-wise logical AND of two lists.,"<ColumnSchema (Logical Type = Boolean)>, <Colu...",<ColumnSchema (Logical Type = BooleanNullable)>
51,is_quarter_start,transform,True,True,Determines the is_quarter_start attribute of a...,<ColumnSchema (Logical Type = Datetime)>,<ColumnSchema (Logical Type = BooleanNullable)>
52,equal,transform,True,True,Determines if values in one list are equal to ...,<ColumnSchema>,<ColumnSchema (Logical Type = BooleanNullable)>
53,quarter,transform,True,True,Determines the quarter a datetime column falls...,<ColumnSchema (Logical Type = Datetime)>,"<ColumnSchema (Logical Type = Ordinal: [1, 2, ..."
54,greater_than,transform,True,False,Determines if values in one list are greater t...,"<ColumnSchema (Semantic Tags = ['numeric'])>, ...",<ColumnSchema (Logical Type = BooleanNullable)>
55,sine,transform,True,True,Computes the sine of a number.,<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Logical Type = Double) (Semanti...
56,rolling_count,transform,False,False,Determines a rolling count of events over a gi...,<ColumnSchema (Logical Type = Datetime) (Seman...,<ColumnSchema (Logical Type = Double) (Semanti...
57,negate,transform,True,True,Negates a numeric value.,<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Semantic Tags = ['numeric'])>
58,days_in_month,transform,True,True,Determines the day of the month from a datetime.,<ColumnSchema (Logical Type = Datetime)>,"<ColumnSchema (Logical Type = Ordinal: [1, 2, ..."
59,is_federal_holiday,transform,False,False,Determines if a given datetime is a federal ho...,<ColumnSchema (Logical Type = Datetime)>,<ColumnSchema (Logical Type = BooleanNullable)>
60,numeric_lag,transform,False,False,Shifts an array of values by a specified numbe...,"<ColumnSchema (Semantic Tags = ['numeric'])>, ...",<ColumnSchema (Semantic Tags = ['numeric'])>
61,is_weekend,transform,True,True,Determines if a date falls on a weekend.,<ColumnSchema (Logical Type = Datetime)>,<ColumnSchema (Logical Type = BooleanNullable)>
62,latitude,transform,False,False,Returns the first tuple value in a list of Lat...,<ColumnSchema (Logical Type = LatLong)>,<ColumnSchema (Semantic Tags = ['numeric'])>
63,second,transform,True,True,Determines the seconds value of a datetime.,<ColumnSchema (Logical Type = Datetime)>,"<ColumnSchema (Logical Type = Ordinal: [0, 1, ..."
64,greater_than_scalar,transform,True,True,Determines if values are greater than a given ...,"<ColumnSchema (Semantic Tags = ['numeric'])>, ...",<ColumnSchema (Logical Type = BooleanNullable)>
65,cosine,transform,True,True,Computes the cosine of a number.,<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Logical Type = Double) (Semanti...
66,not,transform,True,True,Negates a boolean value.,"<ColumnSchema (Logical Type = Boolean)>, <Colu...",<ColumnSchema (Logical Type = BooleanNullable)>
67,or,transform,True,True,Performs element-wise logical OR of two lists.,"<ColumnSchema (Logical Type = Boolean)>, <Colu...",<ColumnSchema (Logical Type = BooleanNullable)>
68,distance_to_holiday,transform,False,False,Computes the number of days before or after a ...,<ColumnSchema (Logical Type = Datetime)>,<ColumnSchema (Semantic Tags = ['numeric'])>
69,equal_scalar,transform,True,True,Determines if values in a list are equal to a ...,<ColumnSchema>,<ColumnSchema (Logical Type = BooleanNullable)>
70,is_working_hours,transform,True,True,Determines if a datetime falls during working ...,<ColumnSchema (Logical Type = Datetime)>,<ColumnSchema (Logical Type = BooleanNullable)>
71,divide_numeric,transform,True,True,Performs element-wise division of two lists.,<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Semantic Tags = ['numeric'])>
72,longitude,transform,False,False,Returns the second tuple value in a list of La...,<ColumnSchema (Logical Type = LatLong)>,<ColumnSchema (Semantic Tags = ['numeric'])>
73,subtract_numeric_scalar,transform,True,True,Subtracts a scalar from each element in the list.,<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Semantic Tags = ['numeric'])>
74,greater_than_equal_to,transform,True,True,Determines if values in one list are greater t...,"<ColumnSchema (Semantic Tags = ['numeric'])>, ...",<ColumnSchema (Logical Type = BooleanNullable)>
75,tangent,transform,True,True,Computes the tangent of a number.,<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Logical Type = Double) (Semanti...
76,percentile,transform,False,False,Determines the percentile rank for each value ...,<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Semantic Tags = ['numeric'])>
77,hour,transform,True,True,Determines the hour value of a datetime.,<ColumnSchema (Logical Type = Datetime)>,"<ColumnSchema (Logical Type = Ordinal: [0, 1, ..."
78,not_equal,transform,True,False,Determines if values in one list are not equal...,<ColumnSchema>,<ColumnSchema (Logical Type = BooleanNullable)>
79,time_since,transform,True,False,Calculates time from a value to a specified cu...,<ColumnSchema (Logical Type = Datetime)>,<ColumnSchema (Semantic Tags = ['numeric'])>
80,scalar_subtract_numeric_feature,transform,True,True,Subtracts each value in the list from a given ...,<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Semantic Tags = ['numeric'])>
81,greater_than_equal_to_scalar,transform,True,True,Determines if values are greater than or equal...,"<ColumnSchema (Semantic Tags = ['numeric'])>, ...",<ColumnSchema (Logical Type = BooleanNullable)>
82,num_characters,transform,True,True,Calculates the number of characters in a string.,<ColumnSchema (Logical Type = NaturalLanguage)>,<ColumnSchema (Semantic Tags = ['numeric'])>
83,url_to_domain,transform,False,False,Determines the domain of a url.,<ColumnSchema (Logical Type = URL)>,<ColumnSchema (Logical Type = Categorical) (Se...
84,divide_numeric_scalar,transform,True,True,Divides each element in the list by a scalar.,<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Semantic Tags = ['numeric'])>
85,is_leap_year,transform,True,True,Determines the is_leap_year attribute of a dat...,<ColumnSchema (Logical Type = Datetime)>,<ColumnSchema (Logical Type = BooleanNullable)>
86,is_year_end,transform,True,True,Determines if a date falls on the end of a year.,<ColumnSchema (Logical Type = Datetime)>,<ColumnSchema (Logical Type = BooleanNullable)>
87,rolling_max,transform,False,False,Determines the maximum of entries over a given...,"<ColumnSchema (Semantic Tags = ['numeric'])>, ...",<ColumnSchema (Logical Type = Double) (Semanti...
88,cityblock_distance,transform,False,False,Calculates the distance between points in a ci...,<ColumnSchema (Logical Type = LatLong)>,<ColumnSchema (Logical Type = Double) (Semanti...
89,multiply_numeric,transform,True,True,Performs element-wise multiplication of two li...,<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Semantic Tags = ['numeric'])>
90,less_than,transform,True,True,Determines if values in one list are less than...,"<ColumnSchema (Semantic Tags = ['numeric'])>, ...",<ColumnSchema (Logical Type = BooleanNullable)>
91,num_words,transform,True,True,Determines the number of words in a string by ...,<ColumnSchema (Logical Type = NaturalLanguage)>,<ColumnSchema (Semantic Tags = ['numeric'])>
92,cum_sum,transform,False,False,Calculates the cumulative sum.,<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Semantic Tags = ['numeric'])>
93,time_since_previous,transform,False,False,Computes the time since the previous entry in ...,<ColumnSchema (Logical Type = Datetime) (Seman...,<ColumnSchema (Semantic Tags = ['numeric'])>
94,url_to_protocol,transform,False,False,Determines the protocol (http or https) of a url.,<ColumnSchema (Logical Type = URL)>,<ColumnSchema (Logical Type = Categorical) (Se...
95,divide_by_feature,transform,True,True,Divides a scalar by each value in the list.,<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Semantic Tags = ['numeric'])>
96,is_lunch_time,transform,True,True,Determines if a datetime falls during configur...,<ColumnSchema (Logical Type = Datetime)>,<ColumnSchema (Logical Type = BooleanNullable)>
97,is_null,transform,True,True,Determines if a value is null.,<ColumnSchema>,<ColumnSchema (Logical Type = Boolean)>
98,is_year_start,transform,True,True,Determines if a date falls on the start of a y...,<ColumnSchema (Logical Type = Datetime)>,<ColumnSchema (Logical Type = BooleanNullable)>
99,rolling_min,transform,False,False,Determines the minimum of entries over a given...,"<ColumnSchema (Semantic Tags = ['numeric'])>, ...",<ColumnSchema (Logical Type = Double) (Semanti...
100,not_equal_scalar,transform,True,True,Determines if values in a list are not equal t...,<ColumnSchema>,<ColumnSchema (Logical Type = BooleanNullable)>
101,geomidpoint,transform,False,False,Determines the geographic center of two coordi...,<ColumnSchema (Logical Type = LatLong)>,<ColumnSchema (Logical Type = LatLong)>
102,less_than_scalar,transform,True,True,Determines if values are less than a given sca...,"<ColumnSchema (Semantic Tags = ['numeric'])>, ...",<ColumnSchema (Logical Type = BooleanNullable)>
103,isin,transform,True,True,Determines whether a value is present in a pro...,<ColumnSchema>,<ColumnSchema (Logical Type = Boolean)>
104,age,transform,True,False,Calculates the age in years as a floating poin...,<ColumnSchema (Logical Type = Datetime) (Seman...,<ColumnSchema (Logical Type = AgeFractional) (...
105,cum_count,transform,False,False,Calculates the cumulative count.,<ColumnSchema (Semantic Tags = ['foreign_key']...,<ColumnSchema (Logical Type = IntegerNullable)...
106,url_to_tld,transform,False,False,Determines the top level domain of a url.,<ColumnSchema (Logical Type = URL)>,<ColumnSchema (Logical Type = Categorical) (Se...
107,absolute,transform,True,True,Computes the absolute value of a number.,<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Semantic Tags = ['numeric'])>
108,is_month_end,transform,True,True,Determines the is_month_end attribute of a dat...,<ColumnSchema (Logical Type = Datetime)>,<ColumnSchema (Logical Type = BooleanNullable)>
109,modulo_numeric,transform,True,True,Performs element-wise modulo of two lists.,<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Semantic Tags = ['numeric'])>
110,multiply_numeric_scalar,transform,True,True,Multiplies each element in the list by a scalar.,<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Semantic Tags = ['numeric'])>
111,minute,transform,True,True,Determines the minutes value of a datetime.,<ColumnSchema (Logical Type = Datetime)>,"<ColumnSchema (Logical Type = Ordinal: [0, 1, ..."
112,rolling_mean,transform,False,False,Calculates the mean of entries over a given wi...,"<ColumnSchema (Semantic Tags = ['numeric'])>, ...",<ColumnSchema (Logical Type = Double) (Semanti...
113,add_numeric,transform,True,True,Performs element-wise addition of two lists.,<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Semantic Tags = ['numeric'])>
114,haversine,transform,False,False,Calculates the approximate haversine distance ...,<ColumnSchema (Logical Type = LatLong)>,<ColumnSchema (Semantic Tags = ['numeric'])>

In [46]:
pd.set_option('display.max_rows', 30)

In [47]:
articles_feature_matrix, articles_feature_defs = ft.dfs(
    entityset=es,
    target_dataframe_name="articles",
    agg_primitives=["sum", "mean", "median", "max", "min", "time_since_last", "count", "time_since_first"]
)

In [48]:
list(enumerate(articles_feature_defs))

[(0, <Feature: product_code>),
 (1, <Feature: product_type_no>),
 (2, <Feature: product_type_name>),
 (3, <Feature: product_group_name>),
 (4, <Feature: graphical_appearance_no>),
 (5, <Feature: graphical_appearance_name>),
 (6, <Feature: colour_group_code>),
 (7, <Feature: colour_group_name>),
 (8, <Feature: perceived_colour_value_id>),
 (9, <Feature: perceived_colour_value_name>),
 (10, <Feature: perceived_colour_master_id>),
 (11, <Feature: perceived_colour_master_name>),
 (12, <Feature: department_no>),
 (13, <Feature: department_name>),
 (14, <Feature: index_code>),
 (15, <Feature: index_name>),
 (16, <Feature: index_group_no>),
 (17, <Feature: index_group_name>),
 (18, <Feature: section_no>),
 (19, <Feature: section_name>),
 (20, <Feature: garment_group_no>),
 (21, <Feature: garment_group_name>),
 (22, <Feature: COUNT(transactions)>),
 (23, <Feature: MAX(transactions.price)>),
 (24, <Feature: MEAN(transactions.price)>),
 (25, <Feature: MEDIAN(transactions.price)>),
 (26, <Feature: MIN(transactions.price)>),
 (27, <Feature: SUM(transactions.price)>),
 (28, <Feature: TIME_SINCE_FIRST(transactions.t_dat)>),
 (29, <Feature: TIME_SINCE_LAST(transactions.t_dat)>),
 (30, <Feature: NUM_CHARACTERS(detail_desc)>),
 (31, <Feature: NUM_WORDS(detail_desc)>),
 (32, <Feature: MAX(transactions.customers.age)>),
 (33, <Feature: MEAN(transactions.customers.age)>),
 (34, <Feature: MEDIAN(transactions.customers.age)>),
 (35, <Feature: MIN(transactions.customers.age)>),
 (36, <Feature: SUM(transactions.customers.age)>)]

In [49]:
articles_feature_defs[0].get_name()

'product_code'

In [50]:
feats = [feature.get_name() for feature in articles_feature_defs if len(feature.base_features)>0]

In [51]:
feats

['COUNT(transactions)',
 'MAX(transactions.price)',
 'MEAN(transactions.price)',
 'MEDIAN(transactions.price)',
 'MIN(transactions.price)',
 'SUM(transactions.price)',
 'TIME_SINCE_FIRST(transactions.t_dat)',
 'TIME_SINCE_LAST(transactions.t_dat)',
 'NUM_CHARACTERS(detail_desc)',
 'NUM_WORDS(detail_desc)',
 'MAX(transactions.customers.age)',
 'MEAN(transactions.customers.age)',
 'MEDIAN(transactions.customers.age)',
 'MIN(transactions.customers.age)',
 'SUM(transactions.customers.age)']

In [52]:
articles_feature_matrix[feats]

,COUNT(transactions),MAX(transactions.price),MEAN(transactions.price),MEDIAN(transactions.price),MIN(transactions.price),SUM(transactions.price),TIME_SINCE_FIRST(transactions.t_dat),TIME_SINCE_LAST(transactions.t_dat),NUM_CHARACTERS(detail_desc),NUM_WORDS(detail_desc),MAX(transactions.customers.age),MEAN(transactions.customers.age),MEDIAN(transactions.customers.age),MIN(transactions.customers.age),SUM(transactions.customers.age)
article_id,,,,,,,,,,,,,,,
0927491001,60,0.050831,0.048554,0.050831,0.020339,2.913220,6.371638e+07,5.948278e+07,274.0,48.0,66.0,33.016667,28.0,21.0,1981.0
0691839001,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,180.0,27.0,NaN,NaN,NaN,NaN,0.0
0908924002,11,0.025407,0.025407,0.025407,0.025407,0.279475,6.354358e+07,6.008758e+07,117.0,19.0,73.0,42.000000,45.0,24.0,462.0
0679630001,1,0.084729,0.084729,0.084729,0.084729,0.084729,6.622198e+07,6.622198e+07,100.0,18.0,52.0,52.000000,52.0,52.0,52.0
0698899003,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,147.0,27.0,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0475827011,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,106.0,17.0,NaN,NaN,NaN,NaN,0.0
0641715002,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,118.0,22.0,NaN,NaN,NaN,NaN,0.0
0545612001,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,175.0,29.0,NaN,NaN,NaN,NaN,0.0
0663277003,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,71.0,14.0,NaN,NaN,NaN,NaN,0.0
0520392001,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,207.0,39.0,NaN,NaN,NaN,NaN,0.0

In [53]:
articles_feature_defs[21].base_features

[]

In [54]:
articles_feature_defs[10].base_features

[]

In [55]:
dir(articles_feature_matrix)

['T',
 '_AXIS_LEN',
 '_AXIS_ORDERS',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_accum_func',
 '_add_numeric_operations',
 '_agg_by_level',
 '_agg_examples_doc',
 '_agg_summary_and_see_also_doc',
 '_align_frame',
 '_align_series',
 '_append',
 '_arith_method',
 '_as_manager',
 '_attrs',
 '_box_col_values',
 '_can_fast_transpose',
 '_check_inplace_and_allows_duplicate_labels',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_cmp_method',
 '_combine_frame',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_from_arguments',
 '_construct_result',
 '_constructor',
 '_constructor_sliced',
 '_convert',
 '_count_level',
 '_data',
 '_dir_additions',
 '_dir_deletions',
 '_dispatch_frame_op',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_ensure_valid_index',
 '_find_valid_index',
 '_flags',
 '_from_arrays',
 '_from_mgr',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cleaned_column_resolvers',
 '_get_column_array',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_getitem_bool_array',
 '_getitem_multilevel',
 '_gotitem',
 '_hidden_attrs',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_mgr',
 '_inplace_method',
 '_internal_names',
 '_internal_names_set',
 '_is_copy',
 '_is_homogeneous_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_iset_item',
 '_iset_item_mgr',
 '_iset_not_inplace',
 '_item_cache',
 '_iter_column_arrays',
 '_ixs',
 '_join_compat',
 '_logical_func',
 '_logical_method',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_mgr',
 '_min_count_stat_function',
 '_needs_reindex_multi',
 '_protect_consolidate',
 '_reduce',
 '_reduce_axis1',
 '_reindex_axes',
 '_reindex_columns',
 '_reindex_index',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_rename',
 '_replace_columnwise',
 '_repr_data_resource_',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_series',
 '_set_axis',
 '_set_axis_name',
 '_set_axis_nocheck',
 '_set_is_copy',
 '_set_item',
 '_set_item_frame_value',
 '_set_item_mgr',
 '_set_value',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_stat_function',
 '_stat_function_ddof',
 '_take_with_is_copy',
 '_to_dict_of_blocks',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'applymap',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'at_time',
 'attrs',
 'axes',
 'backfill',
 'between_time',
 'bfill',
 'bool',
 'boxplot',
 'clip',
 'colour_group_code',
 'colour_group_name',
 'columns',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'department_name',
 'department_no',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'explode',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'from_dict',
 'from_records',
 'garment_group_name',
 'garment_group_no',
 'ge',
 'get',
 'graphical_appearance_name',
 'graphical_appearance_no',
 'groupby',
 'gt',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'index_code',
 'index_group_name',
 'index_group_no',
 'index_name',
 'infer_objects',
 'info',
 'insert',
 'interpolate',
 'isin',
 'isna',
 'isnull',
 'items',
 'iteritems',
 'iterrows',
 'itertuples',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lookup',
 'lt',
 'mad',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'perceived_colour_master_id',
 'perceived_colour_master_name',
 'perceived_colour_value_id',
 'perceived_colour_value_name',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'product_code',
 'product_group_name',
 'product_type_name',
 'product_type_no',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'section_name',
 'section_no',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_flags',
 'set_index',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_markdown',
 'to_numpy',
 'to_parquet',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'to_xml',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'where',
 'ww',
 'xs']

In [56]:
ft.describe_feature(articles_feature_defs[30])

'The number of characters in the "detail_desc".'

In [57]:
list(enumerate(articles_feature_defs))

[(0, <Feature: product_code>),
 (1, <Feature: product_type_no>),
 (2, <Feature: product_type_name>),
 (3, <Feature: product_group_name>),
 (4, <Feature: graphical_appearance_no>),
 (5, <Feature: graphical_appearance_name>),
 (6, <Feature: colour_group_code>),
 (7, <Feature: colour_group_name>),
 (8, <Feature: perceived_colour_value_id>),
 (9, <Feature: perceived_colour_value_name>),
 (10, <Feature: perceived_colour_master_id>),
 (11, <Feature: perceived_colour_master_name>),
 (12, <Feature: department_no>),
 (13, <Feature: department_name>),
 (14, <Feature: index_code>),
 (15, <Feature: index_name>),
 (16, <Feature: index_group_no>),
 (17, <Feature: index_group_name>),
 (18, <Feature: section_no>),
 (19, <Feature: section_name>),
 (20, <Feature: garment_group_no>),
 (21, <Feature: garment_group_name>),
 (22, <Feature: COUNT(transactions)>),
 (23, <Feature: MAX(transactions.price)>),
 (24, <Feature: MEAN(transactions.price)>),
 (25, <Feature: MEDIAN(transactions.price)>),
 (26, <Feature: MIN(transactions.price)>),
 (27, <Feature: SUM(transactions.price)>),
 (28, <Feature: TIME_SINCE_FIRST(transactions.t_dat)>),
 (29, <Feature: TIME_SINCE_LAST(transactions.t_dat)>),
 (30, <Feature: NUM_CHARACTERS(detail_desc)>),
 (31, <Feature: NUM_WORDS(detail_desc)>),
 (32, <Feature: MAX(transactions.customers.age)>),
 (33, <Feature: MEAN(transactions.customers.age)>),
 (34, <Feature: MEDIAN(transactions.customers.age)>),
 (35, <Feature: MIN(transactions.customers.age)>),
 (36, <Feature: SUM(transactions.customers.age)>)]

### customers

In [58]:
customers_feature_matrix, customers_feature_defs = ft.dfs(
    entityset=es,
    target_dataframe_name="customers",
    ignore_dataframes=["articles"],
    agg_primitives=["sum", "mean", "median", "max", "min", "time_since_last", "count", "time_since_first", "avg_time_between"],
)

In [59]:
list(customers_feature_matrix.ww.select(exclude=[Boolean]).ww.schema.columns.keys())

['club_member_status',
 'fashion_news_frequency',
 'age',
 'AVG_TIME_BETWEEN(transactions.t_dat)',
 'COUNT(transactions)',
 'MAX(transactions.price)',
 'MEAN(transactions.price)',
 'MEDIAN(transactions.price)',
 'MIN(transactions.price)',
 'SUM(transactions.price)',
 'TIME_SINCE_FIRST(transactions.t_dat)',
 'TIME_SINCE_LAST(transactions.t_dat)']

In [60]:
fm_to_check = customers_feature_matrix.ww.select(include=[Boolean])

In [61]:
ft.primitives.list_primitives()

,name,type,dask_compatible,spark_compatible,description,valid_inputs,return_type
0,max,aggregation,True,True,"Calculates the highest value, ignoring `NaN` v...",<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Semantic Tags = ['numeric'])>
1,time_since_last,aggregation,False,False,Calculates the time elapsed since the last dat...,<ColumnSchema (Logical Type = Datetime) (Seman...,<ColumnSchema (Logical Type = Double) (Semanti...
2,any,aggregation,True,False,Determines if any value is 'True' in a list.,"<ColumnSchema (Logical Type = Boolean)>, <Colu...",<ColumnSchema (Logical Type = Boolean)>
3,mode,aggregation,False,False,Determines the most commonly repeated value.,<ColumnSchema (Semantic Tags = ['category'])>,None
4,count,aggregation,True,True,"Determines the total number of values, excludi...",<ColumnSchema (Semantic Tags = ['index'])>,<ColumnSchema (Logical Type = IntegerNullable)...
...,...,...,...,...,...,...,...
112,rolling_mean,transform,False,False,Calculates the mean of entries over a given wi...,"<ColumnSchema (Semantic Tags = ['numeric'])>, ...",<ColumnSchema (Logical Type = Double) (Semanti...
113,add_numeric,transform,True,True,Performs element-wise addition of two lists.,<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Semantic Tags = ['numeric'])>
114,haversine,transform,False,False,Calculates the approximate haversine distance ...,<ColumnSchema (Logical Type = LatLong)>,<ColumnSchema (Semantic Tags = ['numeric'])>
115,less_than_equal_to,transform,True,True,Determines if values in one list are less than...,"<ColumnSchema (Semantic Tags = ['numeric'])>, ...",<ColumnSchema (Logical Type = BooleanNullable)>
116,diff,transform,False,False,Computes the difference between the value in a...,<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Semantic Tags = ['numeric'])>

In [62]:
customers_feature_matrix

,FN,Active,club_member_status,fashion_news_frequency,age,AVG_TIME_BETWEEN(transactions.t_dat),COUNT(transactions),MAX(transactions.price),MEAN(transactions.price),MEDIAN(transactions.price),MIN(transactions.price),SUM(transactions.price),TIME_SINCE_FIRST(transactions.t_dat),TIME_SINCE_LAST(transactions.t_dat)
customer_id,,,,,,,,,,,,,,
ff18c106287931d170618b59fd402ed0ecc292869aad5f7b2815e43a6fb9dbdf,True,True,ACTIVE,NONE,31,NaN,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
136601b1d1f36b13b9a4bbe185f164f24f522c5d476d096bd00a21dd98e20606,True,True,ACTIVE,Regularly,51,NaN,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
247a3ee3fe8a153bbf14e41f18c8bb5ebc9d53fe83830d35558463f3df54be98,True,True,PRE-CREATE,NONE,69,NaN,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
d1e601dc9ea370b6dee95cbb983adf7fe5294386410be939ed1b91f617d78ae3,True,True,ACTIVE,NONE,24,NaN,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
abc428504037054226353c4194380c7f16aff32b0633ac8f9f5d0f5e3da2ae5a,True,True,ACTIVE,NONE,28,NaN,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
a4092d95d91ec0ff90527962935550346d993a299353c6cf3d00d9fc7b9cc74b,True,True,ACTIVE,NONE,25,NaN,1,0.084729,0.084729,0.084729,0.084729,0.084729,7.106040e+07,7.106040e+07
c321175e12787427aa6d00985519c41650614b362e206f83787c6fc8495d0245,True,True,ACTIVE,Regularly,22,NaN,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
016a81548c36c010144819354910dc0763b9b10eeeeacf5145832c28c480c5e0,True,True,ACTIVE,NONE,48,NaN,1,0.050831,0.050831,0.050831,0.050831,0.050831,6.172920e+07,6.172920e+07
dc066cb0d1be0a395c472b1a31679fcd64035db1a4212134f2ee66eb360713ee,True,True,ACTIVE,NONE,27,NaN,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
4bb1952ea5ae562246737b4904e5db79ee65ec732f7c310f5590ff826e762d11,True,True,ACTIVE,NONE,19,NaN,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN

In [63]:
list(enumerate(customers_feature_defs))

[(0, <Feature: FN>),
 (1, <Feature: Active>),
 (2, <Feature: club_member_status>),
 (3, <Feature: fashion_news_frequency>),
 (4, <Feature: age>),
 (5, <Feature: AVG_TIME_BETWEEN(transactions.t_dat)>),
 (6, <Feature: COUNT(transactions)>),
 (7, <Feature: MAX(transactions.price)>),
 (8, <Feature: MEAN(transactions.price)>),
 (9, <Feature: MEDIAN(transactions.price)>),
 (10, <Feature: MIN(transactions.price)>),
 (11, <Feature: SUM(transactions.price)>),
 (12, <Feature: TIME_SINCE_FIRST(transactions.t_dat)>),
 (13, <Feature: TIME_SINCE_LAST(transactions.t_dat)>)]

### transactions

transactions features won't be used

In [41]:
transactions_feature_matrix, transactions_feature_defs = ft.dfs(entityset=es, target_dataframe_name="transactions")

In [42]:
transactions_feature_matrix.loc[0, :][0]

'0090852ad6a446ccf02a7d57ec7385c360ab33a813b870e7e725beae6a76ddd4'

In [43]:
transactions[transactions.customer_id=='0090852ad6a446ccf02a7d57ec7385c360ab33a813b870e7e725beae6a76ddd4']

,t_dat,customer_id,article_id,price,sales_channel_id,_index
0,2020-04-01,0090852ad6a446ccf02a7d57ec7385c360ab33a813b870...,0817352006,0.050831,2,0
74757,2020-06-19,0090852ad6a446ccf02a7d57ec7385c360ab33a813b870...,0844030001,0.059305,2,74757
74758,2020-06-19,0090852ad6a446ccf02a7d57ec7385c360ab33a813b870...,0698276009,0.050831,2,74758

In [44]:
transactions_feature_matrix

,customer_id,article_id,price,sales_channel_id,DAY(t_dat),MONTH(t_dat),WEEKDAY(t_dat),YEAR(t_dat),customers.FN,customers.Active,customers.club_member_status,customers.fashion_news_frequency,customers.age,articles.product_code,articles.product_type_no,articles.product_type_name,articles.product_group_name,articles.graphical_appearance_no,articles.graphical_appearance_name,articles.colour_group_code,articles.colour_group_name,articles.perceived_colour_value_id,articles.perceived_colour_value_name,articles.perceived_colour_master_id,articles.perceived_colour_master_name,articles.department_no,articles.department_name,articles.index_code,articles.index_name,articles.index_group_no,articles.index_group_name,articles.section_no,articles.section_name,articles.garment_group_no,articles.garment_group_name,customers.COUNT(transactions),customers.MAX(transactions.price),customers.MEAN(transactions.price),customers.MIN(transactions.price),customers.MODE(transactions.article_id),customers.MODE(transactions.sales_channel_id),customers.NUM_UNIQUE(transactions.article_id),customers.NUM_UNIQUE(transactions.sales_channel_id),customers.SKEW(transactions.price),customers.STD(transactions.price),customers.SUM(transactions.price),articles.COUNT(transactions),articles.MAX(transactions.price),articles.MEAN(transactions.price),articles.MIN(transactions.price),articles.MODE(transactions.customer_id),articles.MODE(transactions.sales_channel_id),articles.NUM_UNIQUE(transactions.customer_id),articles.NUM_UNIQUE(transactions.sales_channel_id),articles.SKEW(transactions.price),articles.STD(transactions.price),articles.SUM(transactions.price),articles.NUM_CHARACTERS(detail_desc),articles.NUM_WORDS(detail_desc)
_index,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0,0090852ad6a446ccf02a7d57ec7385c360ab33a813b870...,0817352006,0.050831,2,1,4,2,2020,True,True,ACTIVE,Regularly,61,817352,264,Blazer,Garment Upper body,1010016,Solid,52,Pink,7,Medium,4,Pink,1222,Suit jacket,A,Ladieswear,1,Ladieswear,15,Womens Everyday Collection,1008,Dressed,3,0.059305,0.053655,0.050831,0698276009,2,3,1,1.732051,0.004893,0.160966,41,0.050831,0.045183,0.025407,7c683c445fdd24d6187ebcdc4fb4049356b07bf378a890...,2,38,2,-1.315550,0.007749,1.852492,105.0,17.0
1,02001d047023157327d7a41fbcb9227dfe589ddccfab3c...,0795790001,0.033881,2,1,4,2,2020,True,True,ACTIVE,NONE,24,795790,265,Dress,Garment Full body,1010016,Solid,9,Black,4,Dark,5,Black,1344,Dresses,D,Divided,2,Divided,53,Divided Collection,1013,Dresses Ladies,3,0.033881,0.025407,0.011847,0351484033,2,3,1,-1.574344,0.011864,0.076220,47,0.033881,0.029828,0.020322,7951577d04d50dc98d13b7ac8598fd8ef7832adb801a17...,2,44,2,-0.424343,0.004308,1.401898,140.0,22.0
2,02001d047023157327d7a41fbcb9227dfe589ddccfab3c...,0756347001,0.030492,2,1,4,2,2020,True,True,ACTIVE,NONE,24,756347,265,Dress,Garment Full body,1010001,All over pattern,51,Light Pink,1,Dusty Light,4,Pink,1344,Dresses,D,Divided,2,Divided,53,Divided Collection,1013,Dresses Ladies,3,0.033881,0.025407,0.011847,0351484033,2,3,1,-1.574344,0.011864,0.076220,15,0.050831,0.030140,0.022864,00d950059ced1e3d41312ef4d7c7c26c924881cde6af9c...,2,13,1,1.545844,0.009257,0.452102,220.0,40.0
3,021950aab71ee5b077953803dfa182e04996f69baad474...,0351484002,0.022017,2,1,4,2,2020,True,True,ACTIVE,NONE,27,351484,59,Swimwear bottom,Swimwear,1010016,Solid,9,Black,4,Dark,5,Black,4242,Swimwear,B,Lingeries/Tights,1,Ladieswear,60,"Womens Swimwear, beachwear",1018,Swimwear,3,0.050000,0.029559,0.016661,0351484002,2,3,1,1.559302,0.017904,0.088678,437,0.022017,0.019463,0.003373,974285b4aab6a891e618d15ebd1522e2de7002f89c025f...,2,368,2,-1.559573,0.003223,8.505356,104.0,17.0
4,026a83da294520e421e709d14b3bcc1da4025bd006d820...,0825318005,0.016254,2,1,4,2,2020,True,True,ACTIVE,NONE,25,825318,253,Vest top,Garment Upper body,1010016,Solid,10,White,3,Light,9,White,8316,Ladies Sport Bras,S,Sport,26,Sport,5,Ladies H&M Sport,1005,Jersey Fancy,2,0.024390,0.020322,0.016254,0776237020,2,2,1,NaN,0.005753,0.040644,61,0.016932,0.014967,0.005475,22991948358ba21c48ccd6419bf55f0bf59737c0d98e3a...,2,56,1,-1.913492,0.002812,0.913017,97.0,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157780,fea6572677bb4067304af23467abc83e47c3926d35f625...,0906705001,0.101678,2,22,9,1,2020,True,True,ACTIVE,NONE,28,906705,144,Flat shoe,Shoes,1010016,Solid,9,Black,4,Dark,5,Black,3040,Premium Quality,C,Ladies Accessories,1,Ladieswear,64,Womens Shoes,1020,Shoes,2,0.101678,0.076254,0.050831,0852442003,2,2,1,NaN,0.035955,0.152508,2,0.101678,0.101678,0.101678,c9c5402a6fd33be992735346500c631b51ca8ab0067dbc...,2,2,1,NaN,0.000000,0.203356,82.0,11.0
157781,ff411f623177338bde6299009234da653cd417a6986780...,0903096002,0.042356,2,22,9,1,2020,True,True,ACTIVE,NONE,42,903096,265,Dress,Garment Full body,1010016,Solid,8,Dark Grey,4,Dark,-1,Unknown,1660,Jersey,A,Ladieswear,1,Ladieswear,6,Womens Casual,1005,Jersey Fancy,8,0.067780,0.050831,0.033881,0780392001,2,8,1,-0.330719,0.012812,0.406644,20,0.042356,0.042320,0.041644,6b48022404f7e93210d7c001fe50eb1553a874eb415dea...,2,18,1,-4.472136,0.000159,0.846407,229.0,39.0
157782,ff411f623177338bde6299009234da653cd417a6986780...,0923569007,0.059305,2,22,9,1,2020,True,True,ACTIVE,NONE,42,923569,254,Top,Garment Upper body,1010010,Melange,51,Light Pink,3,Light,4,Pink,1610,Knitwear,A,Ladieswear,1,Ladieswear,6,Womens Casual,1003,Knitwear,8,0.067780,0.050831,0.033881,0780392001,2,8,1,-0.330719,0.012812,0.406644,9,0.059305,0.059162,0.058017,607c6a5ff6c64f04d8211ded25f5728c1e368f8d10d746...,2,7,1,-3.000000,0.000429,0.532458,169.0,29.0
157783,ff411f623177338bde6299009234da653cd417a6986780...,0873274001,0.050831,2,22,9,1,2020,True,True,ACTIVE,NONE,42,873274,252,Sweater,Garment Upper body,1010016,Solid,9,Black,4,Dark,5,Black,1626,Knitwear,A,Ladieswear,1,Ladieswear,15,Womens Everyday Collection,1003,Knitwear,8,0.067780,0.050831,0.033881,0780392001,2,8,1,-0.330719,0.012812,0.406644,11,0.050831,0.050498,0.048695,b7a141d81c529ffa6fc778e47ce60fac2597e5ce130adf...,2,9,1,-2.068284,0.000753,0.555475,230.0,42.0
157784,ffcd5ff3fd5b9ee6b984c143c973fd2697ca141483d381...,0918485001,0.067780,2,22,9,1,2020,True,True,ACTIVE,Regularly,30,918485,258,Blouse,Garment Upper body,1010016,Solid,12,Light Beige,1,Dusty Light,11,Beige,1941,Blouse & Dress,A,Ladieswear,1,Ladieswear,18,Womens Trend,1010,Blouses,2,0.067780,0.067780,0.067780,0886862007,2,2,1,NaN,0.000000,0.135559,8,0.067780,0.066932,0.061000,64a8bcd318d77441cc8eb29a7c813f1e5ab2597c1dc855...,2,8,1,-2.828427,0.002397,0.535458,324.0,56.0

In [45]:
transactions_feature_defs

[<Feature: customer_id>,
 <Feature: article_id>,
 <Feature: price>,
 <Feature: sales_channel_id>,
 <Feature: DAY(t_dat)>,
 <Feature: MONTH(t_dat)>,
 <Feature: WEEKDAY(t_dat)>,
 <Feature: YEAR(t_dat)>,
 <Feature: customers.FN>,
 <Feature: customers.Active>,
 <Feature: customers.club_member_status>,
 <Feature: customers.fashion_news_frequency>,
 <Feature: customers.age>,
 <Feature: articles.product_code>,
 <Feature: articles.product_type_no>,
 <Feature: articles.product_type_name>,
 <Feature: articles.product_group_name>,
 <Feature: articles.graphical_appearance_no>,
 <Feature: articles.graphical_appearance_name>,
 <Feature: articles.colour_group_code>,
 <Feature: articles.colour_group_name>,
 <Feature: articles.perceived_colour_value_id>,
 <Feature: articles.perceived_colour_value_name>,
 <Feature: articles.perceived_colour_master_id>,
 <Feature: articles.perceived_colour_master_name>,
 <Feature: articles.department_no>,
 <Feature: articles.department_name>,
 <Feature: articles.index_code>,
 <Feature: articles.index_name>,
 <Feature: articles.index_group_no>,
 <Feature: articles.index_group_name>,
 <Feature: articles.section_no>,
 <Feature: articles.section_name>,
 <Feature: articles.garment_group_no>,
 <Feature: articles.garment_group_name>,
 <Feature: customers.COUNT(transactions)>,
 <Feature: customers.MAX(transactions.price)>,
 <Feature: customers.MEAN(transactions.price)>,
 <Feature: customers.MIN(transactions.price)>,
 <Feature: customers.MODE(transactions.article_id)>,
 <Feature: customers.MODE(transactions.sales_channel_id)>,
 <Feature: customers.NUM_UNIQUE(transactions.article_id)>,
 <Feature: customers.NUM_UNIQUE(transactions.sales_channel_id)>,
 <Feature: customers.SKEW(transactions.price)>,
 <Feature: customers.STD(transactions.price)>,
 <Feature: customers.SUM(transactions.price)>,
 <Feature: articles.COUNT(transactions)>,
 <Feature: articles.MAX(transactions.price)>,
 <Feature: articles.MEAN(transactions.price)>,
 <Feature: articles.MIN(transactions.price)>,
 <Feature: articles.MODE(transactions.customer_id)>,
 <Feature: articles.MODE(transactions.sales_channel_id)>,
 <Feature: articles.NUM_UNIQUE(transactions.customer_id)>,
 <Feature: articles.NUM_UNIQUE(transactions.sales_channel_id)>,
 <Feature: articles.SKEW(transactions.price)>,
 <Feature: articles.STD(transactions.price)>,
 <Feature: articles.SUM(transactions.price)>,
 <Feature: articles.NUM_CHARACTERS(detail_desc)>,
 <Feature: articles.NUM_WORDS(detail_desc)>]

### remove

In [42]:
customers_feature_matrix

,FN,Active,club_member_status,fashion_news_frequency,age,AVG_TIME_BETWEEN(transactions.t_dat),COUNT(transactions),MAX(transactions.price),MEAN(transactions.price),MEDIAN(transactions.price),MIN(transactions.price),SUM(transactions.price),TIME_SINCE_FIRST(transactions.t_dat),TIME_SINCE_LAST(transactions.t_dat)
customer_id,,,,,,,,,,,,,,
ff18c106287931d170618b59fd402ed0ecc292869aad5f7b2815e43a6fb9dbdf,True,True,ACTIVE,NONE,31,NaN,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
136601b1d1f36b13b9a4bbe185f164f24f522c5d476d096bd00a21dd98e20606,True,True,ACTIVE,Regularly,51,NaN,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
247a3ee3fe8a153bbf14e41f18c8bb5ebc9d53fe83830d35558463f3df54be98,True,True,PRE-CREATE,NONE,69,NaN,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
d1e601dc9ea370b6dee95cbb983adf7fe5294386410be939ed1b91f617d78ae3,True,True,ACTIVE,NONE,24,NaN,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
abc428504037054226353c4194380c7f16aff32b0633ac8f9f5d0f5e3da2ae5a,True,True,ACTIVE,NONE,28,NaN,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
a4092d95d91ec0ff90527962935550346d993a299353c6cf3d00d9fc7b9cc74b,True,True,ACTIVE,NONE,25,NaN,1,0.084729,0.084729,0.084729,0.084729,0.084729,7.088880e+07,7.088880e+07
c321175e12787427aa6d00985519c41650614b362e206f83787c6fc8495d0245,True,True,ACTIVE,Regularly,22,NaN,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
016a81548c36c010144819354910dc0763b9b10eeeeacf5145832c28c480c5e0,True,True,ACTIVE,NONE,48,NaN,1,0.050831,0.050831,0.050831,0.050831,0.050831,6.155760e+07,6.155760e+07
dc066cb0d1be0a395c472b1a31679fcd64035db1a4212134f2ee66eb360713ee,True,True,ACTIVE,NONE,27,NaN,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
4bb1952ea5ae562246737b4904e5db79ee65ec732f7c310f5590ff826e762d11,True,True,ACTIVE,NONE,19,NaN,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN

In [43]:
articles_feature_matrix

,product_code,product_type_no,product_type_name,product_group_name,graphical_appearance_no,graphical_appearance_name,colour_group_code,colour_group_name,perceived_colour_value_id,perceived_colour_value_name,perceived_colour_master_id,perceived_colour_master_name,department_no,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,COUNT(transactions),MAX(transactions.price),MEAN(transactions.price),MEDIAN(transactions.price),MIN(transactions.price),SUM(transactions.price),TIME_SINCE_FIRST(transactions.t_dat),TIME_SINCE_LAST(transactions.t_dat),NUM_CHARACTERS(detail_desc),NUM_WORDS(detail_desc),MAX(transactions.customers.age),MEAN(transactions.customers.age),MEDIAN(transactions.customers.age),MIN(transactions.customers.age),SUM(transactions.customers.age)
article_id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0927491001,927491,265,Dress,Garment Full body,1010016,Solid,93,Dark Green,4,Dark,20,Khaki green,1313,Dress,A,Ladieswear,1,Ladieswear,11,Womens Tailoring,1013,Dresses Ladies,60,0.050831,0.048554,0.050831,0.020339,2.913220,6.354480e+07,5.931120e+07,274.0,48.0,66.0,33.016667,28.0,21.0,1981.0
0691839001,691839,272,Trousers,Garment Lower body,1010016,Solid,9,Black,4,Dark,5,Black,1722,Trouser,A,Ladieswear,1,Ladieswear,15,Womens Everyday Collection,1009,Trousers,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,180.0,27.0,NaN,NaN,NaN,NaN,0.0
0908924002,908924,259,Shirt,Garment Upper body,1010016,Solid,9,Black,4,Dark,5,Black,1515,Blouse,A,Ladieswear,1,Ladieswear,11,Womens Tailoring,1010,Blouses,11,0.025407,0.025407,0.025407,0.025407,0.279475,6.337200e+07,5.991600e+07,117.0,19.0,73.0,42.000000,45.0,24.0,462.0
0679630001,679630,262,Jacket,Garment Upper body,1010010,Melange,7,Grey,2,Medium Dusty,12,Grey,1929,Outwear,A,Ladieswear,1,Ladieswear,2,H&M+,1007,Outdoor,1,0.084729,0.084729,0.084729,0.084729,0.084729,6.605040e+07,6.605040e+07,100.0,18.0,52.0,52.000000,52.0,52.0,52.0
0698899003,698899,253,Vest top,Garment Upper body,1010022,Jacquard,9,Black,4,Dark,5,Black,1522,Blouse,A,Ladieswear,1,Ladieswear,15,Womens Everyday Collection,1010,Blouses,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,147.0,27.0,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0475827011,475827,89,Other shoe,Shoes,1010016,Solid,13,Beige,2,Medium Dusty,11,Beige,3630,Shoes / Boots inactive from s5,F,Menswear,3,Menswear,27,Men Shoes,1020,Shoes,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,106.0,17.0,NaN,NaN,NaN,NaN,0.0
0641715002,641715,258,Blouse,Garment Upper body,1010016,Solid,10,White,3,Light,9,White,1545,Projects Woven Tops,D,Divided,2,Divided,50,Divided Projects,1010,Blouses,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,118.0,22.0,NaN,NaN,NaN,NaN,0.0
0545612001,545612,272,Trousers,Garment Lower body,1010023,Denim,72,Blue,2,Medium Dusty,2,Blue,1779,Everyday Waredrobe Denim,A,Ladieswear,1,Ladieswear,57,Ladies Denim,1016,Trousers Denim,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,175.0,29.0,NaN,NaN,NaN,NaN,0.0
0663277003,663277,75,Hat/beanie,Accessories,1010010,Melange,7,Grey,2,Medium Dusty,12,Grey,3945,Knit & Woven,D,Divided,2,Divided,52,Divided Accessories,1019,Accessories,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,71.0,14.0,NaN,NaN,NaN,NaN,0.0
0520392001,520392,274,Shorts,Garment Lower body,1010016,Solid,43,Dark Red,4,Dark,18,Red,1722,Trouser,A,Ladieswear,1,Ladieswear,15,Womens Everyday Collection,1009,Trousers,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,207.0,39.0,NaN,NaN,NaN,NaN,0.0

In [44]:
from featuretools.selection import (
    remove_highly_correlated_features,
    remove_highly_null_features,
    remove_single_value_features,
)

In [45]:
remove_highly_null_features(customers_feature_matrix, pct_null_threshold=0.2)

,FN,Active,club_member_status,fashion_news_frequency,age,COUNT(transactions),SUM(transactions.price)
customer_id,,,,,,,
ff18c106287931d170618b59fd402ed0ecc292869aad5f7b2815e43a6fb9dbdf,True,True,ACTIVE,NONE,31,0,0.000000
136601b1d1f36b13b9a4bbe185f164f24f522c5d476d096bd00a21dd98e20606,True,True,ACTIVE,Regularly,51,0,0.000000
247a3ee3fe8a153bbf14e41f18c8bb5ebc9d53fe83830d35558463f3df54be98,True,True,PRE-CREATE,NONE,69,0,0.000000
d1e601dc9ea370b6dee95cbb983adf7fe5294386410be939ed1b91f617d78ae3,True,True,ACTIVE,NONE,24,0,0.000000
abc428504037054226353c4194380c7f16aff32b0633ac8f9f5d0f5e3da2ae5a,True,True,ACTIVE,NONE,28,0,0.000000
...,...,...,...,...,...,...,...
a4092d95d91ec0ff90527962935550346d993a299353c6cf3d00d9fc7b9cc74b,True,True,ACTIVE,NONE,25,1,0.084729
c321175e12787427aa6d00985519c41650614b362e206f83787c6fc8495d0245,True,True,ACTIVE,Regularly,22,0,0.000000
016a81548c36c010144819354910dc0763b9b10eeeeacf5145832c28c480c5e0,True,True,ACTIVE,NONE,48,1,0.050831
dc066cb0d1be0a395c472b1a31679fcd64035db1a4212134f2ee66eb360713ee,True,True,ACTIVE,NONE,27,0,0.000000
4bb1952ea5ae562246737b4904e5db79ee65ec732f7c310f5590ff826e762d11,True,True,ACTIVE,NONE,19,0,0.000000

In [46]:
new_fm, new_features = remove_single_value_features(customers_feature_matrix, features=customers_feature_defs)

In [47]:
new_fm.shape

(137198, 12)

In [48]:
set(new_features)-set(customers_feature_defs)

set()

In [49]:
customers_feature_matrix

,FN,Active,club_member_status,fashion_news_frequency,age,AVG_TIME_BETWEEN(transactions.t_dat),COUNT(transactions),MAX(transactions.price),MEAN(transactions.price),MEDIAN(transactions.price),MIN(transactions.price),SUM(transactions.price),TIME_SINCE_FIRST(transactions.t_dat),TIME_SINCE_LAST(transactions.t_dat)
customer_id,,,,,,,,,,,,,,
ff18c106287931d170618b59fd402ed0ecc292869aad5f7b2815e43a6fb9dbdf,True,True,ACTIVE,NONE,31,NaN,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
136601b1d1f36b13b9a4bbe185f164f24f522c5d476d096bd00a21dd98e20606,True,True,ACTIVE,Regularly,51,NaN,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
247a3ee3fe8a153bbf14e41f18c8bb5ebc9d53fe83830d35558463f3df54be98,True,True,PRE-CREATE,NONE,69,NaN,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
d1e601dc9ea370b6dee95cbb983adf7fe5294386410be939ed1b91f617d78ae3,True,True,ACTIVE,NONE,24,NaN,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
abc428504037054226353c4194380c7f16aff32b0633ac8f9f5d0f5e3da2ae5a,True,True,ACTIVE,NONE,28,NaN,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
a4092d95d91ec0ff90527962935550346d993a299353c6cf3d00d9fc7b9cc74b,True,True,ACTIVE,NONE,25,NaN,1,0.084729,0.084729,0.084729,0.084729,0.084729,7.088880e+07,7.088880e+07
c321175e12787427aa6d00985519c41650614b362e206f83787c6fc8495d0245,True,True,ACTIVE,Regularly,22,NaN,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
016a81548c36c010144819354910dc0763b9b10eeeeacf5145832c28c480c5e0,True,True,ACTIVE,NONE,48,NaN,1,0.050831,0.050831,0.050831,0.050831,0.050831,6.155760e+07,6.155760e+07
dc066cb0d1be0a395c472b1a31679fcd64035db1a4212134f2ee66eb360713ee,True,True,ACTIVE,NONE,27,NaN,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
4bb1952ea5ae562246737b4904e5db79ee65ec732f7c310f5590ff826e762d11,True,True,ACTIVE,NONE,19,NaN,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN

bug in featuretools -> can't call .corr() on Boolean features

https://github.com/alteryx/featuretools/issues/2229

In [50]:
new_fm, new_features = remove_highly_correlated_features(customers_feature_matrix, features=customers_feature_defs)

AttributeError: 'float' object has no attribute 'shape'

In [111]:
cols = list(customers_feature_matrix.ww.select(exclude=[Boolean]).ww.schema.columns.keys())

In [112]:
cols

['club_member_status',
 'fashion_news_frequency',
 'age',
 'AVG_TIME_BETWEEN(transactions.t_dat)',
 'COUNT(transactions)',
 'MAX(transactions.price)',
 'MEAN(transactions.price)',
 'MEDIAN(transactions.price)',
 'MIN(transactions.price)',
 'SUM(transactions.price)',
 'TIME_SINCE_FIRST(transactions.t_dat)',
 'TIME_SINCE_LAST(transactions.t_dat)']

In [116]:
customers_feature_matrix.ww.select(exclude=[Boolean])

,club_member_status,fashion_news_frequency,age,AVG_TIME_BETWEEN(transactions.t_dat),COUNT(transactions),MAX(transactions.price),MEAN(transactions.price),MEDIAN(transactions.price),MIN(transactions.price),SUM(transactions.price),TIME_SINCE_FIRST(transactions.t_dat),TIME_SINCE_LAST(transactions.t_dat)
customer_id,,,,,,,,,,,,
ff18c106287931d170618b59fd402ed0ecc292869aad5f7b2815e43a6fb9dbdf,ACTIVE,NONE,31,NaN,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
136601b1d1f36b13b9a4bbe185f164f24f522c5d476d096bd00a21dd98e20606,ACTIVE,Regularly,51,NaN,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
247a3ee3fe8a153bbf14e41f18c8bb5ebc9d53fe83830d35558463f3df54be98,PRE-CREATE,NONE,69,NaN,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
d1e601dc9ea370b6dee95cbb983adf7fe5294386410be939ed1b91f617d78ae3,ACTIVE,NONE,24,NaN,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
abc428504037054226353c4194380c7f16aff32b0633ac8f9f5d0f5e3da2ae5a,ACTIVE,NONE,28,NaN,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
a4092d95d91ec0ff90527962935550346d993a299353c6cf3d00d9fc7b9cc74b,ACTIVE,NONE,25,NaN,1,0.084729,0.084729,0.084729,0.084729,0.084729,7.088880e+07,7.088880e+07
c321175e12787427aa6d00985519c41650614b362e206f83787c6fc8495d0245,ACTIVE,Regularly,22,NaN,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
016a81548c36c010144819354910dc0763b9b10eeeeacf5145832c28c480c5e0,ACTIVE,NONE,48,NaN,1,0.050831,0.050831,0.050831,0.050831,0.050831,6.155760e+07,6.155760e+07
dc066cb0d1be0a395c472b1a31679fcd64035db1a4212134f2ee66eb360713ee,ACTIVE,NONE,27,NaN,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
4bb1952ea5ae562246737b4904e5db79ee65ec732f7c310f5590ff826e762d11,ACTIVE,NONE,19,NaN,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN

In [114]:
new_fm, new_features = remove_highly_correlated_features(customers_feature_matrix.ww.select(exclude=[Boolean]),
                                                        features=cols)

AttributeError: 'float' object has no attribute 'shape'

In [51]:
list(customers_feature_defs[2:])

[<Feature: club_member_status>,
 <Feature: fashion_news_frequency>,
 <Feature: age>,
 <Feature: AVG_TIME_BETWEEN(transactions.t_dat)>,
 <Feature: COUNT(transactions)>,
 <Feature: MAX(transactions.price)>,
 <Feature: MEAN(transactions.price)>,
 <Feature: MEDIAN(transactions.price)>,
 <Feature: MIN(transactions.price)>,
 <Feature: SUM(transactions.price)>,
 <Feature: TIME_SINCE_FIRST(transactions.t_dat)>,
 <Feature: TIME_SINCE_LAST(transactions.t_dat)>]

In [52]:
new_fm, new_features = remove_highly_correlated_features(customers_feature_matrix.iloc[:, 2:], features=customers_feature_defs[2:])

In [53]:
new_fm

,club_member_status,fashion_news_frequency,age,AVG_TIME_BETWEEN(transactions.t_dat),COUNT(transactions),MAX(transactions.price),MEAN(transactions.price),MIN(transactions.price),SUM(transactions.price),TIME_SINCE_FIRST(transactions.t_dat),TIME_SINCE_LAST(transactions.t_dat)
customer_id,,,,,,,,,,,
ff18c106287931d170618b59fd402ed0ecc292869aad5f7b2815e43a6fb9dbdf,ACTIVE,NONE,31,NaN,0,NaN,NaN,NaN,0.000000,NaN,NaN
136601b1d1f36b13b9a4bbe185f164f24f522c5d476d096bd00a21dd98e20606,ACTIVE,Regularly,51,NaN,0,NaN,NaN,NaN,0.000000,NaN,NaN
247a3ee3fe8a153bbf14e41f18c8bb5ebc9d53fe83830d35558463f3df54be98,PRE-CREATE,NONE,69,NaN,0,NaN,NaN,NaN,0.000000,NaN,NaN
d1e601dc9ea370b6dee95cbb983adf7fe5294386410be939ed1b91f617d78ae3,ACTIVE,NONE,24,NaN,0,NaN,NaN,NaN,0.000000,NaN,NaN
abc428504037054226353c4194380c7f16aff32b0633ac8f9f5d0f5e3da2ae5a,ACTIVE,NONE,28,NaN,0,NaN,NaN,NaN,0.000000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
a4092d95d91ec0ff90527962935550346d993a299353c6cf3d00d9fc7b9cc74b,ACTIVE,NONE,25,NaN,1,0.084729,0.084729,0.084729,0.084729,7.088880e+07,7.088880e+07
c321175e12787427aa6d00985519c41650614b362e206f83787c6fc8495d0245,ACTIVE,Regularly,22,NaN,0,NaN,NaN,NaN,0.000000,NaN,NaN
016a81548c36c010144819354910dc0763b9b10eeeeacf5145832c28c480c5e0,ACTIVE,NONE,48,NaN,1,0.050831,0.050831,0.050831,0.050831,6.155760e+07,6.155760e+07
dc066cb0d1be0a395c472b1a31679fcd64035db1a4212134f2ee66eb360713ee,ACTIVE,NONE,27,NaN,0,NaN,NaN,NaN,0.000000,NaN,NaN
4bb1952ea5ae562246737b4904e5db79ee65ec732f7c310f5590ff826e762d11,ACTIVE,NONE,19,NaN,0,NaN,NaN,NaN,0.000000,NaN,NaN