In [1]:
%load_ext kedro.extras.extensions.ipython

The kedro.extras.extensions.ipython extension is already loaded. To reload it, use:
  %reload_ext kedro.extras.extensions.ipython

In [2]:
%reload_kedro

2022-08-09 11:19:54,038 - kedro.framework.hooks.manager - INFO - Registered hooks from 1 installed plugin(s): kedro-mlflow-0.8.1
2022-08-09 11:19:54,084 - kedro.framework.session.store - INFO - `read()` not implemented for `BaseSessionStore`. Assuming empty store.
2022-08-09 11:19:54,580 - root - INFO - ** Kedro project GetInData ML Framework
2022-08-09 11:19:54,581 - root - INFO - Defined global variable `context`, `session`, `catalog` and `pipelines`
2022-08-09 11:19:54,591 - root - INFO - Registered line magic `run_viz`
2022-08-09 11:19:54,592 - root - INFO - Registered line magic `reload_kedro_mlflow`

In [3]:
import pandas as pd
import numpy as np

In [4]:
catalog.list()

['articles',
 'customers',
 'transactions',
 'customers_sample',
 'transactions_sample',
 'articles_sample',
 'input_images',
 'resized_images',
 'image_embeddings',
 'text_embeddings',
 'parameters',
 'params:image_embeddings_inference',
 'params:image_embeddings_inference.run_id',
 'params:image_embeddings_inference.image_path',
 'params:image_embeddings_inference.batch_size',
 'params:customers',
 'params:transactions',
 'params:articles',
 'params:image_embeddings',
 'params:image_embeddings.image_path',
 'params:image_embeddings.encoder',
 'params:image_embeddings.decoder',
 'params:image_embeddings.batch_size',
 'params:image_embeddings.image_size',
 'params:image_embeddings.embedding_size',
 'params:image_embeddings.num_epochs',
 'params:image_embeddings.shuffle_reconstructions',
 'params:image_embeddings.save_model',
 'params:image_embeddings.model_name',
 'params:image_embeddings.seed',
 'params:image_resizer',
 'params:image_resizer.output_size',
 'params:image_resizer.method',
 'params:sampling',
 'params:sampling.cutoff_date',
 'params:sampling.customers_sample_size',
 'params:sampling.articles_sample_size',
 'params:sampling.article_img_dir',
 'params:sampling.article_img_sample_dir',
 'params:text_embeddings',
 'params:text_embeddings.transformer_model']

In [5]:
articles = context.catalog.load('articles_sample')

2022-08-09 11:19:54,619 - kedro.io.data_catalog - INFO - Loading data from `articles_sample` (CSVDataSet)...

In [6]:
customers = context.catalog.load('customers_sample')

2022-08-09 11:19:54,705 - kedro.io.data_catalog - INFO - Loading data from `customers_sample` (CSVDataSet)...

In [7]:
transactions = context.catalog.load('transactions_sample')

2022-08-09 11:19:54,911 - kedro.io.data_catalog - INFO - Loading data from `transactions_sample` (CSVDataSet)...

In [8]:
articles.shape, customers.shape, transactions.shape

((21108, 25), (137198, 7), (157785, 5))

In [9]:
pd.set_option('display.max_columns', None)

### featuretools

In [10]:
import featuretools as ft

In [11]:
es = ft.EntitySet(id="kaggle_hm_data")

In [12]:
import woodwork as ww

ww.list_logical_types()

,name,type_string,description,physical_type,standard_tags,is_default_type,is_registered,parent_type
0,Address,address,Represents Logical Types that contain address ...,string,{},True,True,None
1,Age,age,Represents Logical Types that contain whole nu...,int64,{numeric},True,True,Integer
2,AgeFractional,age_fractional,Represents Logical Types that contain non-nega...,float64,{numeric},True,True,Double
3,AgeNullable,age_nullable,Represents Logical Types that contain whole nu...,Int64,{numeric},True,True,IntegerNullable
4,Boolean,boolean,Represents Logical Types that contain binary v...,bool,{},True,True,BooleanNullable
5,BooleanNullable,boolean_nullable,Represents Logical Types that contain binary v...,boolean,{},True,True,None
6,Categorical,categorical,Represents Logical Types that contain unordere...,category,{category},True,True,None
7,CountryCode,country_code,Represents Logical Types that use the ISO-3166...,category,{category},True,True,Categorical
8,CurrencyCode,currency_code,Represents Logical Types that use the ISO-4217...,category,{category},True,True,Categorical
9,Datetime,datetime,Represents Logical Types that contain date and...,datetime64[ns],{},True,True,None
10,Double,double,Represents Logical Types that contain positive...,float64,{numeric},True,True,None
11,EmailAddress,email_address,Represents Logical Types that contain email ad...,string,{},True,True,None
12,Filepath,filepath,Represents Logical Types that specify location...,string,{},True,True,None
13,IPAddress,ip_address,Represents Logical Types that contain IP addre...,string,{},True,True,None
14,Integer,integer,Represents Logical Types that contain positive...,int64,{numeric},True,True,IntegerNullable
15,IntegerNullable,integer_nullable,Represents Logical Types that contain positive...,Int64,{numeric},True,True,None
16,LatLong,lat_long,Represents Logical Types that contain latitude...,object,{},True,True,None
17,NaturalLanguage,natural_language,Represents Logical Types that contain text or ...,string,{},True,True,None
18,Ordinal,ordinal,Represents Logical Types that contain ordered ...,category,{category},True,True,Categorical
19,PersonFullName,person_full_name,Represents Logical Types that may contain firs...,string,{},True,True,None
20,PhoneNumber,phone_number,Represents Logical Types that contain numeric ...,string,{},True,True,None
21,PostalCode,postal_code,Represents Logical Types that contain a series...,category,{category},True,True,Categorical
22,SubRegionCode,sub_region_code,Represents Logical Types that use the ISO-3166...,category,{category},True,True,Categorical
23,Timedelta,timedelta,Represents Logical Types that contain values s...,timedelta64[ns],{},True,True,None
24,URL,url,"Represents Logical Types that contain URLs, wh...",string,{},True,True,None
25,Unknown,unknown,Represents Logical Types that cannot be inferr...,string,{},True,True,None

In [13]:
from woodwork.logical_types import Categorical, Boolean, AgeNullable, Double, NaturalLanguage

In [14]:
customers.head()

,customer_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,ff18c106287931d170618b59fd402ed0ecc292869aad5f...,NaN,NaN,ACTIVE,NONE,31.0,926144af52424f28ab3fb56d84d77b3c81ecadf337126f...
1,136601b1d1f36b13b9a4bbe185f164f24f522c5d476d09...,1.0,1.0,ACTIVE,Regularly,51.0,3c22277b09bfb33d55eae1cf76a6a7084b03082fc10ed4...
2,247a3ee3fe8a153bbf14e41f18c8bb5ebc9d53fe83830d...,NaN,NaN,PRE-CREATE,NONE,69.0,7c5c76766ed0879c1f95a0f922a19cd3458bf642014dba...
3,d1e601dc9ea370b6dee95cbb983adf7fe5294386410be9...,NaN,NaN,ACTIVE,NONE,24.0,39b66dcc48ef29464261279d3e7d911a67867632b851f2...
4,abc428504037054226353c4194380c7f16aff32b0633ac...,NaN,NaN,ACTIVE,NONE,28.0,4fd351ec2879e063a3b2d3f61c86d09311acfab1b2b9de...

In [15]:
es = es.add_dataframe(
    dataframe_name="customers",
    dataframe=customers,
    index="customer_id",
    logical_types={
        "customer_id": Categorical,
        "FN": Boolean,
        "Active": Boolean,
        "club_member_status": Categorical,
        "fashion_news_frequency": Categorical,
        "age": AgeNullable
    },
)

In [16]:
transactions['_index'] = transactions.index

In [17]:
es = es.add_dataframe(
    dataframe_name="transactions",
    dataframe=transactions,
    index="_index",
    time_index="t_dat",
    logical_types={
        "customer_id": Categorical,
        "article_id": Categorical,
        "price": Double,
        "sales_channel_id": Categorical,
    },
)

In [18]:
es = es.add_dataframe(
    dataframe_name="articles",
    dataframe=articles,
    index="article_id",
    logical_types={
        "article_id": Categorical,
        "detail_desc": NaturalLanguage,
    },
)

In [19]:
es

Entityset: kaggle_hm_data
  DataFrames:
    customers [Rows: 137198, Columns: 7]
    transactions [Rows: 157785, Columns: 6]
    articles [Rows: 21108, Columns: 25]
  Relationships:
    No relationships

In [20]:
es = es.add_relationship("customers", "customer_id", "transactions", "customer_id")

In [21]:
es = es.add_relationship("articles", "article_id", "transactions", "article_id")

In [22]:
es

Entityset: kaggle_hm_data
  DataFrames:
    customers [Rows: 137198, Columns: 7]
    transactions [Rows: 157785, Columns: 6]
    articles [Rows: 21108, Columns: 25]
  Relationships:
    transactions.customer_id -> customers.customer_id
    transactions.article_id -> articles.article_id

In [23]:
es['articles'].ww.schema

                                 Logical Type Semantic Tag(s)
Column
article_id                        Categorical       ['index']
product_code                          Integer     ['numeric']
prod_name                             Unknown              []
product_type_no                       Integer     ['numeric']
product_type_name                 Categorical    ['category']
product_group_name                Categorical    ['category']
graphical_appearance_no               Integer     ['numeric']
graphical_appearance_name         Categorical    ['category']
colour_group_code                     Integer     ['numeric']
colour_group_name                 Categorical    ['category']
perceived_colour_value_id             Integer     ['numeric']
perceived_colour_value_name       Categorical    ['category']
perceived_colour_master_id            Integer     ['numeric']
perceived_colour_master_name      Categorical    ['category']
department_no                         Integer     ['numeric']
department_name                   Categorical    ['category']
index_code                        Categorical    ['category']
index_name                        Categorical    ['category']
index_group_no                        Integer     ['numeric']
index_group_name                  Categorical    ['category']
section_no                            Integer     ['numeric']
section_name                      Categorical    ['category']
garment_group_no                      Integer     ['numeric']
garment_group_name                Categorical    ['category']
detail_desc                   NaturalLanguage              []

In [24]:
es['transactions'].ww.schema

                 Logical Type              Semantic Tag(s)
Column
t_dat                Datetime               ['time_index']
customer_id       Categorical  ['foreign_key', 'category']
article_id        Categorical  ['foreign_key', 'category']
price                  Double                  ['numeric']
sales_channel_id  Categorical                 ['category']
_index                Integer                    ['index']

In [25]:
es['customers'].ww.schema

                       Logical Type Semantic Tag(s)
Column
customer_id             Categorical       ['index']
FN                          Boolean              []
Active                      Boolean              []
club_member_status      Categorical    ['category']
fashion_news_frequency  Categorical    ['category']
age                     AgeNullable     ['numeric']
postal_code                 Unknown              []

### articles

In [26]:
pd.set_option('display.max_rows', None)

In [27]:
ft.primitives.list_primitives()

,name,type,dask_compatible,spark_compatible,description,valid_inputs,return_type
0,avg_time_between,aggregation,False,False,Computes the average number of seconds between...,<ColumnSchema (Logical Type = Datetime) (Seman...,<ColumnSchema (Logical Type = Double) (Semanti...
1,sum,aggregation,True,True,"Calculates the total addition, ignoring `NaN`.",<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Semantic Tags = ['numeric'])>
2,num_true,aggregation,True,False,Counts the number of `True` values.,<ColumnSchema (Logical Type = BooleanNullable)...,<ColumnSchema (Logical Type = IntegerNullable)...
3,trend,aggregation,False,False,Calculates the trend of a column over time.,"<ColumnSchema (Semantic Tags = ['numeric'])>, ...",<ColumnSchema (Semantic Tags = ['numeric'])>
4,max,aggregation,True,True,"Calculates the highest value, ignoring `NaN` v...",<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Semantic Tags = ['numeric'])>
5,time_since_last,aggregation,False,False,Calculates the time elapsed since the last dat...,<ColumnSchema (Logical Type = Datetime) (Seman...,<ColumnSchema (Logical Type = Double) (Semanti...
6,any,aggregation,True,False,Determines if any value is 'True' in a list.,<ColumnSchema (Logical Type = BooleanNullable)...,<ColumnSchema (Logical Type = Boolean)>
7,mode,aggregation,False,False,Determines the most commonly repeated value.,<ColumnSchema (Semantic Tags = ['category'])>,None
8,count,aggregation,True,True,"Determines the total number of values, excludi...",<ColumnSchema (Semantic Tags = ['index'])>,<ColumnSchema (Logical Type = IntegerNullable)...
9,first,aggregation,False,False,Determines the first value in a list.,<ColumnSchema>,None
10,skew,aggregation,False,False,Computes the extent to which a distribution di...,<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Semantic Tags = ['numeric'])>
11,n_most_common,aggregation,False,False,Determines the `n` most common elements.,<ColumnSchema (Semantic Tags = ['category'])>,None
12,num_unique,aggregation,True,True,"Determines the number of distinct values, igno...",<ColumnSchema (Semantic Tags = ['category'])>,<ColumnSchema (Logical Type = IntegerNullable)...
13,time_since_first,aggregation,False,False,Calculates the time elapsed since the first da...,<ColumnSchema (Logical Type = Datetime) (Seman...,<ColumnSchema (Logical Type = Double) (Semanti...
14,min,aggregation,True,True,"Calculates the smallest value, ignoring `NaN` ...",<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Semantic Tags = ['numeric'])>
15,all,aggregation,True,False,Calculates if all values are 'True' in a list.,<ColumnSchema (Logical Type = BooleanNullable)...,<ColumnSchema (Logical Type = Boolean)>
16,last,aggregation,False,False,Determines the last value in a list.,<ColumnSchema>,None
17,mean,aggregation,True,True,Computes the average for a list of values.,<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Semantic Tags = ['numeric'])>
18,percent_true,aggregation,True,False,Determines the percent of `True` values.,<ColumnSchema (Logical Type = BooleanNullable)...,<ColumnSchema (Logical Type = Double) (Semanti...
19,entropy,aggregation,False,False,Calculates the entropy for a categorical column,<ColumnSchema (Semantic Tags = ['category'])>,<ColumnSchema (Semantic Tags = ['numeric'])>
20,std,aggregation,True,True,Computes the dispersion relative to the mean v...,<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Semantic Tags = ['numeric'])>
21,median,aggregation,False,False,Determines the middlemost number in a list of ...,<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Semantic Tags = ['numeric'])>
22,time_since,transform,True,False,Calculates time from a value to a specified cu...,<ColumnSchema (Logical Type = Datetime)>,<ColumnSchema (Semantic Tags = ['numeric'])>
23,is_leap_year,transform,True,True,Determines the is_leap_year attribute of a dat...,<ColumnSchema (Logical Type = Datetime)>,<ColumnSchema (Logical Type = BooleanNullable)>
24,cum_max,transform,False,False,Calculates the cumulative maximum.,<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Semantic Tags = ['numeric'])>
25,multiply_numeric_boolean,transform,True,False,Performs element-wise multiplication of a nume...,"<ColumnSchema (Semantic Tags = ['numeric'])>, ...",<ColumnSchema (Semantic Tags = ['numeric'])>
26,subtract_numeric,transform,True,False,Performs element-wise subtraction of two lists.,<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Semantic Tags = ['numeric'])>
27,num_characters,transform,True,True,Calculates the number of characters in a string.,<ColumnSchema (Logical Type = NaturalLanguage)>,<ColumnSchema (Semantic Tags = ['numeric'])>
28,and,transform,True,True,Performs element-wise logical AND of two lists.,<ColumnSchema (Logical Type = BooleanNullable)...,<ColumnSchema (Logical Type = BooleanNullable)>
29,equal,transform,True,True,Determines if values in one list are equal to ...,<ColumnSchema>,<ColumnSchema (Logical Type = BooleanNullable)>
30,url_to_domain,transform,False,False,Determines the domain of a url.,<ColumnSchema (Logical Type = URL)>,<ColumnSchema (Logical Type = Categorical) (Se...
31,greater_than,transform,True,False,Determines if values in one list are greater t...,"<ColumnSchema (Semantic Tags = ['numeric'])>, ...",<ColumnSchema (Logical Type = BooleanNullable)>
32,is_year_end,transform,True,True,Determines if a date falls on the end of a year.,<ColumnSchema (Logical Type = Datetime)>,<ColumnSchema (Logical Type = BooleanNullable)>
33,is_lunch_time,transform,True,True,Determines if a datetime falls during configur...,<ColumnSchema (Logical Type = Datetime)>,<ColumnSchema (Logical Type = BooleanNullable)>
34,rolling_max,transform,False,False,Determines the maximum of entries over a given...,"<ColumnSchema (Semantic Tags = ['numeric'])>, ...",<ColumnSchema (Logical Type = Double) (Semanti...
35,cityblock_distance,transform,False,False,Calculates the distance between points in a ci...,<ColumnSchema (Logical Type = LatLong)>,<ColumnSchema (Logical Type = Double) (Semanti...
36,num_words,transform,True,True,Determines the number of words in a string by ...,<ColumnSchema (Logical Type = NaturalLanguage)>,<ColumnSchema (Semantic Tags = ['numeric'])>
37,time_since_previous,transform,False,False,Computes the time since the previous entry in ...,<ColumnSchema (Logical Type = Datetime) (Seman...,<ColumnSchema (Semantic Tags = ['numeric'])>
38,url_to_protocol,transform,False,False,Determines the protocol (http or https) of a url.,<ColumnSchema (Logical Type = URL)>,<ColumnSchema (Logical Type = Categorical) (Se...
39,greater_than_scalar,transform,True,True,Determines if values are greater than a given ...,"<ColumnSchema (Semantic Tags = ['numeric'])>, ...",<ColumnSchema (Logical Type = BooleanNullable)>
40,age,transform,True,False,Calculates the age in years as a floating poin...,<ColumnSchema (Logical Type = Datetime) (Seman...,<ColumnSchema (Logical Type = AgeFractional) (...
41,is_null,transform,True,True,Determines if a value is null.,<ColumnSchema>,<ColumnSchema (Logical Type = Boolean)>
42,is_year_start,transform,True,True,Determines if a date falls on the start of a y...,<ColumnSchema (Logical Type = Datetime)>,<ColumnSchema (Logical Type = BooleanNullable)>
43,or,transform,True,True,Performs element-wise logical OR of two lists.,<ColumnSchema (Logical Type = BooleanNullable)...,<ColumnSchema (Logical Type = BooleanNullable)>
44,rolling_min,transform,False,False,Determines the minimum of entries over a given...,"<ColumnSchema (Semantic Tags = ['numeric'])>, ...",<ColumnSchema (Logical Type = Double) (Semanti...
45,equal_scalar,transform,True,True,Determines if values in a list are equal to a ...,<ColumnSchema>,<ColumnSchema (Logical Type = BooleanNullable)>
46,geomidpoint,transform,False,False,Determines the geographic center of two coordi...,<ColumnSchema (Logical Type = LatLong)>,<ColumnSchema (Logical Type = LatLong)>
47,isin,transform,True,True,Determines whether a value is present in a pro...,<ColumnSchema>,<ColumnSchema (Logical Type = Boolean)>
48,divide_numeric,transform,True,True,Performs element-wise division of two lists.,<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Semantic Tags = ['numeric'])>
49,url_to_tld,transform,False,False,Determines the top level domain of a url.,<ColumnSchema (Logical Type = URL)>,<ColumnSchema (Logical Type = Categorical) (Se...
50,subtract_numeric_scalar,transform,True,True,Subtracts a scalar from each element in the list.,<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Semantic Tags = ['numeric'])>
51,greater_than_equal_to,transform,True,True,Determines if values in one list are greater t...,"<ColumnSchema (Semantic Tags = ['numeric'])>, ...",<ColumnSchema (Logical Type = BooleanNullable)>
52,date_to_holiday,transform,False,False,Transforms time of an instance into the holida...,<ColumnSchema (Logical Type = Datetime)>,<ColumnSchema (Logical Type = Categorical) (Se...
53,absolute,transform,True,True,Computes the absolute value of a number.,<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Semantic Tags = ['numeric'])>
54,is_month_end,transform,True,True,Determines the is_month_end attribute of a dat...,<ColumnSchema (Logical Type = Datetime)>,<ColumnSchema (Logical Type = BooleanNullable)>
55,minute,transform,True,True,Determines the minutes value of a datetime.,<ColumnSchema (Logical Type = Datetime)>,"<ColumnSchema (Logical Type = Ordinal: [0, 1, ..."
56,rolling_mean,transform,False,False,Calculates the mean of entries over a given wi...,"<ColumnSchema (Semantic Tags = ['numeric'])>, ...",<ColumnSchema (Logical Type = Double) (Semanti...
57,not_equal,transform,True,False,Determines if values in one list are not equal...,<ColumnSchema>,<ColumnSchema (Logical Type = BooleanNullable)>
58,haversine,transform,False,False,Calculates the approximate haversine distance ...,<ColumnSchema (Logical Type = LatLong)>,<ColumnSchema (Semantic Tags = ['numeric'])>
59,diff,transform,False,False,Computes the difference between the value in a...,<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Semantic Tags = ['numeric'])>
60,week,transform,True,True,Determines the week of the year from a datetime.,<ColumnSchema (Logical Type = Datetime)>,"<ColumnSchema (Logical Type = Ordinal: [1, 2, ..."
61,scalar_subtract_numeric_feature,transform,True,True,Subtracts each value in the list from a given ...,<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Semantic Tags = ['numeric'])>
62,greater_than_equal_to_scalar,transform,True,True,Determines if values are greater than or equal...,"<ColumnSchema (Semantic Tags = ['numeric'])>, ...",<ColumnSchema (Logical Type = BooleanNullable)>
63,day,transform,True,True,Determines the day of the month from a datetime.,<ColumnSchema (Logical Type = Datetime)>,"<ColumnSchema (Logical Type = Ordinal: [1, 2, ..."
64,is_month_start,transform,True,True,Determines the is_month_start attribute of a d...,<ColumnSchema (Logical Type = Datetime)>,<ColumnSchema (Logical Type = BooleanNullable)>
65,month,transform,True,True,Determines the month value of a datetime.,<ColumnSchema (Logical Type = Datetime)>,"<ColumnSchema (Logical Type = Ordinal: [1, 2, ..."
66,square_root,transform,True,True,Computes the square root of a number.,<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Logical Type = Double) (Semanti...
67,rolling_std,transform,False,False,Calculates the standard deviation of entries o...,"<ColumnSchema (Semantic Tags = ['numeric'])>, ...",<ColumnSchema (Logical Type = Double) (Semanti...
68,divide_numeric_scalar,transform,True,True,Divides each element in the list by a scalar.,<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Semantic Tags = ['numeric'])>
69,is_free_email_domain,transform,False,False,Determines if an email address is from a free ...,<ColumnSchema (Logical Type = EmailAddress)>,<ColumnSchema (Logical Type = BooleanNullable)>
70,weekday,transform,True,True,Determines the day of the week from a datetime.,<ColumnSchema (Logical Type = Datetime)>,"<ColumnSchema (Logical Type = Ordinal: [0, 1, ..."
71,multiply_numeric,transform,True,True,Performs element-wise multiplication of two li...,<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Semantic Tags = ['numeric'])>
72,less_than,transform,True,True,Determines if values in one list are less than...,"<ColumnSchema (Semantic Tags = ['numeric'])>, ...",<ColumnSchema (Logical Type = BooleanNullable)>
73,day_of_year,transform,True,True,Determines the ordinal day of the year from th...,<ColumnSchema (Logical Type = Datetime)>,"<ColumnSchema (Logical Type = Ordinal: [1, 2, ..."
74,is_quarter_end,transform,True,True,Determines the is_quarter_end attribute of a d...,<ColumnSchema (Logical Type = Datetime)>,<ColumnSchema (Logical Type = BooleanNullable)>
75,cum_sum,transform,False,False,Calculates the cumulative sum.,<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Semantic Tags = ['numeric'])>
76,part_of_day,transform,True,True,Determines the part of day of a datetime.,<ColumnSchema (Logical Type = Datetime)>,<ColumnSchema (Logical Type = Categorical) (Se...
77,is_in_geobox,transform,False,False,Determines if coordinates are inside a box def...,<ColumnSchema (Logical Type = LatLong)>,<ColumnSchema (Logical Type = BooleanNullable)>
78,natural_logarithm,transform,True,True,Computes the natural logarithm of a number.,<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Logical Type = Double) (Semanti...
79,divide_by_feature,transform,True,True,Divides a scalar by each value in the list.,<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Semantic Tags = ['numeric'])>
80,rolling_trend,transform,False,False,Calculates the trend of a given window of entr...,"<ColumnSchema (Semantic Tags = ['numeric'])>, ...",<ColumnSchema (Logical Type = Double) (Semanti...
81,diff_datetime,transform,False,False,Computes the timedelta between a datetime in a...,<ColumnSchema (Logical Type = Datetime)>,<ColumnSchema (Logical Type = Timedelta)>
82,not_equal_scalar,transform,True,True,Determines if values in a list are not equal t...,<ColumnSchema>,<ColumnSchema (Logical Type = BooleanNullable)>
83,year,transform,True,True,Determines the year value of a datetime.,<ColumnSchema (Logical Type = Datetime)>,"<ColumnSchema (Logical Type = Ordinal: [1, 2, ..."
84,less_than_scalar,transform,True,True,Determines if values are less than a given sca...,"<ColumnSchema (Semantic Tags = ['numeric'])>, ...",<ColumnSchema (Logical Type = BooleanNullable)>
85,days_in_month,transform,True,True,Determines the day of the month from a datetime.,<ColumnSchema (Logical Type = Datetime)>,"<ColumnSchema (Logical Type = Ordinal: [1, 2, ..."
86,email_address_to_domain,transform,False,False,Determines the domain of an email,<ColumnSchema (Logical Type = EmailAddress)>,<ColumnSchema (Logical Type = Categorical) (Se...
87,is_quarter_start,transform,True,True,Determines the is_quarter_start attribute of a...,<ColumnSchema (Logical Type = Datetime)>,<ColumnSchema (Logical Type = BooleanNullable)>
88,cum_count,transform,False,False,Calculates the cumulative count.,"<ColumnSchema (Semantic Tags = ['category'])>,...",<ColumnSchema (Logical Type = IntegerNullable)...
89,quarter,transform,True,True,Determines the quarter a datetime column falls...,<ColumnSchema (Logical Type = Datetime)>,"<ColumnSchema (Logical Type = Ordinal: [1, 2, ..."
90,sine,transform,True,True,Computes the sine of a number.,<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Logical Type = Double) (Semanti...
91,rolling_count,transform,False,False,Determines a rolling count of events over a gi...,<ColumnSchema (Logical Type = Datetime) (Seman...,<ColumnSchema (Logical Type = Double) (Semanti...
92,modulo_numeric,transform,True,True,Performs element-wise modulo of two lists.,<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Semantic Tags = ['numeric'])>
93,multiply_numeric_scalar,transform,True,True,Multiplies each element in the list by a scalar.,<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Semantic Tags = ['numeric'])>
94,negate,transform,True,True,Negates a numeric value.,<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Semantic Tags = ['numeric'])>
95,add_numeric,transform,True,True,Performs element-wise addition of two lists.,<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Semantic Tags = ['numeric'])>
96,is_federal_holiday,transform,False,False,Determines if a given datetime is a federal ho...,<ColumnSchema (Logical Type = Datetime)>,<ColumnSchema (Logical Type = BooleanNullable)>
97,less_than_equal_to,transform,True,True,Determines if values in one list are less than...,"<ColumnSchema (Semantic Tags = ['numeric'])>, ...",<ColumnSchema (Logical Type = BooleanNullable)>
98,distance_to_holiday,transform,False,False,Computes the number of days before or after a ...,<ColumnSchema (Logical Type = Datetime)>,<ColumnSchema (Semantic Tags = ['numeric'])>
99,numeric_lag,transform,False,False,Shifts an array of values by a specified numbe...,"<ColumnSchema (Semantic Tags = ['numeric'])>, ...",<ColumnSchema (Semantic Tags = ['numeric'])>
100,is_weekend,transform,True,True,Determines if a date falls on a weekend.,<ColumnSchema (Logical Type = Datetime)>,<ColumnSchema (Logical Type = BooleanNullable)>
101,cum_mean,transform,False,False,Calculates the cumulative mean.,<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Semantic Tags = ['numeric'])>
102,latitude,transform,False,False,Returns the first tuple value in a list of Lat...,<ColumnSchema (Logical Type = LatLong)>,<ColumnSchema (Semantic Tags = ['numeric'])>
103,second,transform,True,True,Determines the seconds value of a datetime.,<ColumnSchema (Logical Type = Datetime)>,"<ColumnSchema (Logical Type = Ordinal: [0, 1, ..."
104,cosine,transform,True,True,Computes the cosine of a number.,<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Logical Type = Double) (Semanti...
105,modulo_numeric_scalar,transform,True,True,Computes the modulo of each element in the lis...,<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Semantic Tags = ['numeric'])>
106,multiply_boolean,transform,True,False,Performs element-wise multiplication of two li...,<ColumnSchema (Logical Type = BooleanNullable)...,<ColumnSchema (Logical Type = BooleanNullable)>
107,not,transform,True,True,Negates a boolean value.,<ColumnSchema (Logical Type = BooleanNullable)...,<ColumnSchema (Logical Type = BooleanNullable)>
108,less_than_equal_to_scalar,transform,True,True,Determines if values are less than or equal to...,"<ColumnSchema (Semantic Tags = ['numeric'])>, ...",<ColumnSchema (Logical Type = BooleanNullable)>
109,hour,transform,True,True,Determines the hour value of a datetime.,<ColumnSchema (Logical Type = Datetime)>,"<ColumnSchema (Logical Type = Ordinal: [0, 1, ..."
110,is_working_hours,transform,True,True,Determines if a datetime falls during working ...,<ColumnSchema (Logical Type = Datetime)>,<ColumnSchema (Logical Type = BooleanNullable)>
111,cum_min,transform,False,False,Calculates the cumulative minimum.,<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Semantic Tags = ['numeric'])>
112,longitude,transform,False,False,Returns the second tuple value in a list of La...,<ColumnSchema (Logical Type = LatLong)>,<ColumnSchema (Semantic Tags = ['numeric'])>
113,add_numeric_scalar,transform,True,True,Adds a scalar to each value in the list.,<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Semantic Tags = ['numeric'])>
114,tangent,transform,True,True,Computes the tangent of a number.,<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Logical Type = Double) (Semanti...
115,modulo_by_feature,transform,True,True,Computes the modulo of a scalar by each elemen...,<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Semantic Tags = ['numeric'])>

In [28]:
pd.set_option('display.max_rows', 30)

In [29]:
articles_feature_matrix, articles_feature_defs = ft.dfs(
    entityset=es,
    target_dataframe_name="articles",
    agg_primitives=["sum", "mean", "median", "max", "min", "time_since_last", "count", "time_since_first"]
)

In [30]:
articles_feature_matrix

,product_code,product_type_no,product_type_name,product_group_name,graphical_appearance_no,graphical_appearance_name,colour_group_code,colour_group_name,perceived_colour_value_id,perceived_colour_value_name,perceived_colour_master_id,perceived_colour_master_name,department_no,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,COUNT(transactions),MAX(transactions.price),MEAN(transactions.price),MEDIAN(transactions.price),MIN(transactions.price),SUM(transactions.price),TIME_SINCE_FIRST(transactions.t_dat),TIME_SINCE_LAST(transactions.t_dat),NUM_CHARACTERS(detail_desc),NUM_WORDS(detail_desc),MAX(transactions.customers.age),MEAN(transactions.customers.age),MEDIAN(transactions.customers.age),MIN(transactions.customers.age),SUM(transactions.customers.age)
article_id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0927491001,927491,265,Dress,Garment Full body,1010016,Solid,93,Dark Green,4,Dark,20,Khaki green,1313,Dress,A,Ladieswear,1,Ladieswear,11,Womens Tailoring,1013,Dresses Ladies,60,0.050831,0.048554,0.050831,0.020339,2.913220,6.354480e+07,5.931120e+07,274.0,48.0,66.0,33.016667,28.0,21.0,1981.0
0691839001,691839,272,Trousers,Garment Lower body,1010016,Solid,9,Black,4,Dark,5,Black,1722,Trouser,A,Ladieswear,1,Ladieswear,15,Womens Everyday Collection,1009,Trousers,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,180.0,27.0,NaN,NaN,NaN,NaN,0.0
0908924002,908924,259,Shirt,Garment Upper body,1010016,Solid,9,Black,4,Dark,5,Black,1515,Blouse,A,Ladieswear,1,Ladieswear,11,Womens Tailoring,1010,Blouses,11,0.025407,0.025407,0.025407,0.025407,0.279475,6.337200e+07,5.991600e+07,117.0,19.0,73.0,42.000000,45.0,24.0,462.0
0679630001,679630,262,Jacket,Garment Upper body,1010010,Melange,7,Grey,2,Medium Dusty,12,Grey,1929,Outwear,A,Ladieswear,1,Ladieswear,2,H&M+,1007,Outdoor,1,0.084729,0.084729,0.084729,0.084729,0.084729,6.605040e+07,6.605040e+07,100.0,18.0,52.0,52.000000,52.0,52.0,52.0
0698899003,698899,253,Vest top,Garment Upper body,1010022,Jacquard,9,Black,4,Dark,5,Black,1522,Blouse,A,Ladieswear,1,Ladieswear,15,Womens Everyday Collection,1010,Blouses,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,147.0,27.0,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0475827011,475827,89,Other shoe,Shoes,1010016,Solid,13,Beige,2,Medium Dusty,11,Beige,3630,Shoes / Boots inactive from s5,F,Menswear,3,Menswear,27,Men Shoes,1020,Shoes,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,106.0,17.0,NaN,NaN,NaN,NaN,0.0
0641715002,641715,258,Blouse,Garment Upper body,1010016,Solid,10,White,3,Light,9,White,1545,Projects Woven Tops,D,Divided,2,Divided,50,Divided Projects,1010,Blouses,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,118.0,22.0,NaN,NaN,NaN,NaN,0.0
0545612001,545612,272,Trousers,Garment Lower body,1010023,Denim,72,Blue,2,Medium Dusty,2,Blue,1779,Everyday Waredrobe Denim,A,Ladieswear,1,Ladieswear,57,Ladies Denim,1016,Trousers Denim,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,175.0,29.0,NaN,NaN,NaN,NaN,0.0
0663277003,663277,75,Hat/beanie,Accessories,1010010,Melange,7,Grey,2,Medium Dusty,12,Grey,3945,Knit & Woven,D,Divided,2,Divided,52,Divided Accessories,1019,Accessories,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,71.0,14.0,NaN,NaN,NaN,NaN,0.0
0520392001,520392,274,Shorts,Garment Lower body,1010016,Solid,43,Dark Red,4,Dark,18,Red,1722,Trouser,A,Ladieswear,1,Ladieswear,15,Womens Everyday Collection,1009,Trousers,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,207.0,39.0,NaN,NaN,NaN,NaN,0.0

In [31]:
ft.describe_feature(articles_feature_defs[30])

'The number of characters in the "detail_desc".'

In [32]:
list(enumerate(articles_feature_defs))

[(0, <Feature: product_code>),
 (1, <Feature: product_type_no>),
 (2, <Feature: product_type_name>),
 (3, <Feature: product_group_name>),
 (4, <Feature: graphical_appearance_no>),
 (5, <Feature: graphical_appearance_name>),
 (6, <Feature: colour_group_code>),
 (7, <Feature: colour_group_name>),
 (8, <Feature: perceived_colour_value_id>),
 (9, <Feature: perceived_colour_value_name>),
 (10, <Feature: perceived_colour_master_id>),
 (11, <Feature: perceived_colour_master_name>),
 (12, <Feature: department_no>),
 (13, <Feature: department_name>),
 (14, <Feature: index_code>),
 (15, <Feature: index_name>),
 (16, <Feature: index_group_no>),
 (17, <Feature: index_group_name>),
 (18, <Feature: section_no>),
 (19, <Feature: section_name>),
 (20, <Feature: garment_group_no>),
 (21, <Feature: garment_group_name>),
 (22, <Feature: COUNT(transactions)>),
 (23, <Feature: MAX(transactions.price)>),
 (24, <Feature: MEAN(transactions.price)>),
 (25, <Feature: MEDIAN(transactions.price)>),
 (26, <Feature: MIN(transactions.price)>),
 (27, <Feature: SUM(transactions.price)>),
 (28, <Feature: TIME_SINCE_FIRST(transactions.t_dat)>),
 (29, <Feature: TIME_SINCE_LAST(transactions.t_dat)>),
 (30, <Feature: NUM_CHARACTERS(detail_desc)>),
 (31, <Feature: NUM_WORDS(detail_desc)>),
 (32, <Feature: MAX(transactions.customers.age)>),
 (33, <Feature: MEAN(transactions.customers.age)>),
 (34, <Feature: MEDIAN(transactions.customers.age)>),
 (35, <Feature: MIN(transactions.customers.age)>),
 (36, <Feature: SUM(transactions.customers.age)>)]

### customers

In [33]:
customers_feature_matrix, customers_feature_defs = ft.dfs(
    entityset=es,
    target_dataframe_name="customers",
    ignore_dataframes=["articles"],
    agg_primitives=["sum", "mean", "median", "max", "min", "time_since_last", "count", "time_since_first", "avg_time_between"],
)

In [34]:
ft.primitives.list_primitives()

,name,type,dask_compatible,spark_compatible,description,valid_inputs,return_type
0,avg_time_between,aggregation,False,False,Computes the average number of seconds between...,<ColumnSchema (Logical Type = Datetime) (Seman...,<ColumnSchema (Logical Type = Double) (Semanti...
1,sum,aggregation,True,True,"Calculates the total addition, ignoring `NaN`.",<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Semantic Tags = ['numeric'])>
2,num_true,aggregation,True,False,Counts the number of `True` values.,<ColumnSchema (Logical Type = BooleanNullable)...,<ColumnSchema (Logical Type = IntegerNullable)...
3,trend,aggregation,False,False,Calculates the trend of a column over time.,"<ColumnSchema (Semantic Tags = ['numeric'])>, ...",<ColumnSchema (Semantic Tags = ['numeric'])>
4,max,aggregation,True,True,"Calculates the highest value, ignoring `NaN` v...",<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Semantic Tags = ['numeric'])>
...,...,...,...,...,...,...,...
112,longitude,transform,False,False,Returns the second tuple value in a list of La...,<ColumnSchema (Logical Type = LatLong)>,<ColumnSchema (Semantic Tags = ['numeric'])>
113,add_numeric_scalar,transform,True,True,Adds a scalar to each value in the list.,<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Semantic Tags = ['numeric'])>
114,tangent,transform,True,True,Computes the tangent of a number.,<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Logical Type = Double) (Semanti...
115,modulo_by_feature,transform,True,True,Computes the modulo of a scalar by each elemen...,<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Semantic Tags = ['numeric'])>
116,percentile,transform,False,False,Determines the percentile rank for each value ...,<ColumnSchema (Semantic Tags = ['numeric'])>,<ColumnSchema (Semantic Tags = ['numeric'])>

In [35]:
customers_feature_matrix

,FN,Active,club_member_status,fashion_news_frequency,age,AVG_TIME_BETWEEN(transactions.t_dat),COUNT(transactions),MAX(transactions.price),MEAN(transactions.price),MEDIAN(transactions.price),MIN(transactions.price),SUM(transactions.price),TIME_SINCE_FIRST(transactions.t_dat),TIME_SINCE_LAST(transactions.t_dat)
customer_id,,,,,,,,,,,,,,
ff18c106287931d170618b59fd402ed0ecc292869aad5f7b2815e43a6fb9dbdf,True,True,ACTIVE,NONE,31,NaN,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
136601b1d1f36b13b9a4bbe185f164f24f522c5d476d096bd00a21dd98e20606,True,True,ACTIVE,Regularly,51,NaN,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
247a3ee3fe8a153bbf14e41f18c8bb5ebc9d53fe83830d35558463f3df54be98,True,True,PRE-CREATE,NONE,69,NaN,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
d1e601dc9ea370b6dee95cbb983adf7fe5294386410be939ed1b91f617d78ae3,True,True,ACTIVE,NONE,24,NaN,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
abc428504037054226353c4194380c7f16aff32b0633ac8f9f5d0f5e3da2ae5a,True,True,ACTIVE,NONE,28,NaN,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
a4092d95d91ec0ff90527962935550346d993a299353c6cf3d00d9fc7b9cc74b,True,True,ACTIVE,NONE,25,NaN,1,0.084729,0.084729,0.084729,0.084729,0.084729,7.088880e+07,7.088880e+07
c321175e12787427aa6d00985519c41650614b362e206f83787c6fc8495d0245,True,True,ACTIVE,Regularly,22,NaN,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
016a81548c36c010144819354910dc0763b9b10eeeeacf5145832c28c480c5e0,True,True,ACTIVE,NONE,48,NaN,1,0.050831,0.050831,0.050831,0.050831,0.050831,6.155760e+07,6.155760e+07
dc066cb0d1be0a395c472b1a31679fcd64035db1a4212134f2ee66eb360713ee,True,True,ACTIVE,NONE,27,NaN,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
4bb1952ea5ae562246737b4904e5db79ee65ec732f7c310f5590ff826e762d11,True,True,ACTIVE,NONE,19,NaN,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN

In [36]:
list(enumerate(customers_feature_defs))

[(0, <Feature: FN>),
 (1, <Feature: Active>),
 (2, <Feature: club_member_status>),
 (3, <Feature: fashion_news_frequency>),
 (4, <Feature: age>),
 (5, <Feature: AVG_TIME_BETWEEN(transactions.t_dat)>),
 (6, <Feature: COUNT(transactions)>),
 (7, <Feature: MAX(transactions.price)>),
 (8, <Feature: MEAN(transactions.price)>),
 (9, <Feature: MEDIAN(transactions.price)>),
 (10, <Feature: MIN(transactions.price)>),
 (11, <Feature: SUM(transactions.price)>),
 (12, <Feature: TIME_SINCE_FIRST(transactions.t_dat)>),
 (13, <Feature: TIME_SINCE_LAST(transactions.t_dat)>)]

### transactions

transactions features won't be used

In [37]:
transactions_feature_matrix, transactions_feature_defs = ft.dfs(entityset=es, target_dataframe_name="transactions")

In [38]:
transactions_feature_matrix.loc[0, :][0]

'0090852ad6a446ccf02a7d57ec7385c360ab33a813b870e7e725beae6a76ddd4'

In [39]:
transactions[transactions.customer_id=='0090852ad6a446ccf02a7d57ec7385c360ab33a813b870e7e725beae6a76ddd4']

,t_dat,customer_id,article_id,price,sales_channel_id,_index
0,2020-04-01,0090852ad6a446ccf02a7d57ec7385c360ab33a813b870...,0817352006,0.050831,2,0
74757,2020-06-19,0090852ad6a446ccf02a7d57ec7385c360ab33a813b870...,0844030001,0.059305,2,74757
74758,2020-06-19,0090852ad6a446ccf02a7d57ec7385c360ab33a813b870...,0698276009,0.050831,2,74758

In [40]:
transactions_feature_matrix

,customer_id,article_id,price,sales_channel_id,DAY(t_dat),MONTH(t_dat),WEEKDAY(t_dat),YEAR(t_dat),customers.FN,customers.Active,customers.club_member_status,customers.fashion_news_frequency,customers.age,articles.product_code,articles.product_type_no,articles.product_type_name,articles.product_group_name,articles.graphical_appearance_no,articles.graphical_appearance_name,articles.colour_group_code,articles.colour_group_name,articles.perceived_colour_value_id,articles.perceived_colour_value_name,articles.perceived_colour_master_id,articles.perceived_colour_master_name,articles.department_no,articles.department_name,articles.index_code,articles.index_name,articles.index_group_no,articles.index_group_name,articles.section_no,articles.section_name,articles.garment_group_no,articles.garment_group_name,customers.COUNT(transactions),customers.MAX(transactions.price),customers.MEAN(transactions.price),customers.MIN(transactions.price),customers.MODE(transactions.article_id),customers.MODE(transactions.sales_channel_id),customers.NUM_UNIQUE(transactions.article_id),customers.NUM_UNIQUE(transactions.sales_channel_id),customers.SKEW(transactions.price),customers.STD(transactions.price),customers.SUM(transactions.price),articles.COUNT(transactions),articles.MAX(transactions.price),articles.MEAN(transactions.price),articles.MIN(transactions.price),articles.MODE(transactions.customer_id),articles.MODE(transactions.sales_channel_id),articles.NUM_UNIQUE(transactions.customer_id),articles.NUM_UNIQUE(transactions.sales_channel_id),articles.SKEW(transactions.price),articles.STD(transactions.price),articles.SUM(transactions.price),articles.NUM_CHARACTERS(detail_desc),articles.NUM_WORDS(detail_desc)
_index,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0,0090852ad6a446ccf02a7d57ec7385c360ab33a813b870...,0817352006,0.050831,2,1,4,2,2020,True,True,ACTIVE,Regularly,61,817352,264,Blazer,Garment Upper body,1010016,Solid,52,Pink,7,Medium,4,Pink,1222,Suit jacket,A,Ladieswear,1,Ladieswear,15,Womens Everyday Collection,1008,Dressed,3,0.059305,0.053655,0.050831,0698276009,2,3,1,1.732051,0.004893,0.160966,41,0.050831,0.045183,0.025407,7c683c445fdd24d6187ebcdc4fb4049356b07bf378a890...,2,38,2,-1.315550,0.007749,1.852492,105.0,17.0
1,02001d047023157327d7a41fbcb9227dfe589ddccfab3c...,0795790001,0.033881,2,1,4,2,2020,True,True,ACTIVE,NONE,24,795790,265,Dress,Garment Full body,1010016,Solid,9,Black,4,Dark,5,Black,1344,Dresses,D,Divided,2,Divided,53,Divided Collection,1013,Dresses Ladies,3,0.033881,0.025407,0.011847,0351484033,2,3,1,-1.574344,0.011864,0.076220,47,0.033881,0.029828,0.020322,7951577d04d50dc98d13b7ac8598fd8ef7832adb801a17...,2,44,2,-0.424343,0.004308,1.401898,140.0,22.0
2,02001d047023157327d7a41fbcb9227dfe589ddccfab3c...,0756347001,0.030492,2,1,4,2,2020,True,True,ACTIVE,NONE,24,756347,265,Dress,Garment Full body,1010001,All over pattern,51,Light Pink,1,Dusty Light,4,Pink,1344,Dresses,D,Divided,2,Divided,53,Divided Collection,1013,Dresses Ladies,3,0.033881,0.025407,0.011847,0351484033,2,3,1,-1.574344,0.011864,0.076220,15,0.050831,0.030140,0.022864,00d950059ced1e3d41312ef4d7c7c26c924881cde6af9c...,2,13,1,1.545844,0.009257,0.452102,220.0,40.0
3,021950aab71ee5b077953803dfa182e04996f69baad474...,0351484002,0.022017,2,1,4,2,2020,True,True,ACTIVE,NONE,27,351484,59,Swimwear bottom,Swimwear,1010016,Solid,9,Black,4,Dark,5,Black,4242,Swimwear,B,Lingeries/Tights,1,Ladieswear,60,"Womens Swimwear, beachwear",1018,Swimwear,3,0.050000,0.029559,0.016661,0351484002,2,3,1,1.559302,0.017904,0.088678,437,0.022017,0.019463,0.003373,974285b4aab6a891e618d15ebd1522e2de7002f89c025f...,2,368,2,-1.559573,0.003223,8.505356,104.0,17.0
4,026a83da294520e421e709d14b3bcc1da4025bd006d820...,0825318005,0.016254,2,1,4,2,2020,True,True,ACTIVE,NONE,25,825318,253,Vest top,Garment Upper body,1010016,Solid,10,White,3,Light,9,White,8316,Ladies Sport Bras,S,Sport,26,Sport,5,Ladies H&M Sport,1005,Jersey Fancy,2,0.024390,0.020322,0.016254,0776237020,2,2,1,NaN,0.005753,0.040644,61,0.016932,0.014967,0.005475,22991948358ba21c48ccd6419bf55f0bf59737c0d98e3a...,2,56,1,-1.913492,0.002812,0.913017,97.0,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157780,fea6572677bb4067304af23467abc83e47c3926d35f625...,0906705001,0.101678,2,22,9,1,2020,True,True,ACTIVE,NONE,28,906705,144,Flat shoe,Shoes,1010016,Solid,9,Black,4,Dark,5,Black,3040,Premium Quality,C,Ladies Accessories,1,Ladieswear,64,Womens Shoes,1020,Shoes,2,0.101678,0.076254,0.050831,0852442003,2,2,1,NaN,0.035955,0.152508,2,0.101678,0.101678,0.101678,c9c5402a6fd33be992735346500c631b51ca8ab0067dbc...,2,2,1,NaN,0.000000,0.203356,82.0,11.0
157781,ff411f623177338bde6299009234da653cd417a6986780...,0903096002,0.042356,2,22,9,1,2020,True,True,ACTIVE,NONE,42,903096,265,Dress,Garment Full body,1010016,Solid,8,Dark Grey,4,Dark,-1,Unknown,1660,Jersey,A,Ladieswear,1,Ladieswear,6,Womens Casual,1005,Jersey Fancy,8,0.067780,0.050831,0.033881,0780392001,2,8,1,-0.330719,0.012812,0.406644,20,0.042356,0.042320,0.041644,6b48022404f7e93210d7c001fe50eb1553a874eb415dea...,2,18,1,-4.472136,0.000159,0.846407,229.0,39.0
157782,ff411f623177338bde6299009234da653cd417a6986780...,0923569007,0.059305,2,22,9,1,2020,True,True,ACTIVE,NONE,42,923569,254,Top,Garment Upper body,1010010,Melange,51,Light Pink,3,Light,4,Pink,1610,Knitwear,A,Ladieswear,1,Ladieswear,6,Womens Casual,1003,Knitwear,8,0.067780,0.050831,0.033881,0780392001,2,8,1,-0.330719,0.012812,0.406644,9,0.059305,0.059162,0.058017,607c6a5ff6c64f04d8211ded25f5728c1e368f8d10d746...,2,7,1,-3.000000,0.000429,0.532458,169.0,29.0
157783,ff411f623177338bde6299009234da653cd417a6986780...,0873274001,0.050831,2,22,9,1,2020,True,True,ACTIVE,NONE,42,873274,252,Sweater,Garment Upper body,1010016,Solid,9,Black,4,Dark,5,Black,1626,Knitwear,A,Ladieswear,1,Ladieswear,15,Womens Everyday Collection,1003,Knitwear,8,0.067780,0.050831,0.033881,0780392001,2,8,1,-0.330719,0.012812,0.406644,11,0.050831,0.050498,0.048695,b7a141d81c529ffa6fc778e47ce60fac2597e5ce130adf...,2,9,1,-2.068284,0.000753,0.555475,230.0,42.0
157784,ffcd5ff3fd5b9ee6b984c143c973fd2697ca141483d381...,0918485001,0.067780,2,22,9,1,2020,True,True,ACTIVE,Regularly,30,918485,258,Blouse,Garment Upper body,1010016,Solid,12,Light Beige,1,Dusty Light,11,Beige,1941,Blouse & Dress,A,Ladieswear,1,Ladieswear,18,Womens Trend,1010,Blouses,2,0.067780,0.067780,0.067780,0886862007,2,2,1,NaN,0.000000,0.135559,8,0.067780,0.066932,0.061000,64a8bcd318d77441cc8eb29a7c813f1e5ab2597c1dc855...,2,8,1,-2.828427,0.002397,0.535458,324.0,56.0

In [41]:
transactions_feature_defs

[<Feature: customer_id>,
 <Feature: article_id>,
 <Feature: price>,
 <Feature: sales_channel_id>,
 <Feature: DAY(t_dat)>,
 <Feature: MONTH(t_dat)>,
 <Feature: WEEKDAY(t_dat)>,
 <Feature: YEAR(t_dat)>,
 <Feature: customers.FN>,
 <Feature: customers.Active>,
 <Feature: customers.club_member_status>,
 <Feature: customers.fashion_news_frequency>,
 <Feature: customers.age>,
 <Feature: articles.product_code>,
 <Feature: articles.product_type_no>,
 <Feature: articles.product_type_name>,
 <Feature: articles.product_group_name>,
 <Feature: articles.graphical_appearance_no>,
 <Feature: articles.graphical_appearance_name>,
 <Feature: articles.colour_group_code>,
 <Feature: articles.colour_group_name>,
 <Feature: articles.perceived_colour_value_id>,
 <Feature: articles.perceived_colour_value_name>,
 <Feature: articles.perceived_colour_master_id>,
 <Feature: articles.perceived_colour_master_name>,
 <Feature: articles.department_no>,
 <Feature: articles.department_name>,
 <Feature: articles.index_code>,
 <Feature: articles.index_name>,
 <Feature: articles.index_group_no>,
 <Feature: articles.index_group_name>,
 <Feature: articles.section_no>,
 <Feature: articles.section_name>,
 <Feature: articles.garment_group_no>,
 <Feature: articles.garment_group_name>,
 <Feature: customers.COUNT(transactions)>,
 <Feature: customers.MAX(transactions.price)>,
 <Feature: customers.MEAN(transactions.price)>,
 <Feature: customers.MIN(transactions.price)>,
 <Feature: customers.MODE(transactions.article_id)>,
 <Feature: customers.MODE(transactions.sales_channel_id)>,
 <Feature: customers.NUM_UNIQUE(transactions.article_id)>,
 <Feature: customers.NUM_UNIQUE(transactions.sales_channel_id)>,
 <Feature: customers.SKEW(transactions.price)>,
 <Feature: customers.STD(transactions.price)>,
 <Feature: customers.SUM(transactions.price)>,
 <Feature: articles.COUNT(transactions)>,
 <Feature: articles.MAX(transactions.price)>,
 <Feature: articles.MEAN(transactions.price)>,
 <Feature: articles.MIN(transactions.price)>,
 <Feature: articles.MODE(transactions.customer_id)>,
 <Feature: articles.MODE(transactions.sales_channel_id)>,
 <Feature: articles.NUM_UNIQUE(transactions.customer_id)>,
 <Feature: articles.NUM_UNIQUE(transactions.sales_channel_id)>,
 <Feature: articles.SKEW(transactions.price)>,
 <Feature: articles.STD(transactions.price)>,
 <Feature: articles.SUM(transactions.price)>,
 <Feature: articles.NUM_CHARACTERS(detail_desc)>,
 <Feature: articles.NUM_WORDS(detail_desc)>]

### remove

In [42]:
customers_feature_matrix

,FN,Active,club_member_status,fashion_news_frequency,age,AVG_TIME_BETWEEN(transactions.t_dat),COUNT(transactions),MAX(transactions.price),MEAN(transactions.price),MEDIAN(transactions.price),MIN(transactions.price),SUM(transactions.price),TIME_SINCE_FIRST(transactions.t_dat),TIME_SINCE_LAST(transactions.t_dat)
customer_id,,,,,,,,,,,,,,
ff18c106287931d170618b59fd402ed0ecc292869aad5f7b2815e43a6fb9dbdf,True,True,ACTIVE,NONE,31,NaN,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
136601b1d1f36b13b9a4bbe185f164f24f522c5d476d096bd00a21dd98e20606,True,True,ACTIVE,Regularly,51,NaN,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
247a3ee3fe8a153bbf14e41f18c8bb5ebc9d53fe83830d35558463f3df54be98,True,True,PRE-CREATE,NONE,69,NaN,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
d1e601dc9ea370b6dee95cbb983adf7fe5294386410be939ed1b91f617d78ae3,True,True,ACTIVE,NONE,24,NaN,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
abc428504037054226353c4194380c7f16aff32b0633ac8f9f5d0f5e3da2ae5a,True,True,ACTIVE,NONE,28,NaN,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
a4092d95d91ec0ff90527962935550346d993a299353c6cf3d00d9fc7b9cc74b,True,True,ACTIVE,NONE,25,NaN,1,0.084729,0.084729,0.084729,0.084729,0.084729,7.088880e+07,7.088880e+07
c321175e12787427aa6d00985519c41650614b362e206f83787c6fc8495d0245,True,True,ACTIVE,Regularly,22,NaN,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
016a81548c36c010144819354910dc0763b9b10eeeeacf5145832c28c480c5e0,True,True,ACTIVE,NONE,48,NaN,1,0.050831,0.050831,0.050831,0.050831,0.050831,6.155760e+07,6.155760e+07
dc066cb0d1be0a395c472b1a31679fcd64035db1a4212134f2ee66eb360713ee,True,True,ACTIVE,NONE,27,NaN,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
4bb1952ea5ae562246737b4904e5db79ee65ec732f7c310f5590ff826e762d11,True,True,ACTIVE,NONE,19,NaN,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN

In [43]:
articles_feature_matrix

,product_code,product_type_no,product_type_name,product_group_name,graphical_appearance_no,graphical_appearance_name,colour_group_code,colour_group_name,perceived_colour_value_id,perceived_colour_value_name,perceived_colour_master_id,perceived_colour_master_name,department_no,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,COUNT(transactions),MAX(transactions.price),MEAN(transactions.price),MEDIAN(transactions.price),MIN(transactions.price),SUM(transactions.price),TIME_SINCE_FIRST(transactions.t_dat),TIME_SINCE_LAST(transactions.t_dat),NUM_CHARACTERS(detail_desc),NUM_WORDS(detail_desc),MAX(transactions.customers.age),MEAN(transactions.customers.age),MEDIAN(transactions.customers.age),MIN(transactions.customers.age),SUM(transactions.customers.age)
article_id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0927491001,927491,265,Dress,Garment Full body,1010016,Solid,93,Dark Green,4,Dark,20,Khaki green,1313,Dress,A,Ladieswear,1,Ladieswear,11,Womens Tailoring,1013,Dresses Ladies,60,0.050831,0.048554,0.050831,0.020339,2.913220,6.354480e+07,5.931120e+07,274.0,48.0,66.0,33.016667,28.0,21.0,1981.0
0691839001,691839,272,Trousers,Garment Lower body,1010016,Solid,9,Black,4,Dark,5,Black,1722,Trouser,A,Ladieswear,1,Ladieswear,15,Womens Everyday Collection,1009,Trousers,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,180.0,27.0,NaN,NaN,NaN,NaN,0.0
0908924002,908924,259,Shirt,Garment Upper body,1010016,Solid,9,Black,4,Dark,5,Black,1515,Blouse,A,Ladieswear,1,Ladieswear,11,Womens Tailoring,1010,Blouses,11,0.025407,0.025407,0.025407,0.025407,0.279475,6.337200e+07,5.991600e+07,117.0,19.0,73.0,42.000000,45.0,24.0,462.0
0679630001,679630,262,Jacket,Garment Upper body,1010010,Melange,7,Grey,2,Medium Dusty,12,Grey,1929,Outwear,A,Ladieswear,1,Ladieswear,2,H&M+,1007,Outdoor,1,0.084729,0.084729,0.084729,0.084729,0.084729,6.605040e+07,6.605040e+07,100.0,18.0,52.0,52.000000,52.0,52.0,52.0
0698899003,698899,253,Vest top,Garment Upper body,1010022,Jacquard,9,Black,4,Dark,5,Black,1522,Blouse,A,Ladieswear,1,Ladieswear,15,Womens Everyday Collection,1010,Blouses,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,147.0,27.0,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0475827011,475827,89,Other shoe,Shoes,1010016,Solid,13,Beige,2,Medium Dusty,11,Beige,3630,Shoes / Boots inactive from s5,F,Menswear,3,Menswear,27,Men Shoes,1020,Shoes,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,106.0,17.0,NaN,NaN,NaN,NaN,0.0
0641715002,641715,258,Blouse,Garment Upper body,1010016,Solid,10,White,3,Light,9,White,1545,Projects Woven Tops,D,Divided,2,Divided,50,Divided Projects,1010,Blouses,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,118.0,22.0,NaN,NaN,NaN,NaN,0.0
0545612001,545612,272,Trousers,Garment Lower body,1010023,Denim,72,Blue,2,Medium Dusty,2,Blue,1779,Everyday Waredrobe Denim,A,Ladieswear,1,Ladieswear,57,Ladies Denim,1016,Trousers Denim,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,175.0,29.0,NaN,NaN,NaN,NaN,0.0
0663277003,663277,75,Hat/beanie,Accessories,1010010,Melange,7,Grey,2,Medium Dusty,12,Grey,3945,Knit & Woven,D,Divided,2,Divided,52,Divided Accessories,1019,Accessories,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,71.0,14.0,NaN,NaN,NaN,NaN,0.0
0520392001,520392,274,Shorts,Garment Lower body,1010016,Solid,43,Dark Red,4,Dark,18,Red,1722,Trouser,A,Ladieswear,1,Ladieswear,15,Womens Everyday Collection,1009,Trousers,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,207.0,39.0,NaN,NaN,NaN,NaN,0.0

In [44]:
from featuretools.selection import (
    remove_highly_correlated_features,
    remove_highly_null_features,
    remove_single_value_features,
)

In [45]:
remove_highly_null_features(customers_feature_matrix, pct_null_threshold=0.2)

,FN,Active,club_member_status,fashion_news_frequency,age,COUNT(transactions),SUM(transactions.price)
customer_id,,,,,,,
ff18c106287931d170618b59fd402ed0ecc292869aad5f7b2815e43a6fb9dbdf,True,True,ACTIVE,NONE,31,0,0.000000
136601b1d1f36b13b9a4bbe185f164f24f522c5d476d096bd00a21dd98e20606,True,True,ACTIVE,Regularly,51,0,0.000000
247a3ee3fe8a153bbf14e41f18c8bb5ebc9d53fe83830d35558463f3df54be98,True,True,PRE-CREATE,NONE,69,0,0.000000
d1e601dc9ea370b6dee95cbb983adf7fe5294386410be939ed1b91f617d78ae3,True,True,ACTIVE,NONE,24,0,0.000000
abc428504037054226353c4194380c7f16aff32b0633ac8f9f5d0f5e3da2ae5a,True,True,ACTIVE,NONE,28,0,0.000000
...,...,...,...,...,...,...,...
a4092d95d91ec0ff90527962935550346d993a299353c6cf3d00d9fc7b9cc74b,True,True,ACTIVE,NONE,25,1,0.084729
c321175e12787427aa6d00985519c41650614b362e206f83787c6fc8495d0245,True,True,ACTIVE,Regularly,22,0,0.000000
016a81548c36c010144819354910dc0763b9b10eeeeacf5145832c28c480c5e0,True,True,ACTIVE,NONE,48,1,0.050831
dc066cb0d1be0a395c472b1a31679fcd64035db1a4212134f2ee66eb360713ee,True,True,ACTIVE,NONE,27,0,0.000000
4bb1952ea5ae562246737b4904e5db79ee65ec732f7c310f5590ff826e762d11,True,True,ACTIVE,NONE,19,0,0.000000

In [46]:
new_fm, new_features = remove_single_value_features(customers_feature_matrix, features=customers_feature_defs)

In [47]:
new_fm.shape

(137198, 12)

In [48]:
set(new_features)-set(customers_feature_defs)

set()

In [49]:
customers_feature_matrix

,FN,Active,club_member_status,fashion_news_frequency,age,AVG_TIME_BETWEEN(transactions.t_dat),COUNT(transactions),MAX(transactions.price),MEAN(transactions.price),MEDIAN(transactions.price),MIN(transactions.price),SUM(transactions.price),TIME_SINCE_FIRST(transactions.t_dat),TIME_SINCE_LAST(transactions.t_dat)
customer_id,,,,,,,,,,,,,,
ff18c106287931d170618b59fd402ed0ecc292869aad5f7b2815e43a6fb9dbdf,True,True,ACTIVE,NONE,31,NaN,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
136601b1d1f36b13b9a4bbe185f164f24f522c5d476d096bd00a21dd98e20606,True,True,ACTIVE,Regularly,51,NaN,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
247a3ee3fe8a153bbf14e41f18c8bb5ebc9d53fe83830d35558463f3df54be98,True,True,PRE-CREATE,NONE,69,NaN,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
d1e601dc9ea370b6dee95cbb983adf7fe5294386410be939ed1b91f617d78ae3,True,True,ACTIVE,NONE,24,NaN,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
abc428504037054226353c4194380c7f16aff32b0633ac8f9f5d0f5e3da2ae5a,True,True,ACTIVE,NONE,28,NaN,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
a4092d95d91ec0ff90527962935550346d993a299353c6cf3d00d9fc7b9cc74b,True,True,ACTIVE,NONE,25,NaN,1,0.084729,0.084729,0.084729,0.084729,0.084729,7.088880e+07,7.088880e+07
c321175e12787427aa6d00985519c41650614b362e206f83787c6fc8495d0245,True,True,ACTIVE,Regularly,22,NaN,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
016a81548c36c010144819354910dc0763b9b10eeeeacf5145832c28c480c5e0,True,True,ACTIVE,NONE,48,NaN,1,0.050831,0.050831,0.050831,0.050831,0.050831,6.155760e+07,6.155760e+07
dc066cb0d1be0a395c472b1a31679fcd64035db1a4212134f2ee66eb360713ee,True,True,ACTIVE,NONE,27,NaN,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
4bb1952ea5ae562246737b4904e5db79ee65ec732f7c310f5590ff826e762d11,True,True,ACTIVE,NONE,19,NaN,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN

bug in featuretools -> can't call .corr() on Boolean features

https://github.com/alteryx/featuretools/issues/2229

In [50]:
new_fm, new_features = remove_highly_correlated_features(customers_feature_matrix, features=customers_feature_defs)

AttributeError: 'float' object has no attribute 'shape'

In [51]:
list(customers_feature_defs[2:])

[<Feature: club_member_status>,
 <Feature: fashion_news_frequency>,
 <Feature: age>,
 <Feature: AVG_TIME_BETWEEN(transactions.t_dat)>,
 <Feature: COUNT(transactions)>,
 <Feature: MAX(transactions.price)>,
 <Feature: MEAN(transactions.price)>,
 <Feature: MEDIAN(transactions.price)>,
 <Feature: MIN(transactions.price)>,
 <Feature: SUM(transactions.price)>,
 <Feature: TIME_SINCE_FIRST(transactions.t_dat)>,
 <Feature: TIME_SINCE_LAST(transactions.t_dat)>]

In [52]:
new_fm, new_features = remove_highly_correlated_features(customers_feature_matrix.iloc[:, 2:], features=customers_feature_defs[2:])

In [53]:
new_fm

,club_member_status,fashion_news_frequency,age,AVG_TIME_BETWEEN(transactions.t_dat),COUNT(transactions),MAX(transactions.price),MEAN(transactions.price),MIN(transactions.price),SUM(transactions.price),TIME_SINCE_FIRST(transactions.t_dat),TIME_SINCE_LAST(transactions.t_dat)
customer_id,,,,,,,,,,,
ff18c106287931d170618b59fd402ed0ecc292869aad5f7b2815e43a6fb9dbdf,ACTIVE,NONE,31,NaN,0,NaN,NaN,NaN,0.000000,NaN,NaN
136601b1d1f36b13b9a4bbe185f164f24f522c5d476d096bd00a21dd98e20606,ACTIVE,Regularly,51,NaN,0,NaN,NaN,NaN,0.000000,NaN,NaN
247a3ee3fe8a153bbf14e41f18c8bb5ebc9d53fe83830d35558463f3df54be98,PRE-CREATE,NONE,69,NaN,0,NaN,NaN,NaN,0.000000,NaN,NaN
d1e601dc9ea370b6dee95cbb983adf7fe5294386410be939ed1b91f617d78ae3,ACTIVE,NONE,24,NaN,0,NaN,NaN,NaN,0.000000,NaN,NaN
abc428504037054226353c4194380c7f16aff32b0633ac8f9f5d0f5e3da2ae5a,ACTIVE,NONE,28,NaN,0,NaN,NaN,NaN,0.000000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
a4092d95d91ec0ff90527962935550346d993a299353c6cf3d00d9fc7b9cc74b,ACTIVE,NONE,25,NaN,1,0.084729,0.084729,0.084729,0.084729,7.088880e+07,7.088880e+07
c321175e12787427aa6d00985519c41650614b362e206f83787c6fc8495d0245,ACTIVE,Regularly,22,NaN,0,NaN,NaN,NaN,0.000000,NaN,NaN
016a81548c36c010144819354910dc0763b9b10eeeeacf5145832c28c480c5e0,ACTIVE,NONE,48,NaN,1,0.050831,0.050831,0.050831,0.050831,6.155760e+07,6.155760e+07
dc066cb0d1be0a395c472b1a31679fcd64035db1a4212134f2ee66eb360713ee,ACTIVE,NONE,27,NaN,0,NaN,NaN,NaN,0.000000,NaN,NaN
4bb1952ea5ae562246737b4904e5db79ee65ec732f7c310f5590ff826e762d11,ACTIVE,NONE,19,NaN,0,NaN,NaN,NaN,0.000000,NaN,NaN