# Preprocessing data to graph structure

In [130]:
%load_ext kedro.extras.extensions.ipython

The kedro.extras.extensions.ipython extension is already loaded. To reload it, use:
  %reload_ext kedro.extras.extensions.ipython

In [131]:
%reload_kedro

2022-08-31 09:23:44,675 - kedro.framework.hooks.manager - INFO - Registered hooks from 1 installed plugin(s): kedro-mlflow-0.8.1
2022-08-31 09:23:44,835 - kedro.framework.session.store - INFO - `read()` not implemented for `BaseSessionStore`. Assuming empty store.
2022-08-31 09:23:45,058 - root - INFO - ** Kedro project GetInData ML Framework
2022-08-31 09:23:45,060 - root - INFO - Defined global variable `context`, `session`, `catalog` and `pipelines`
2022-08-31 09:23:45,094 - root - INFO - Registered line magic `run_viz`
2022-08-31 09:23:45,096 - root - INFO - Registered line magic `reload_kedro_mlflow`

/home/michal/projects/gid-ml-framework/.venv/lib/python3.8/site-packages/kedro/framework/context/context.py:488: UserWarning: Credentials not found in your Kedro project config.
No files found in ['/home/michal/projects/gid-ml-framework/conf/base', '/home/michal/projects/gid-ml-framework/conf/local'] matching the glob pattern(s): ['credentials*', 'credentials*/**', '**/credentials*']
  warn(f"Credentials not found in your Kedro project config.\n{str(exc)}")

In [132]:
from typing import Iterator, Tuple
import re

import pandas as pd
import numpy as np
from kedro.extras.datasets.pandas import CSVDataSet
from kedro.io.core import get_filepath_str

import gid_ml_framework.pipelines.santander_preprocessing.nodes
from gid_ml_framework.extras.datasets.chunks_dataset import (
 _load,
 _concat_chunks,
)

pd.options.mode.chained_assignment = None
pd.set_option('expand_frame_repr', True)
pd.set_option("display.max_rows", 999)
pd.set_option('max_colwidth', 100)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
pd.set_option('display.expand_frame_repr', False)

In [158]:
customers_path = "santander_customers"
articles_path = "santander_articles"
transactions_train_path = "santander_transactions_train"
transactions_val_path = "santander_transactions_val"

In [159]:
customers = context.catalog.load(customers_path)
articles = context.catalog.load(articles_path)
transactions_train = _concat_chunks(context.catalog.load(transactions_train_path))
transactions_val = _concat_chunks(context.catalog.load(transactions_val_path))

2022-08-31 10:38:53,305 - kedro.io.data_catalog - INFO - Loading data from `santander_customers` (CSVDataSet)...

/home/michal/projects/gid-ml-framework/.venv/lib/python3.8/site-packages/kedro/framework/context/context.py:488: UserWarning: Credentials not found in your Kedro project config.
No files found in ['/home/michal/projects/gid-ml-framework/conf/base', '/home/michal/projects/gid-ml-framework/conf/local'] matching the glob pattern(s): ['credentials*', 'credentials*/**', '**/credentials*']
  warn(f"Credentials not found in your Kedro project config.\n{str(exc)}")

2022-08-31 10:38:55,303 - kedro.io.data_catalog - INFO - Loading data from `santander_articles` (CSVDataSet)...
2022-08-31 10:38:55,345 - kedro.io.data_catalog - INFO - Loading data from `santander_transactions_train` (CSVDataSet)...
2022-08-31 10:38:55,467 - kedro.io.data_catalog - INFO - Loading data from `santander_transactions_val` (CSVDataSet)...

/home/michal/projects/gid-ml-framework/.venv/lib/python3.8/site-packages/kedro/framework/context/context.py:488: UserWarning: Credentials not found in your Kedro project config.
No files found in ['/home/michal/projects/gid-ml-framework/conf/base', '/home/michal/projects/gid-ml-framework/conf/local'] matching the glob pattern(s): ['credentials*', 'credentials*/**', '**/credentials*']
  warn(f"Credentials not found in your Kedro project config.\n{str(exc)}")
/home/michal/projects/gid-ml-framework/.venv/lib/python3.8/site-packages/kedro/framework/context/context.py:488: UserWarning: Credentials not found in your Kedro project config.
No files found in ['/home/michal/projects/gid-ml-framework/conf/base', '/home/michal/projects/gid-ml-framework/conf/local'] matching the glob pattern(s): ['credentials*', 'credentials*/**', '**/credentials*']
  warn(f"Credentials not found in your Kedro project config.\n{str(exc)}")
/home/michal/projects/gid-ml-framework/.venv/lib/python3.8/site-packages/kedro/framework/context/context.py:488: UserWarning: Credentials not found in your Kedro project config.
No files found in ['/home/michal/projects/gid-ml-framework/conf/base', '/home/michal/projects/gid-ml-framework/conf/local'] matching the glob pattern(s): ['credentials*', 'credentials*/**', '**/credentials*']
  warn(f"Credentials not found in your Kedro project config.\n{str(exc)}")

In [135]:
customers.shape

(93146, 45)

In [111]:
articles.shape

(24, 1)

In [113]:
transactions_train.shape

(52432, 3)

In [115]:
transactions_val.shape

(3573, 3)

In [160]:
def _create_mapping(df: pd.DataFrame, map_column: str):
    """Creates mapping into consecutive integers for given column."""
    ids = df.loc[:, map_column].sort_values().reset_index(drop=True)
    mapping = {v: k for k, v in enumerate(ids)}
    return mapping

In [161]:
users_mapping = _create_mapping(customers, map_column="customer_id")
items_mapping = _create_mapping(articles, map_column="article_id")

In [151]:
set(transactions_train.customer_id).issubset(set(users_mapping.keys()))

True

In [162]:
transactions_train.replace({"customer_id": users_mapping, "article_id": items_mapping}, inplace=True)

In [153]:
set(transactions_train.customer_id).issubset(set(users_mapping.values()))

True

In [141]:
customers

       customer_id ind_empleado pais_residencia sexo  age  fecha_alta ind_nuevo  antiguedad  indrel ult_fec_cli_1t indrel_1mes tiprel_1mes indresi indext conyuemp canal_entrada indfall   nomprov  ind_actividad_cliente          renta           segmento  ind_ahor_fin_ult1  ind_aval_fin_ult1  ind_cco_fin_ult1  ind_cder_fin_ult1  ind_cno_fin_ult1  ind_ctju_fin_ult1  ind_ctma_fin_ult1  ind_ctop_fin_ult1  ind_ctpp_fin_ult1  ind_deco_fin_ult1  ind_deme_fin_ult1  ind_dela_fin_ult1  ind_ecue_fin_ult1  ind_fond_fin_ult1  ind_hip_fin_ult1  ind_plan_fin_ult1  ind_pres_fin_ult1  ind_reca_fin_ult1  ind_tjcr_fin_ult1  ind_valo_fin_ult1  ind_viv_fin_ult1  ind_nomina_ult1  ind_nom_pens_ult1  ind_recibo_ult1
0            15911            F              ES    V   53  1995-01-16         0         256       1        UNKNOWN           1           A       S      N        N           KAT       N    MADRID                      1  191298.656250           01 - TOP                  0                  0                 0                  0                 1                  0                  0                  0                  0                  0                  0                  1                  1                  0                 0                  0                  0                  0                  1                  1                 0                0                  0                1
1            15913            F              ES    V   48  1995-01-16         0         256       1        UNKNOWN           1           A       S      N        N           KAT       N    MADRID                      1  163073.187500  02 - PARTICULARES                  0                  0                 1                  0                 0                  0                  0                  0                  0                  0                  0                  0                  0                  0                 0                  1                  0                  0                  1                  1                 0                0                  0                1
2            15926            F              ES    V   56  1995-01-16         0         254       1        UNKNOWN           1           A       S      N        N           KAT       N    MADRID                      1  128376.242188  02 - PARTICULARES                  0                  0                 1                  0                 0                  0                  0                  1                  0                  0                  0                  0                  0                  1                 0                  0                  0                  0                  0                  1                 0                0                  0                0
3            15950            N              ES    V   61  1995-01-16         0         256       1        UNKNOWN           1           A       S      N        N           KAT       N    MADRID                      1  141979.265625  02 - PARTICULARES                  0                  0                 0                  0                 0                  0                  0                  0                  0                  0                  0                  0                  0                  0                 0                  1                  0                  1                  0                  0                 0                0                  0                1
4            15957            F              ES    V   54  1995-01-16         0         256       1        UNKNOWN           1           A       S      N        N           KAT       N    MADRID                      1  155722.015625           01 - TOP                  0                  0                 1                  0                 1                  0                  0                  0                  0                  0                  0                  0                  1                  1                 0                  1                  0                  1                  1                  1                 0                1                  1                1
...            ...          ...             ...  ...  ...         ...       ...         ...     ...            ...         ...         ...     ...    ...      ...           ...     ...       ...                    ...            ...                ...                ...                ...               ...                ...               ...                ...                ...                ...                ...                ...                ...                ...                ...                ...               ...                ...                ...                ...                ...                ...               ...              ...                ...              ...
93141      1553596            N              ES    H   47  2016-05-31         1           0       1        UNKNOWN           P           A       S      N  UNKNOWN       UNKNOWN       N    MALAGA                      0   95195.492188            UNKNOWN                  0                  0                 0                  0                 0                  0                  0                  0                  0                  0                  0                  0                  0                  0                 0                  0                  0                  0                  0                  0                 0                0                  0                0
93142      1553604            N              ES    H   66  2016-05-31         1           0       1        UNKNOWN           P           A       S      S  UNKNOWN       UNKNOWN       N    MALAGA                      0   95195.492188            UNKNOWN                  0                  0                 0                  0                 0                  0                  0                  0                  0                  0                  0                  0                  0                  0                 0                  0                  0                  0                  0                  0                 0                0                  0                0
93143      1553609            N              ES    V   43  2016-05-31         1           0       1        UNKNOWN           P           A       S      N  UNKNOWN       UNKNOWN       N  ASTURIAS                      0   86066.429688            UNKNOWN                  0                  0                 0                  0                 0                  0                  0                  0                  0                  0                  0                  0                  0                  0                 0                  0                  0                  0                  0                  0                 0                0                  0                0
93144      1553627            N              ES    V   31  2016-05-31         1           0       1        UNKNOWN           P           A       S      N  UNKNOWN       UNKNOWN       N    MADRID                      0  138027.750000            UNKNOWN                  0                  0                 0                  0                 0                  0                  0                  0                  0                  0                  0                  0                  0                  0                 0                  0                  0                  0                  0                  0                 0                0                  0                0
93145      1553661            N              ES    H   40  2016-05-31         1           0       1        UNKNOWN           P           A       S      N  UNKNOWN       UNKNOWN       N    MADRID                      0  138027.750000            UNKNOWN                  0                  0                 0                  0                 0                  0                  0                  0                  0                  0                  0                  0                  0                  0                 0                  0                  0                  0                  0                  0                 0                0                  0                0

[93146 rows x 45 columns]

In [163]:
transactions_train.sort_values("customer_id")

       customer_id        date  article_id
11689            0  2015-04-28          11
11031            1  2015-11-28           7
14521            1  2016-01-28          12
23396            1  2016-01-28          22
4543             1  2015-12-28           2
...            ...         ...         ...
10738        92341  2016-04-28           6
51518        92342  2016-04-28          20
6245         92342  2016-04-28           2
10739        92343  2016-04-28           6
6244         92343  2016-04-28           2

[52432 rows x 3 columns]

In [140]:
customers.loc[customers.customer_id==92343, :]

Empty DataFrame
Columns: [customer_id, ind_empleado, pais_residencia, sexo, age, fecha_alta, ind_nuevo, antiguedad, indrel, ult_fec_cli_1t, indrel_1mes, tiprel_1mes, indresi, indext, conyuemp, canal_entrada, indfall, nomprov, ind_actividad_cliente, renta, segmento, ind_ahor_fin_ult1, ind_aval_fin_ult1, ind_cco_fin_ult1, ind_cder_fin_ult1, ind_cno_fin_ult1, ind_ctju_fin_ult1, ind_ctma_fin_ult1, ind_ctop_fin_ult1, ind_ctpp_fin_ult1, ind_deco_fin_ult1, ind_deme_fin_ult1, ind_dela_fin_ult1, ind_ecue_fin_ult1, ind_fond_fin_ult1, ind_hip_fin_ult1, ind_plan_fin_ult1, ind_pres_fin_ult1, ind_reca_fin_ult1, ind_tjcr_fin_ult1, ind_valo_fin_ult1, ind_viv_fin_ult1, ind_nomina_ult1, ind_nom_pens_ult1, ind_recibo_ult1]
Index: []

In [90]:
customers.shape[0]

92868

In [88]:
len(transactions.customer_id.unique())

19330

# Preprocessed data check

In [167]:
transactions_graph_path = "santander.santander_transactions_graph"
transactions_mapped_path = "santander_transactions_mapped"
users_mapping_path = "santander_users_mapping"
items_mapping_path = "santander_items_mapping"

In [168]:
transactions_graph = _concat_chunks(context.catalog.load(transactions_graph_path))
transactions_mapped = _concat_chunks(context.catalog.load(transactions_mapped_path))
users_mapping = context.catalog.load(users_mapping_path)
items_mapping = context.catalog.load(items_mapping_path)

2022-08-31 10:47:09,780 - kedro.io.data_catalog - INFO - Loading data from `santander.santander_transactions_graph` (CSVDataSet)...
2022-08-31 10:47:09,855 - kedro.io.data_catalog - INFO - Loading data from `santander_transactions_mapped` (CSVDataSet)...
2022-08-31 10:47:09,921 - kedro.io.data_catalog - INFO - Loading data from `santander_users_mapping` (PickleDataSet)...

/home/michal/projects/gid-ml-framework/.venv/lib/python3.8/site-packages/kedro/framework/context/context.py:488: UserWarning: Credentials not found in your Kedro project config.
No files found in ['/home/michal/projects/gid-ml-framework/conf/base', '/home/michal/projects/gid-ml-framework/conf/local'] matching the glob pattern(s): ['credentials*', 'credentials*/**', '**/credentials*']
  warn(f"Credentials not found in your Kedro project config.\n{str(exc)}")
/home/michal/projects/gid-ml-framework/.venv/lib/python3.8/site-packages/kedro/framework/context/context.py:488: UserWarning: Credentials not found in your Kedro project config.
No files found in ['/home/michal/projects/gid-ml-framework/conf/base', '/home/michal/projects/gid-ml-framework/conf/local'] matching the glob pattern(s): ['credentials*', 'credentials*/**', '**/credentials*']
  warn(f"Credentials not found in your Kedro project config.\n{str(exc)}")
/home/michal/projects/gid-ml-framework/.venv/lib/python3.8/site-packages/kedro/framework/context/context.py:488: UserWarning: Credentials not found in your Kedro project config.
No files found in ['/home/michal/projects/gid-ml-framework/conf/base', '/home/michal/projects/gid-ml-framework/conf/local'] matching the glob pattern(s): ['credentials*', 'credentials*/**', '**/credentials*']
  warn(f"Credentials not found in your Kedro project config.\n{str(exc)}")

2022-08-31 10:47:09,987 - kedro.io.data_catalog - INFO - Loading data from `santander_items_mapping` (PickleDataSet)...

In [169]:
transactions_graph

       user_id           item_id        time
0       366053  ind_cco_fin_ult1  1425081600
1       996556  ind_cco_fin_ult1  1425081600
2      1362626  ind_cco_fin_ult1  1425081600
3       456060  ind_cco_fin_ult1  1425081600
4      1218874  ind_cco_fin_ult1  1425081600
...        ...               ...         ...
56000  1071812   ind_recibo_ult1  1464393600
56001   285488   ind_recibo_ult1  1464393600
56002  1401868   ind_recibo_ult1  1464393600
56003  1067005   ind_recibo_ult1  1464393600
56004  1401567   ind_recibo_ult1  1464393600

[56005 rows x 3 columns]

In [170]:
transactions_mapped

       user_id item_id        time
0        17074       2  1425081600
1        49210       2  1425081600
2        77896       2  1425081600
3        21642       2  1425081600
4        66652       2  1425081600
...        ...     ...         ...
56000    54817      20  1464393600
56001    13213      20  1464393600
56002    80773      20  1464393600
56003    54368      20  1464393600
56004    80756      20  1464393600

[56005 rows x 3 columns]

In [171]:
items_mapping

{'ind_ahor_fin_ult1': 0,
 'ind_aval_fin_ult1': 1,
 'ind_cco_fin_ult1': 2,
 'ind_cder_fin_ult1': 3,
 'ind_cno_fin_ult1': 4,
 'ind_ctju_fin_ult1': 5,
 'ind_ctma_fin_ult1': 6,
 'ind_ctop_fin_ult1': 7,
 'ind_ctpp_fin_ult1': 8,
 'ind_deco_fin_ult1': 9,
 'ind_dela_fin_ult1': 10,
 'ind_deme_fin_ult1': 11,
 'ind_ecue_fin_ult1': 12,
 'ind_fond_fin_ult1': 13,
 'ind_hip_fin_ult1': 14,
 'ind_nom_pens_ult1': 15,
 'ind_nomina_ult1': 16,
 'ind_plan_fin_ult1': 17,
 'ind_pres_fin_ult1': 18,
 'ind_reca_fin_ult1': 19,
 'ind_recibo_ult1': 20,
 'ind_tjcr_fin_ult1': 21,
 'ind_valo_fin_ult1': 22,
 'ind_viv_fin_ult1': 23}

In [165]:
users_mapping

{15911: 0,
 15913: 1,
 15926: 2,
 15950: 3,
 15957: 4,
 15976: 5,
 16000: 6,
 16002: 7,
 16003: 8,
 16007: 9,
 16024: 10,
 16042: 11,
 16055: 12,
 16060: 13,
 16067: 14,
 16093: 15,
 16102: 16,
 16113: 17,
 16125: 18,
 16162: 19,
 16201: 20,
 16217: 21,
 16255: 22,
 16261: 23,
 16311: 24,
 16329: 25,
 16412: 26,
 16456: 27,
 16463: 28,
 16529: 29,
 16572: 30,
 16580: 31,
 16584: 32,
 16590: 33,
 16595: 34,
 16641: 35,
 16650: 36,
 16666: 37,
 16680: 38,
 16681: 39,
 16720: 40,
 16723: 41,
 16730: 42,
 16747: 43,
 16749: 44,
 16757: 45,
 16758: 46,
 16770: 47,
 16820: 48,
 16826: 49,
 16834: 50,
 16841: 51,
 16848: 52,
 16849: 53,
 16861: 54,
 16883: 55,
 16898: 56,
 16940: 57,
 16959: 58,
 16973: 59,
 17010: 60,
 17045: 61,
 17098: 62,
 17183: 63,
 17201: 64,
 17215: 65,
 17279: 66,
 17337: 67,
 17360: 68,
 17370: 69,
 17417: 70,
 17422: 71,
 17443: 72,
 17479: 73,
 17493: 74,
 17523: 75,
 17535: 76,
 17536: 77,
 17571: 78,
 17591: 79,
 17601: 80,
 17622: 81,
 17645: 82,
 17653: 83,
 17657: 84,
 17664: 85,
 17687: 86,
 17703: 87,
 17710: 88,
 17726: 89,
 17735: 90,
 17837: 91,
 17841: 92,
 17857: 93,
 17863: 94,
 17869: 95,
 17875: 96,
 17937: 97,
 17943: 98,
 17950: 99,
 17960: 100,
 17997: 101,
 18013: 102,
 18015: 103,
 18041: 104,
 18080: 105,
 18091: 106,
 18130: 107,
 18140: 108,
 18199: 109,
 18225: 110,
 18294: 111,
 18306: 112,
 18314: 113,
 18333: 114,
 18363: 115,
 18376: 116,
 18394: 117,
 18411: 118,
 18427: 119,
 18447: 120,
 18448: 121,
 18452: 122,
 18456: 123,
 18466: 124,
 18505: 125,
 18526: 126,
 18538: 127,
 18540: 128,
 18572: 129,
 18585: 130,
 18635: 131,
 18647: 132,
 18666: 133,
 18678: 134,
 18759: 135,
 18780: 136,
 18781: 137,
 18794: 138,
 18838: 139,
 18854: 140,
 18910: 141,
 18914: 142,
 18917: 143,
 18918: 144,
 18929: 145,
 18943: 146,
 18970: 147,
 18985: 148,
 19036: 149,
 19040: 150,
 19054: 151,
 19087: 152,
 19096: 153,
 19100: 154,
 19163: 155,
 19171: 156,
 19184: 157,
 19216: 158,
 19230: 159,
 19256: 160,
 19268: 161,
 19299: 162,
 19336: 163,
 19341: 164,
 19415: 165,
 19432: 166,
 19461: 167,
 19502: 168,
 19513: 169,
 19549: 170,
 19558: 171,
 19563: 172,
 19582: 173,
 19611: 174,
 19630: 175,
 19653: 176,
 19658: 177,
 19685: 178,
 19718: 179,
 19751: 180,
 19765: 181,
 19784: 182,
 19809: 183,
 19823: 184,
 19851: 185,
 19861: 186,
 19884: 187,
 19889: 188,
 19891: 189,
 19898: 190,
 19900: 191,
 19957: 192,
 20010: 193,
 20066: 194,
 20092: 195,
 20137: 196,
 20168: 197,
 20191: 198,
 20203: 199,
 20215: 200,
 20244: 201,
 20260: 202,
 20273: 203,
 20334: 204,
 20351: 205,
 20360: 206,
 20369: 207,
 20375: 208,
 20376: 209,
 20382: 210,
 20385: 211,
 20411: 212,
 20443: 213,
 20446: 214,
 20454: 215,
 20473: 216,
 20491: 217,
 20515: 218,
 20519: 219,
 20574: 220,
 20583: 221,
 20587: 222,
 20591: 223,
 20608: 224,
 20631: 225,
 20634: 226,
 20667: 227,
 20684: 228,
 20717: 229,
 20766: 230,
 20776: 231,
 20787: 232,
 20804: 233,
 20807: 234,
 20823: 235,
 20842: 236,
 20890: 237,
 20929: 238,
 20947: 239,
 20959: 240,
 20981: 241,
 20986: 242,
 21025: 243,
 21049: 244,
 21052: 245,
 21054: 246,
 21055: 247,
 21068: 248,
 21081: 249,
 21154: 250,
 21215: 251,
 21217: 252,
 21229: 253,
 21236: 254,
 21243: 255,
 21257: 256,
 21263: 257,
 21296: 258,
 21326: 259,
 21367: 260,
 21371: 261,
 21404: 262,
 21407: 263,
 21434: 264,
 21443: 265,
 21474: 266,
 21487: 267,
 21496: 268,
 21585: 269,
 21598: 270,
 21602: 271,
 21618: 272,
 21630: 273,
 21675: 274,
 21719: 275,
 21769: 276,
 21773: 277,
 21775: 278,
 21785: 279,
 21806: 280,
 21813: 281,
 21821: 282,
 21832: 283,
 21834: 284,
 21864: 285,
 21869: 286,
 21881: 287,
 21886: 288,
 21913: 289,
 21920: 290,
 21923: 291,
 21991: 292,
 22000: 293,
 22028: 294,
 22029: 295,
 22031: 296,
 22045: 297,
 22064: 298,
 22070: 299,
 22108: 300,
 22117: 301,
 22155: 302,
 22172: 303,
 22174: 304,
 22245: 305,
 22281: 306,
 22315: 307,
 22336: 308,
 22340: 309,
 22361: 310,
 22402: 311,
 22413: 312,
 22420: 313,
 22455: 314,
 22457: 315,
 22563: 316,
 22627: 317,
 22632: 318,
 22635: 319,
 22670: 320,
 22694: 321,
 22707: 322,
 22716: 323,
 22718: 324,
 22759: 325,
 22797: 326,
 22817: 327,
 22841: 328,
 22862: 329,
 22901: 330,
 22907: 331,
 22935: 332,
 22943: 333,
 22952: 334,
 22977: 335,
 22978: 336,
 22985: 337,
 22986: 338,
 22987: 339,
 23009: 340,
 23011: 341,
 23044: 342,
 23079: 343,
 23122: 344,
 23145: 345,
 23148: 346,
 23154: 347,
 23155: 348,
 23250: 349,
 23290: 350,
 23294: 351,
 23311: 352,
 23314: 353,
 23334: 354,
 23337: 355,
 23352: 356,
 23364: 357,
 23365: 358,
 23420: 359,
 23448: 360,
 23485: 361,
 23499: 362,
 23506: 363,
 23508: 364,
 23509: 365,
 23510: 366,
 23523: 367,
 23538: 368,
 23549: 369,
 23551: 370,
 23582: 371,
 23590: 372,
 23613: 373,
 23625: 374,
 23680: 375,
 23713: 376,
 23723: 377,
 23777: 378,
 23786: 379,
 23795: 380,
 23811: 381,
 23834: 382,
 23836: 383,
 23857: 384,
 23910: 385,
 23922: 386,
 23928: 387,
 23976: 388,
 24047: 389,
 24083: 390,
 24140: 391,
 24164: 392,
 24238: 393,
 24264: 394,
 24283: 395,
 24285: 396,
 24308: 397,
 24322: 398,
 24333: 399,
 24337: 400,
 24363: 401,
 24365: 402,
 24401: 403,
 24414: 404,
 24418: 405,
 24434: 406,
 24435: 407,
 24467: 408,
 24480: 409,
 24505: 410,
 24507: 411,
 24511: 412,
 24514: 413,
 24533: 414,
 24565: 415,
 24595: 416,
 24642: 417,
 24648: 418,
 24707: 419,
 24726: 420,
 24742: 421,
 24746: 422,
 24775: 423,
 24787: 424,
 24884: 425,
 24890: 426,
 24907: 427,
 24966: 428,
 24982: 429,
 24990: 430,
 25033: 431,
 25035: 432,
 25076: 433,
 25094: 434,
 25137: 435,
 25160: 436,
 25201: 437,
 25247: 438,
 25267: 439,
 25276: 440,
 25289: 441,
 25313: 442,
 25333: 443,
 25366: 444,
 25377: 445,
 25391: 446,
 25395: 447,
 25403: 448,
 25415: 449,
 25418: 450,
 25443: 451,
 25482: 452,
 25559: 453,
 25572: 454,
 25595: 455,
 25633: 456,
 25657: 457,
 25669: 458,
 25692: 459,
 25711: 460,
 25719: 461,
 25721: 462,
 25732: 463,
 25802: 464,
 25813: 465,
 25860: 466,
 25874: 467,
 25883: 468,
 25888: 469,
 25898: 470,
 25936: 471,
 25938: 472,
 25980: 473,
 25997: 474,
 26037: 475,
 26084: 476,
 26093: 477,
 26098: 478,
 26108: 479,
 26111: 480,
 26127: 481,
 26152: 482,
 26159: 483,
 26162: 484,
 26170: 485,
 26173: 486,
 26213: 487,
 26217: 488,
 26238: 489,
 26274: 490,
 26302: 491,
 26320: 492,
 26360: 493,
 26384: 494,
 26447: 495,
 26460: 496,
 26462: 497,
 26504: 498,
 26537: 499,
 26543: 500,
 26558: 501,
 26565: 502,
 26595: 503,
 26642: 504,
 26713: 505,
 26739: 506,
 26765: 507,
 26774: 508,
 26781: 509,
 26795: 510,
 26811: 511,
 26814: 512,
 26815: 513,
 26828: 514,
 26840: 515,
 26849: 516,
 26876: 517,
 26897: 518,
 26899: 519,
 26914: 520,
 26925: 521,
 26941: 522,
 26951: 523,
 26971: 524,
 26978: 525,
 26995: 526,
 27031: 527,
 27109: 528,
 27152: 529,
 27159: 530,
 27171: 531,
 27213: 532,
 27220: 533,
 27230: 534,
 27231: 535,
 27276: 536,
 27306: 537,
 27307: 538,
 27358: 539,
 27367: 540,
 27416: 541,
 27457: 542,
 27468: 543,
 27484: 544,
 27495: 545,
 27517: 546,
 27539: 547,
 27541: 548,
 27542: 549,
 27543: 550,
 27607: 551,
 27614: 552,
 27623: 553,
 27646: 554,
 27665: 555,
 27671: 556,
 27705: 557,
 27724: 558,
 27744: 559,
 27772: 560,
 27803: 561,
 27809: 562,
 27811: 563,
 27813: 564,
 27831: 565,
 27904: 566,
 27913: 567,
 27922: 568,
 27926: 569,
 27968: 570,
 27990: 571,
 28007: 572,
 28028: 573,
 28079: 574,
 28092: 575,
 28135: 576,
 28183: 577,
 28210: 578,
 28287: 579,
 28326: 580,
 28336: 581,
 28353: 582,
 28365: 583,
 28381: 584,
 28383: 585,
 28402: 586,
 28437: 587,
 28449: 588,
 28450: 589,
 28506: 590,
 28528: 591,
 28544: 592,
 28547: 593,
 28620: 594,
 28627: 595,
 28639: 596,
 28640: 597,
 28655: 598,
 28657: 599,
 28687: 600,
 28730: 601,
 28747: 602,
 28748: 603,
 28756: 604,
 28849: 605,
 28935: 606,
 29003: 607,
 29012: 608,
 29037: 609,
 29097: 610,
 29108: 611,
 29182: 612,
 29185: 613,
 29246: 614,
 29247: 615,
 29255: 616,
 29256: 617,
 29264: 618,
 29344: 619,
 29413: 620,
 29461: 621,
 29473: 622,
 29502: 623,
 29516: 624,
 29520: 625,
 29547: 626,
 29558: 627,
 29575: 628,
 29600: 629,
 29664: 630,
 29681: 631,
 29722: 632,
 29847: 633,
 29851: 634,
 29869: 635,
 29892: 636,
 29907: 637,
 29909: 638,
 29911: 639,
 29924: 640,
 29929: 641,
 29939: 642,
 29994: 643,
 29998: 644,
 30007: 645,
 30008: 646,
 30019: 647,
 30056: 648,
 30076: 649,
 30077: 650,
 30084: 651,
 30123: 652,
 30126: 653,
 30130: 654,
 30163: 655,
 30168: 656,
 30176: 657,
 30212: 658,
 30240: 659,
 30260: 660,
 30288: 661,
 30294: 662,
 30331: 663,
 30338: 664,
 30368: 665,
 30389: 666,
 30468: 667,
 30494: 668,
 30495: 669,
 30539: 670,
 30543: 671,
 30552: 672,
 30598: 673,
 30601: 674,
 30602: 675,
 30618: 676,
 30673: 677,
 30679: 678,
 30688: 679,
 30690: 680,
 30808: 681,
 30820: 682,
 30868: 683,
 30881: 684,
 30890: 685,
 30911: 686,
 30918: 687,
 30966: 688,
 31023: 689,
 31026: 690,
 31030: 691,
 31042: 692,
 31048: 693,
 31056: 694,
 31103: 695,
 31122: 696,
 31123: 697,
 31146: 698,
 31147: 699,
 31154: 700,
 31170: 701,
 31181: 702,
 31201: 703,
 31209: 704,
 31211: 705,
 31225: 706,
 31246: 707,
 31255: 708,
 31316: 709,
 31325: 710,
 31378: 711,
 31395: 712,
 31409: 713,
 31434: 714,
 31451: 715,
 31587: 716,
 31665: 717,
 31676: 718,
 31691: 719,
 31704: 720,
 31729: 721,
 31747: 722,
 31763: 723,
 31775: 724,
 31776: 725,
 31783: 726,
 31801: 727,
 31802: 728,
 31824: 729,
 31890: 730,
 31930: 731,
 31937: 732,
 31949: 733,
 31951: 734,
 31964: 735,
 31965: 736,
 31984: 737,
 31997: 738,
 32008: 739,
 32023: 740,
 32033: 741,
 32057: 742,
 32067: 743,
 32071: 744,
 32076: 745,
 32084: 746,
 32085: 747,
 32093: 748,
 32094: 749,
 32111: 750,
 32114: 751,
 32181: 752,
 32190: 753,
 32193: 754,
 32197: 755,
 32199: 756,
 32250: 757,
 32253: 758,
 32270: 759,
 32344: 760,
 32401: 761,
 32403: 762,
 32413: 763,
 32433: 764,
 32446: 765,
 32486: 766,
 32505: 767,
 32509: 768,
 32563: 769,
 32616: 770,
 32658: 771,
 32667: 772,
 32682: 773,
 32746: 774,
 32765: 775,
 32785: 776,
 32830: 777,
 32843: 778,
 32863: 779,
 32877: 780,
 32878: 781,
 32885: 782,
 32900: 783,
 32917: 784,
 32922: 785,
 32938: 786,
 32945: 787,
 32960: 788,
 32984: 789,
 33064: 790,
 33074: 791,
 33139: 792,
 33140: 793,
 33144: 794,
 33146: 795,
 33153: 796,
 33160: 797,
 33178: 798,
 33223: 799,
 33243: 800,
 33256: 801,
 33258: 802,
 33266: 803,
 33331: 804,
 33346: 805,
 33350: 806,
 33404: 807,
 33482: 808,
 33495: 809,
 33500: 810,
 33516: 811,
 33517: 812,
 33525: 813,
 33569: 814,
 33595: 815,
 33602: 816,
 33678: 817,
 33732: 818,
 33738: 819,
 33752: 820,
 33757: 821,
 33797: 822,
 33812: 823,
 33840: 824,
 33846: 825,
 33927: 826,
 33934: 827,
 33939: 828,
 33942: 829,
 34000: 830,
 34004: 831,
 34008: 832,
 34024: 833,
 34032: 834,
 34044: 835,
 34058: 836,
 34140: 837,
 34187: 838,
 34191: 839,
 34214: 840,
 34280: 841,
 34284: 842,
 34285: 843,
 34301: 844,
 34302: 845,
 34334: 846,
 34341: 847,
 34350: 848,
 34463: 849,
 34464: 850,
 34472: 851,
 34481: 852,
 34500: 853,
 34502: 854,
 34507: 855,
 34519: 856,
 34520: 857,
 34568: 858,
 34581: 859,
 34582: 860,
 34624: 861,
 34673: 862,
 34675: 863,
 34689: 864,
 34693: 865,
 34696: 866,
 34713: 867,
 34723: 868,
 34742: 869,
 34754: 870,
 34776: 871,
 34856: 872,
 34882: 873,
 34906: 874,
 34908: 875,
 34911: 876,
 34994: 877,
 34995: 878,
 34996: 879,
 35017: 880,
 35037: 881,
 35041: 882,
 35086: 883,
 35111: 884,
 35116: 885,
 35125: 886,
 35158: 887,
 35179: 888,
 35223: 889,
 35259: 890,
 35344: 891,
 35349: 892,
 35377: 893,
 35387: 894,
 35448: 895,
 35456: 896,
 35473: 897,
 35526: 898,
 35531: 899,
 35535: 900,
 35575: 901,
 35585: 902,
 35599: 903,
 35609: 904,
 35615: 905,
 35732: 906,
 35823: 907,
 35826: 908,
 35874: 909,
 35894: 910,
 35936: 911,
 35937: 912,
 35938: 913,
 35960: 914,
 35973: 915,
 36004: 916,
 36064: 917,
 36070: 918,
 36072: 919,
 36074: 920,
 36083: 921,
 36089: 922,
 36091: 923,
 36095: 924,
 36121: 925,
 36134: 926,
 36135: 927,
 36139: 928,
 36145: 929,
 36154: 930,
 36162: 931,
 36180: 932,
 36190: 933,
 36196: 934,
 36198: 935,
 36214: 936,
 36218: 937,
 36224: 938,
 36254: 939,
 36279: 940,
 36304: 941,
 36321: 942,
 36324: 943,
 36336: 944,
 36376: 945,
 36383: 946,
 36413: 947,
 36429: 948,
 36490: 949,
 36520: 950,
 36562: 951,
 36625: 952,
 36658: 953,
 36767: 954,
 36801: 955,
 36810: 956,
 36838: 957,
 36848: 958,
 36853: 959,
 36862: 960,
 36879: 961,
 36888: 962,
 36935: 963,
 36997: 964,
 37013: 965,
 37043: 966,
 37063: 967,
 37072: 968,
 37084: 969,
 37092: 970,
 37101: 971,
 37108: 972,
 37128: 973,
 37140: 974,
 37142: 975,
 37148: 976,
 37156: 977,
 37162: 978,
 37210: 979,
 37234: 980,
 37235: 981,
 37249: 982,
 37269: 983,
 37370: 984,
 37399: 985,
 37430: 986,
 37433: 987,
 37487: 988,
 37554: 989,
 37601: 990,
 37627: 991,
 37726: 992,
 37741: 993,
 37773: 994,
 37790: 995,
 37802: 996,
 37809: 997,
 37825: 998,
 37848: 999,
 ...}